@use '../../../styling/utils';

.str-chat {
  --str-chat__date-separator-color: var(--str-chat__text-low-emphasis-color);
  --str-chat__date-separator-line-color: var(--str-chat__disabled-color);
  --str-chat__date-separator-border-radius: 0;
  --str-chat__date-separator-background-color: transparent;
  --str-chat__date-separator-border-block-start: none;
  --str-chat__date-separator-border-block-end: none;
  --str-chat__date-separator-border-inline-start: none;
  --str-chat__date-separator-border-inline-end: none;
  --str-chat__date-separator-box-shadow: none;
}

.str-chat__date-separator {
  display: flex;
  padding: 2rem;
  align-items: center;
  @include utils.component-layer-overrides('date-separator');
  font: var(--str-chat__body-text);

  &-line {
    flex: 1;
    height: 1px;
    background-color: var(--str-chat__date-separator-line-color);
    border: none;
  }

  > * {
    &:not(:last-child) {
      margin-right: 1rem;
    }
  }
}
