/* Translation indicator: below reminder in message grid. */
.str-chat__message-translation-indicator {
  display: flex;
  align-items: center;
  grid-area: translation-indicator;
  padding-block: var(--spacing-xxs);
  gap: var(--spacing-xxs);
  margin: 0;
  background: transparent;
  color: var(--text-primary);

  &,
  .str-chat__message-translation-indicator__translation-toggle {
    font: var(--str-chat__font-metadata-default);
  }

  .str-chat__message-translation-indicator__sign {
    font: var(--str-chat__font-metadata-emphasis);
  }

  svg path {
    stroke-width: 1.5px;
  }
}
