.str-chat__message--system {
  display: flex;
  padding-block: var(--str-chat__spacing-xs);
  width: 100%;
  justify-content: center;

  .str-chat__message--system__text {
    display: flex;
    max-width: 338px;
    padding: var(--str-chat__spacing-xs) var(--str-chat__spacing-sm);
    justify-content: center;
    align-items: center;
    gap: var(--str-chat__spacing-xs);
    border-radius: var(--str-chat__radius-xl);
    border: 1px solid var(--str-chat__border-core-subtle);
    background: var(--str-chat__background-core-surface-subtle);
    font: var(--str-chat__font-metadata-default);
  }
}
