@use '../../../styling/utils';

$message-active-background-color: transparent;
$message-reactions-host-offset-x: calc(var(--str-chat__spacing-xs) * -1);
$message-bubble-padding: var(--str-chat__spacing-xs);

.str-chat {
  /* The width/height of the message options button(s) */
  --str-chat__message-options-button-size: var(--str-chat__size-32);
  /* The maximum allowed width of the message component */
  --str-chat__message-max-width: 400px;
  /* The maximum allowed width of the message component, if it has attachments */
  --str-chat__message-with-attachment-max-width: 400px;
}

@mixin chat-bubble-spacing {
  padding-inline: var(--str-chat__spacing-xxs);

  p {
    white-space: pre-line;
    margin: 0;
  }
}

@mixin message-grid-no-avatar {
  grid-template-areas:
    'message-saved-for-later'
    'pin-indicator'
    'also-sent-in-channel'
    'message-reminder'
    'translation-indicator'
    'message'
    'translation-notice'
    'custom-metadata'
    'metadata';
  grid-template-columns: 1fr;
}

@mixin message-grid-other-with-avatar {
  grid-template-areas:
    '. message-saved-for-later'
    '. pin-indicator'
    '. also-sent-in-channel'
    '. message-reminder'
    '. translation-indicator'
    'avatar message'
    'avatar translation-notice'
    'avatar custom-metadata'
    'avatar metadata';
  grid-template-columns: auto 1fr;
}

@mixin message-grid-me-with-avatar {
  grid-template-areas:
    'message-saved-for-later .'
    'pin-indicator .'
    'also-sent-in-channel .'
    'message-reminder .'
    'translation-indicator .'
    'message avatar'
    'translation-notice avatar'
    'custom-metadata avatar'
    'metadata avatar';
  grid-template-columns: 1fr auto;
}

@mixin bubble-tail-radius($side, $radius) {
  .str-chat__message-bubble {
    border-end-#{$side}-radius: $radius;

    .str-chat__message-text {
      border-end-#{$side}-radius: $radius;
    }
  }
}

.str-chat__ul,
.str-chat__virtual-list {
  .str-chat__li:hover:not(:has(.str-chat__modal--open)),
  .str-chat__li:focus-within:not(:has(.str-chat__modal--open)),
  .str-chat__li:has(.str-chat__message-options--active) {
    .str-chat__message-options {
      display: flex;
    }

    .str-chat__message--other .str-chat__message-inner {
      margin-inline-end: 0;
    }

    .str-chat__message--me .str-chat__message-inner {
      margin-inline-start: 0;
    }
  }
}

.str-chat__li {
  &:has(.str-chat__message--pinned) {
    position: relative;
    isolation: isolate;

    &::before {
      content: '';
      position: absolute;
      inset-block: 0;
      inset-inline: -9999px;
      background-color: var(--str-chat__background-core-highlight);
      z-index: -1;
      pointer-events: none;
    }
  }

  &:hover:not(:has(.str-chat__reaction-list:hover, .str-chat__modal--open)) {
    background-color: $message-active-background-color;
  }

  &.str-chat__li--top {
    padding-block-start: var(--str-chat__spacing-xs);
    padding-block-end: var(--str-chat__spacing-xxxs);
  }

  &.str-chat__li--bottom {
    padding-block-start: var(--str-chat__spacing-xxxs);
    padding-block-end: var(--str-chat__spacing-xs);
  }

  &.str-chat__li--middle {
    padding-block: var(--str-chat__spacing-xxxs);
  }

  &.str-chat__li--single {
    padding-block: var(--str-chat__spacing-xs);
  }

  &.str-chat__li--middle,
  &.str-chat__li--top {
    .str-chat__message {
      .str-chat__message-metadata {
        display: none;
      }

      > .str-chat__avatar {
        visibility: hidden;
      }

      &.str-chat__message--with-avatar > .str-chat__avatar {
        pointer-events: none;
      }
    }

    .str-chat__message-bubble {
      border-radius: var(--str-chat__message-bubble-radius-group-middle);
    }
  }

  &.str-chat__li--single,
  &.str-chat__li--bottom {
    .str-chat__message--other .str-chat__message-inner {
      @include bubble-tail-radius(start, var(--str-chat__message-bubble-radius-tail));
    }

    .str-chat__message--me .str-chat__message-inner {
      @include bubble-tail-radius(end, var(--str-chat__message-bubble-radius-tail));
    }
  }
}

.str-chat__message-mention {
  font: var(--str-chat__font-body-emphasis);
  color: var(--str-chat__accent-primary);
}

.str-chat__message {
  --str-chat-message-options-size: calc(3 * var(--str-chat__message-options-button-size));

  color: var(--chat-text);
  display: grid;
  word-break: break-word;
  hyphens: auto;
  overflow-wrap: break-word;
  padding-inline: var(--str-chat__message-composer-padding);

  @media (max-width: 767px) {
    --str-chat-message-options-size: var(--str-chat__message-options-button-size);
  }

  a {
    text-decoration: none;
    color: var(--str-chat__chat-text-link);
  }

  .str-chat__avatar:has(~ .str-chat__message-inner) {
    grid-area: avatar;
    align-self: end;
  }

  &:not(.str-chat__message--with-avatar)
    .str-chat__avatar:has(~ .str-chat__message-inner) {
    // hide only avatars next to message bubble, not the rest of them down the tree
    display: none;
  }

  .str-chat__message-pin-indicator {
    grid-area: pin-indicator;
    padding-block: var(--str-chat__spacing-xxs);

    .str-chat__message-pin-indicator__content {
      display: flex;
      align-items: center;
      gap: var(--str-chat__spacing-xxs);
      font: var(--str-chat__font-metadata-emphasis);
      color: var(--str-chat__text-primary);

      .str-chat__message-pin-indicator__icon {
        display: flex;
        align-items: center;

        .str-chat__icon {
          width: var(--str-chat__icon-size-xs);
          height: var(--str-chat__icon-size-xs);

          path {
            stroke-width: 2px;
          }
        }
      }
    }
  }

  .str-chat__message-inner {
    grid-area: message;
    display: grid;
    grid-template-areas:
      'reactions .'
      'message-bubble options'
      'replies replies';
    grid-template-columns: auto 1fr;
    column-gap: var(--str-chat__space-8);
    position: relative;

    .str-chat__message-reactions-host {
      display: flex;
      grid-area: reactions;

      &:has(.str-chat__message-reactions--top) {
        margin-bottom: calc(var(--str-chat__spacing-xxs) * -1);
      }

      &:has(.str-chat__message-reactions--bottom) {
        padding-block: var(--str-chat__spacing-xxs);
      }
    }

    &:has(.str-chat__message-reactions--bottom) {
      grid-template-areas:
        'message-bubble options'
        'replies replies'
        'reactions .';
    }

    .str-chat__message-bubble {
      width: min(100%, var(--str-chat__message-max-width));
      max-width: var(--str-chat__message-max-width);
      min-width: 0;
      display: flex;
      flex-direction: column;
      gap: var(--str-chat__spacing-xs);
      padding: $message-bubble-padding;
      justify-self: flex-start;
      grid-area: message-bubble;
      position: relative;
      border-radius: var(--str-chat__message-bubble-radius-group-bottom);
      background-color: var(--chat-bg);
      overflow: hidden;

      .str-chat__message-text {
        @include chat-bubble-spacing;
        border-radius: calc(
          var(--str-chat__message-bubble-radius-group-bottom) - #{$message-bubble-padding}
        );

        .str-chat__message-text-inner {
          @include utils.prevent-glitch-text-overflow;
        }
      }
    }

    .str-chat__message-options {
      display: none;
    }

    .str-chat__message-options.str-chat__message-options--active,
    &:focus-within .str-chat__message-options {
      display: flex;
    }
  }

  .str-chat__message-metadata {
    grid-area: metadata;
    display: flex;
    flex-wrap: wrap;
    gap: var(--str-chat__spacing-xxs);
    align-items: center;
    height: var(--str-chat__size-24);
    color: var(--str-chat__chat-text-timestamp);
    font: var(--str-chat__font-metadata-default);

    .str-chat__message-metadata__name {
      @include utils.prevent-glitch-text-overflow;
      margin-inline-end: var(--str-chat__spacing-xxs);
    }

    .str-chat__message-edited-indicator {
      margin-inline-start: var(--str-chat__spacing-xs);
    }
  }

  .str-chat__message--blocked-inner {
    @include chat-bubble-spacing;
    border-radius: var(--str-chat__radius-md);
    background-color: var(--chat-bg);

    // todo: once blocked message designs are ready remove this padding?
    padding-block: var(--str-chat__spacing-xs);
  }

  .str-chat__message-error-indicator {
    display: none;
  }

  .str-chat__message-inner--error {
    cursor: pointer;
  }

  &:not(.str-chat__message--with-avatar) {
    @include message-grid-no-avatar;
  }

  &.str-chat__message--other {
    column-gap: var(--str-chat__space-8);
    justify-items: flex-start;

    --chat-bg: var(--str-chat__chat-bg-incoming);
    --chat-bg-attachment: var(--str-chat__chat-bg-attachment-incoming);
    --chat-text: var(--str-chat__chat-text-incoming);
    --chat-border: var(--str-chat__chat-border-incoming);
    --chat-border-on-chat: var(--str-chat__chat-border-on-chat-incoming);
    --chat-reply-indicator: var(--str-chat__chat-reply-indicator-incoming);
    --chat-poll-progress-track: var(--str-chat__chat-poll-progress-track-incoming);
    --chat-poll-progress-fill: var(--str-chat__chat-poll-progress-fill-incoming);
    --chat-thread-connector: var(--str-chat__chat-thread-connector-incoming);

    &.str-chat__message--with-avatar,
    &.str-chat__message--pinned {
      @include message-grid-other-with-avatar;
    }

    &.str-chat__message-with-thread-link {
      @include bubble-tail-radius(start, var(--str-chat__message-bubble-radius-tail));
    }

    .str-chat__message-inner {
      &:not(:has(.str-chat__message-options--active)) {
        margin-inline-end: var(--str-chat-message-options-size);
      }

      .str-chat__message-reactions-host {
        justify-self: flex-end;

        &:has(.str-chat__message-reactions--flipped-horizontally) {
          justify-self: flex-start;
        }

        &:has(.str-chat__message-reactions--top) {
          padding-inline-start: calc($message-reactions-host-offset-x * -1);
          margin-inline-end: $message-reactions-host-offset-x;
        }

        .str-chat__message-reactions.str-chat__message-reactions--segmented.str-chat__message-reactions--bottom
          > .str-chat__message-reactions__list {
          justify-content: flex-start;
          flex-wrap: wrap;
        }
      }
    }
  }

  &.str-chat__message--me {
    --chat-bg: var(--str-chat__chat-bg-outgoing);
    --chat-bg-attachment: var(--str-chat__chat-bg-attachment-outgoing);
    --chat-text: var(--str-chat__chat-text-outgoing);
    --chat-border: var(--str-chat__chat-border-outgoing);
    --chat-border-on-chat: var(--str-chat__chat-border-on-chat-outgoing);
    --chat-reply-indicator: var(--str-chat__chat-reply-indicator-outgoing);
    --chat-poll-progress-track: var(--str-chat__chat-poll-progress-track-outgoing);
    --chat-poll-progress-fill: var(--str-chat__chat-poll-progress-fill-outgoing);
    --chat-thread-connector: var(--str-chat__chat-thread-connector-outgoing);

    column-gap: var(--str-chat__spacing-xs);
    justify-items: flex-end;

    &.str-chat__message--with-avatar,
    &.str-chat__message--pinned {
      @include message-grid-me-with-avatar;
    }

    &.str-chat__message-with-thread-link {
      @include bubble-tail-radius(end, var(--str-chat__message-bubble-radius-tail));
    }

    .str-chat__message-pin-indicator .str-chat__message-pin-indicator__content,
    .str-chat__message-also-sent-in-channel {
      justify-content: flex-end;
    }

    .str-chat__message-bubble {
      justify-self: flex-end;
    }

    .str-chat__message-inner {
      grid-template-areas:
        'reminder reminder'
        '. reactions'
        'options message-bubble'
        'replies replies';
      grid-template-columns: 1fr auto;

      margin-inline-start: var(--str-chat-message-options-size);

      .str-chat__message-options {
        flex-direction: row;
      }

      &:has(.str-chat__message-reactions--bottom) {
        grid-template-areas:
          'reminder reminder'
          'options message-bubble'
          'replies replies'
          '. reactions';
      }

      .str-chat__message-reactions-host {
        justify-self: flex-start;

        &:has(.str-chat__message-reactions--flipped-horizontally) {
          justify-self: flex-end;
        }

        &:has(.str-chat__message-reactions--top) {
          padding-inline-end: calc($message-reactions-host-offset-x * -1);
          margin-inline-start: $message-reactions-host-offset-x;
        }

        .str-chat__message-reactions.str-chat__message-reactions--segmented.str-chat__message-reactions--bottom
          > .str-chat__message-reactions__list {
          justify-content: flex-end;
          flex-wrap: wrap;
        }
      }
    }

    .str-chat__message-metadata {
      justify-content: flex-end;
      text-align: end;
    }
  }

  &.str-chat__message--blocked,
  &.str-chat__message--system {
    grid-template-areas: 'message';
  }

  &.str-chat__message--system {
    grid-template-columns: auto;
  }

  &.str-chat__message--deleted {
    .str-chat__message-bubble {
      padding: var(--str-chat__spacing-sm);

      .str-chat__message-text {
        display: flex;
        align-items: center;
        padding: 0;
        gap: var(--str-chat__spacing-xxs);
      }
    }
  }

  &.str-chat__message--failed {
    .str-chat__message-error-indicator {
      display: block;
      position: absolute;
      top: 8px;
      inset-inline-end: -9px; // -(18px / 2)
    }
  }

  &.str-chat__message--has-attachment {
    --str-chat__message-max-width: var(--str-chat__message-with-attachment-max-width);
  }

  &.str-chat__message--has-single-attachment.str-chat__message--has-giphy-attachment {
    .str-chat__message-bubble {
      padding: 0;
    }

    .str-chat__message-text {
      display: none;
    }
  }

  &.str-chat__message--is-emoji-only {
    &.str-chat__message--is-emoji-only-count-1,
    &.str-chat__message--is-emoji-only-count-2,
    &.str-chat__message--is-emoji-only-count-3 {
      .str-chat__message-inner .str-chat__message-bubble {
        background-color: transparent;
        overflow: visible;
      }

      // remove paddings for large-emoji-only messages
      .str-chat__message-bubble,
      .str-chat__message-inner .str-chat__message-bubble .str-chat__message-text,
      .str-chat__message-inner .str-chat__message-replies-count-button-wrapper {
        padding-inline: 0;
      }
    }

    @each $count, $size in (1: 64px, 2: 48px, 3: 32px) {
      &.str-chat__message--is-emoji-only-count-#{$count} {
        .str-chat__message-inner .str-chat__message-bubble {
          font-size: $size;
          line-height: $size;
        }
      }
    }

    .str-chat__message-replies-count-button-wrapper::after {
      display: none;
    }
  }

  &.str-chat__message--highlighted {
    transition: background-color 0.1s ease-out;
    background-color: var(--str-chat__background-core-highlight);
  }
}
