.str-chat {
  .str-chat__message-status {
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: var(--str-chat__spacing-0_5);
    position: relative;

    svg {
      height: 20px;
      width: 20px;

      path {
        fill: var(--accent-neutral);
      }

      &.str-chat__message-status-read {
        path {
          fill: var(--accent-primary);
        }
      }
    }
  }
}
