@use '../../../styling/utils' as utils;

.str-chat__message-replies-count-button-wrapper {
  grid-area: replies;

  --replies-button-connector-width: 16px;
  --replies-button-connector-height: 36px;
  --replies-button-connector-stroke-width: 1px;

  display: flex;
  padding-block-start: var(--spacing-xxs);
  padding-block-end: var(--spacing-xxs);
  margin-block-start: var(--spacing-xxs);

  position: relative;

  &::after {
    content: '';
    position: absolute;
    height: var(--replies-button-connector-height);
    width: var(--replies-button-connector-width);
    background: transparent;
    align-self: end;
    bottom: calc(50% - var(--replies-button-connector-stroke-width) / 2);
  }

  .str-chat__message-replies-count-button {
    @include utils.unset-button;

    cursor: pointer;

    border-radius: var(--radius-max);
    gap: var(--spacing-xs);
    display: flex;
    flex-direction: row;
    align-items: center;

    color: var(--text-link);
    font: var(--str-chat__font-heading-xs);
  }
}

// TODO: connector styling should be defined here but applied in Message.scss
.str-chat__message.str-chat__message--me {
  .str-chat__message-replies-count-button-wrapper {
    justify-self: flex-end;

    .str-chat__message-replies-count-button {
      flex-direction: row;
    }

    padding-inline-end: var(--spacing-xl);

    &::after {
      border-end-end-radius: var(--radius-max);
      border-inline-end: var(--replies-button-connector-stroke-width) solid
        var(--chat-thread-connector);
      border-block-end: var(--replies-button-connector-stroke-width) solid
        var(--chat-thread-connector);

      inset-inline-end: 0;
    }
  }
}

.str-chat__message.str-chat__message--other {
  .str-chat__message-replies-count-button-wrapper {
    justify-self: flex-start;

    .str-chat__message-replies-count-button {
      flex-direction: row-reverse;
    }

    padding-inline-start: var(--spacing-xl);

    &::after {
      border-end-start-radius: var(--radius-max);
      border-inline-start: var(--replies-button-connector-stroke-width) solid
        var(--chat-thread-connector);
      border-block-end: var(--replies-button-connector-stroke-width) solid
        var(--chat-thread-connector);

      inset-inline-start: 0;
    }
  }
}
