@use '../../../styling/utils';

.str-chat__message-also-sent-in-channel {
  display: flex;
  align-items: center;
  gap: var(--spacing-xxs);
  grid-area: also-sent-in-channel;
  padding-block: var(--spacing-xxs);
  background: transparent;
  color: var(--text-primary);
  font: var(--str-chat__font-metadata-emphasis);

  .str-chat__icon {
    height: var(--spacing-sm);
    width: var(--spacing-sm);

    path {
      stroke-width: 2px;
    }
  }

  .str-chat__message-also-sent-in-channel__link-button {
    @include utils.button-reset;
    cursor: pointer;
    font: var(--str-chat__font-metadata-default);
    color: var(--text-link);
  }
}
