.str-chat {
  --str-chat__quoted-message-bubble-background-color: var(
    --str-chat__secondary-background-color
  );

  .str-chat__message {
    .str-chat__quoted-message-preview {
      background-color: var(--chat-bg-attachment);
      width: calc(
        var(--str-chat__message-with-attachment-max-width) - calc(
            2 * var(--str-chat__spacing-xs)
          )
      );
      max-width: 100%;
      min-width: 0;
    }
  }
}
