/* Saved for Later: above pin indicator. Font and spacing aligned with pin indicator. */
.str-chat__message-saved-for-later {
  display: flex;
  align-items: center;
  gap: var(--spacing-xxs);
  grid-area: message-saved-for-later;
  padding-block: var(--spacing-xxs);
  margin: 0;
  background: transparent;
  color: var(--accent-primary);
  font: var(--str-chat__font-metadata-emphasis);

  .str-chat__icon {
    width: var(--icon-size-xs);
    height: var(--icon-size-xs);

    path {
      stroke-width: var(--icon-stroke-emphasis);
    }
  }
}

/* Remind Me: below pin indicator. Font and spacing aligned with pin indicator. */
.str-chat__message-reminder {
  display: flex;
  align-items: center;
  gap: var(--spacing-xxs);
  grid-area: message-reminder;
  padding-block: var(--spacing-xxs);
  margin: 0;
  background: transparent;
  color: var(--text-primary);
  font: var(--str-chat__font-metadata-emphasis);

  .str-chat__icon {
    path {
      stroke-width: var(--icon-stroke-default);
    }
  }

  .str-chat__message-reminder__time-left {
    font: var(--str-chat__font-metadata-default);
  }
}
