.str-chat__unread-messages-notification {
  --str-chat-icon-color: var(--str-chat__on-primary-color);
  background-color: var(--str-chat__text-low-emphasis-color);
  border-radius: var(--str-chat__border-radius-2xl);
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.15);
  position: absolute;
  top: var(--str-chat__spacing-3);
  z-index: 2;
  display: flex;
  align-items: center;
  overflow: clip;

  button {
    padding-block: var(--str-chat__spacing-2);
    height: 100%;
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    color: var(--str-chat__on-primary-color);
    border: none;
    background-color: transparent;
  }

  button:first-of-type {
    padding-inline: var(--str-chat__spacing-3) var(--str-chat__spacing-2);
    font: var(--str-chat__caption-text);
  }

  button:last-of-type {
    padding-inline: var(--str-chat__spacing-2) var(--str-chat__spacing-3);

    svg {
      width: 0.875rem;
    }
  }
}
