.str-chat__unread-messages-notification {
  --str-chat-icon-color: var(--str-chat__grey50);
  background-color: var(--str-chat__text-low-emphasis-color);
  border-radius: 1.125rem;
  position: absolute;
  top: 0.75rem;
  z-index: 2;
  display: flex;
  align-items: center;
  overflow: clip;

  button {
    padding-block: var(--str-chat__spacing-2);
    height: 100%;
    width: 100%;
    white-space: nowrap;
    cursor: pointer;
    color: var(--str-chat__grey50);
    border: none;
    background-color: transparent;
  }

  button:first-of-type {
    padding-inline: 0.75rem 0.375rem;
    font: var(--str-chat__caption-text);
  }

  button:last-of-type {
    padding-inline: 0.375rem 0.75rem;

    svg {
      width: 0.875rem;
    }
  }
}
