.str-chat__messaging-input {
  background: #ffffff;
  box-shadow: 0px 0px 4px rgba(0, 0, 0, 0.08);
  display: flex;
  align-items: center;
  padding: 8px;
  position: relative;
}

.str-chat__messaging-input > *:not(:first-of-type) {
  margin-left: 8px;
}

.str-chat__textarea {
  height: 36px !important;
  display: flex;
  align-items: center;
}

.str-chat__textarea textarea {
  background: #ffffff;
  font-size: 14px;
  line-height: 16px;
  max-height: 36px !important;
  min-height: 0px;
  transition: box-shadow 0.2s ease-in-out;
  color: rgba(0, 0, 0, 0.9);
  border: none !important;
  outline: none !important;
  border-radius: 20px;
}

.str-chat__textarea textarea:focus {
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.messaging-input__button {
  opacity: 0.5;
  cursor: pointer;
  padding: 0 4px;
  transition: opacity 0.2s ease-in-out;
}

.messaging-input__button svg path {
  transition: fill 0.2s ease-in-out;
  fill: black;
}

.messaging-input__button:hover {
  opacity: 1;
}

.messaging-input__button:hover svg path {
  fill: #005fff !important;
}

.str-chat__input--emojipicker {
  z-index: 1;
}

.str-chat__messaging-input .emoji-mart-bar,
.str-chat__messaging-input .emoji-mart-search input {
  border-color: rgba(0, 0, 0, 0.36);
}

.str-chat.dark .str-chat__messaging-input {
  background: #2e3033;
  border-top: 1px solid rgba(0, 0, 0, 0.16);
}

.str-chat.dark .str-chat__messaging-input .str-chat__textarea textarea {
  background: #323437;
  border: 1px solid rgba(0, 0, 0, 0.16);
  color: rgba(255, 255, 255, 0.9);
}

.str-chat.dark .str-chat__messaging-input .messaging-input__button svg path {
  fill: white;
}

.giphy-icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 24px;
  width: 63px;
  background: #005fff;
  border-radius: 12px;
  margin-left: 8px;
}

.str-chat.dark .giphy-icon__text {
  font-family: Helvetica Neue, sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 8px;
  color: #ffffff;
}

.str-chat.dark .messaging-input__input-wrapper {
  display: flex;
  align-items: center;
  width: 100%;
  min-height: 40px;
  height: fit-content;
  border: 2px solid rgba(0, 0, 0, 0.16);
  z-index: 100;
  border-radius: 20px;
  background: #323437;
}

.str-chat__messaging-input .messaging-input__input-wrapper:focus-within {
  border: 2px solid #005fff;
}

div.rfu-dropzone {
  width: 100%;
}

div.rfu-dropzone:focus {
  outline: none;
}

.rfu-image-previewer {
  flex: none;
  margin-left: 12px;
}

.rfu-image-previewer__image {
  margin-bottom: 0;
}
