.str-chat {
  .str-chat__file-icon {
    fill: none;
    width: 32px;
    height: 40px;
    
    .str-chat__file-icon__label {
      fill: white;
      //font-family: ui-sans-serif, system-ui, -apple-system, Segoe UI, Roboto, Arial;
      font-size: 8px;
      font-weight: 800;
      letter-spacing: 0.1px;
      text-anchor: middle;
    }
  }
}