:root {
  --aicr__bg-primary: var(--ai-demo-bg-primary);
  --aicr__bg-secondary: var(--ai-demo-bg-secondary);
  --aicr__bg-tertiary: var(--ai-demo-bg-tertiary);
  --aicr__text-primary: var(--ai-demo-text-primary);
  --aicr__text-secondary: var(--ai-demo-text-secondary);
}
