@import '../../styles/_variables';

// .social-modal {
//     background: red;
// }

.fullscreen {
    background: red;
    color: red;
    top: 70px;
    bottom: 0;
    height: 700px;
    max-width: 200px;
    font-size: 30px;
}