.str-chat__ai-state-indicator-container {
  padding: 0 8px;
  background-color: var(--str-chat__background-core-surface-default);
}

.str-chat__ai-state-indicator-text {
  color: var(--str-chat__text-primary);
}
