html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.app__wrapper {
  display: flex;
  height: 800px;
  border-radius: 16px;
  box-shadow: rgba(0, 0, 0, 0.33) 0px 1px 4px 0px;
}

.str-chat-channel-list {
  height: fit-content;
  margin-bottom: 8px;
}

.str-chat-channel {
  height: 100%;
}

.str-chat__load-more-button {
  display: none;
}

.str-chat__input-footer {
  display: none;
}

.str-chat__date-separator {
  margin: 16px 24px;
}

.str-chat__message-notification {
  background: rgb(var(--primary-color));
  cursor: pointer;
}
