@use '../../../styling/utils' as utils;

@mixin reaction-button() {
  @include utils.unset-button;
  display: flex;
  cursor: pointer;
  position: relative;
  display: flex;
  gap: var(--str-chat__spacing-xxs);
  padding-inline: var(--str-chat__spacing-xs);
  padding-block: var(--str-chat__spacing-xxxs);
  align-items: center;
  justify-content: center;
  border-radius: var(--str-chat__radius-max);
  border: 1px solid var(--str-chat__reaction-border);
  background: var(--str-chat__reaction-bg);
  color: var(--str-chat__reaction-text);
  box-shadow: 0 4px 12px 0 rgba(0, 0, 0, 0.16);
  font-weight: inherit;
  font-size: inherit;
  line-height: 1;
  user-select: none;

  &:not(:disabled) {
    &:hover,
    &:active,
    &[aria-pressed='true'] {
      &::before {
        content: '';
        position: absolute;
        inset: 0;
        border-radius: inherit;
        width: 100%;
        height: 100%;
      }
    }

    &:hover::before {
      background: var(--str-chat__background-utility-hover);
    }
    &:active::before {
      background: var(--str-chat__background-utility-pressed);
    }
    &[aria-pressed='true']::before {
      background: var(--str-chat__background-utility-selected);
    }
  }
}

@mixin clipping-fade() {
  &::before,
  &::after {
    content: '';
    position: absolute;
    width: 100%;
    inset-inline-start: 0;
    height: var(--str-chat__size-16);
  }

  &::after {
    bottom: 0;
    border-end-end-radius: inherit;
    border-end-start-radius: inherit;
    background: linear-gradient(
      to bottom,
      transparent 5%,
      var(--str-chat__background-core-elevation-2) 95%
    );
  }

  &::before {
    // TODO: figure out a better way (z-index isn't optimal)
    z-index: 1;
    top: 0;
    border-start-end-radius: inherit;
    border-start-start-radius: inherit;
    background: linear-gradient(
      to top,
      transparent 5%,
      var(--str-chat__background-core-elevation-2) 95%
    );
  }
}
