@use './common' as common;

.str-chat__message-reactions {
  display: flex;

  .str-chat__message-reactions__list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    gap: var(--str-chat__spacing-xxs);

    .str-chat__message-reactions__list-item {
      display: flex;

      &--more {
        height: 100%;
      }
    }
  }

  .str-chat__message-reactions__list-button,
  .str-chat__message-reactions__list-item-button {
    @include common.reaction-button;

    .str-chat__message-reactions__list-item-icon {
      font-family: system-ui;
      font-size: var(--str-chat__font-size-size-17);
      line-height: var(--str-chat__typography-line-height-normal);
    }

    .str-chat__message-reactions__total-count,
    .str-chat__message-reactions__overflow-count,
    .str-chat__message-reactions__list-item-count {
      display: flex;
      align-items: center;
      font: var(--str-chat__font-numeric-md);
    }
  }

  &--bottom {
    .str-chat__message-reactions__list-button,
    .str-chat__message-reactions__list-item-button {
      box-shadow: none;
    }
  }
}
