.str-chat__reaction-selector-extended-list {
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  height: 100%;
  padding-block: var(--str-chat__spacing-md);
  padding-inline: var(--str-chat__spacing-sm);

  .str-chat__reaction-selector-extended-list__button {
    .str-chat__reaction-icon {
      height: var(--str-chat__emoji-md);
      width: var(--str-chat__emoji-md);
      font-size: var(--str-chat__emoji-md);
      letter-spacing: var(--typography-letter-spacing-default);
      font-style: normal;
      line-height: 0;
      font-family: system-ui;
      display: flex;
      justify-content: center;
      align-items: center;
    }
  }
}
