node_modules
build
/.cache/
/public/static/styles.js
examples/*/src/serviceWorker.js
scripts/
src/__mocks__
/dist/
/lib/
/bin/
/include/
/build/
*.test.js
dist
*dist*
/src/styles/vendor/
*.md
babel.i18next-extract.js
/built