@layer stream, stream-overrides;
@import 'stream-chat-react/dist/css/index.css' layer(stream);

@layer stream-overrides {
  .str-chat__theme-custom {
    --brand-50: #edf7f7;
    --brand-100: #e0f2f1;
    --brand-150: #b2dfdb;
    --brand-200: #80cbc4;
    --brand-300: #4db6ac;
    --brand-400: #26a69a;
    --brand-500: #009688;
    --brand-600: #00897b;
    --brand-700: #00796b;
    --brand-800: #00695c;
    --brand-900: #004d40;
    --accent-primary: var(--brand-500);
    --radius-full: 6px;
  }
}

html,
body,
#root {
  height: 100%;
}
body {
  margin: 0;
}
#root {
  display: flex;
}

.str-chat__channel-list {
  width: 30%;
}
.str-chat__channel {
  width: 100%;
}
.str-chat__thread {
  width: 45%;
}
