.str-chat__date-separator--floating {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1;
  display: flex;
  justify-content: center;
  pointer-events: none;
}

.str-chat__date-separator {
  background: transparent;
  color: var(--str-chat__chat-text-system);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--str-chat__spacing-xs) 0;

  .str-chat__date-separator-date {
    display: flex;
    padding: var(--str-chat__spacing-xxs) var(--str-chat__spacing-sm);
    justify-content: center;
    align-items: center;
    color: var(--str-chat__chat-text-system);
    background-color: var(--str-chat__background-core-surface-subtle);
    border-radius: var(--str-chat__radius-max);

    font: var(--str-chat__font-metadata-emphasis);
  }
}
