@use '../../../styling/utils';

.str-chat {
  --str-chat__date-separator-color: var(--str-chat__text-low-emphasis-color);
  --str-chat__date-separator-line-color: var(--str-chat__disabled-color);
  --str-chat__date-separator-border-radius: 0;
  --str-chat__date-separator-background-color: transparent;
  --str-chat__date-separator-border-block-start: none;
  --str-chat__date-separator-border-block-end: none;
  --str-chat__date-separator-border-inline-start: none;
  --str-chat__date-separator-border-inline-end: none;
  --str-chat__date-separator-box-shadow: none;
}

.str-chat__date-separator {
  @include utils.component-layer-overrides('date-separator');
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  padding: var(--spacing-xs) 0;


  .str-chat__date-separator-date {
    display: flex;
    padding: var(--spacing-xs) var(--spacing-sm);
    justify-content: center;
    align-items: center;
    color: var(--chat-text-system);
    background-color: var(--background-core-surface-subtle);
    border-radius: var(--radius-max);

    /* metadata/emphasis */
    font-size: var(--typography-font-size-xs);
    font-weight: var(--typography-font-weight-semi-bold);
    line-height: var(--typography-line-height-tight);
  }
}