@use '../../../styling/utils';

.str-chat {
  --str-chat__channel-header-height: 72px;
}

.str-chat__channel-header {
  background: var(--background-core-elevation-1);
  border-block-end: 1px solid var(--border-core-default);
  @include utils.header-layout;

  .str-chat__channel-header__start {
    flex: 1;
    display: flex;
  }

  .str-chat__channel-header__data {
    @include utils.header-text-layout;
    width: unset;
  }

  .str-chat__channel-header__end {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .str-chat__channel-header__data__title,
  .str-chat__channel-header__data__subtitle {
    @include utils.ellipsis-text;
  }

  .str-chat__channel-header__data__title {
    font: var(--str-chat__font-heading-sm);
  }

  .str-chat__channel-header__data__subtitle {
    font: var(--str-chat__font-caption-default);
    color: var(--text-secondary);
  }
}
