@use '../../../styling/utils';

.str-chat {
  --str-chat__channel-header-height: 72px;

  /* The border radius used for the borders of the component */
  --str-chat__channel-header-border-radius: 0;

  /* The text/icon color of the component */
  --str-chat__channel-header-color: 0;

  /* The background color of the component */
  --str-chat__channel-header-background-color: var(--background-core-elevation-1);

  /* Top border of the component */
  --str-chat__channel-header-border-block-start: none;

  /* Bottom border of the component */
  --str-chat__channel-header-border-block-end: 1px solid var(--border-core-default);

  /* Left (right in RTL layout) border of the component */
  --str-chat__channel-header-border-inline-start: none;

  /* Right (left in RTL layout) border of the component */
  --str-chat__channel-header-border-inline-end: none;

  /* Box shadow applied to the component */
  --str-chat__channel-header-box-shadow: none;

  /* The text/icon color used to display member information about the channel */
  --str-chat__channel-header__data__subtitle-color: var(--text-secondary);
}

.str-chat__channel-header {
  @include utils.component-layer-overrides('channel-header');
  @include utils.header-layout;

  .str-chat__channel-header__start {
    flex: 1;
    display: flex;
  }

  .str-chat__channel-header__data {
    @include utils.header-text-layout;
  }

  .str-chat__channel-header__end {
    flex: 1;
    display: flex;
    justify-content: flex-end;
  }

  .str-chat__channel-header__data__title,
  .str-chat__channel-header__data__subtitle {
    @include utils.ellipsis-text;
  }

  .str-chat__channel-header__data__title {
    font: var(--str-chat__heading-sm-text);
  }

  .str-chat__channel-header__data__subtitle {
    font: var(--str-chat__caption-default-text);
    color: var(--str-chat__channel-header__data__subtitle-color);
  }
}
