@use '../../../styling/utils';

.str-chat {
  --str-chat__channel-header-height: 72px;
}

.str-chat__channel-header {
  background: var(--str-chat__background-core-elevation-1);
  border-block-end: 1px solid var(--str-chat__border-core-default);
  @include utils.header-layout;

  .str-chat__channel-header__start {
    justify-self: start;
    min-width: 0;
  }

  .str-chat__channel-header__data {
    @include utils.header-text-layout;
    justify-self: center;
    min-width: 0;
  }

  .str-chat__channel-header__end {
    justify-self: end;
    min-width: 0;
  }

  .str-chat__channel-header__data__title,
  .str-chat__channel-header__data__subtitle {
    @include utils.ellipsis-text;
  }

  .str-chat__channel-header__data__title {
    font: var(--str-chat__font-heading-sm);
  }

  .str-chat__channel-header__data__subtitle {
    font: var(--str-chat__font-caption-default);
    color: var(--str-chat__text-secondary);
  }
}
