@use '../../../styling/utils';

.str-chat__channel-header {
  @include utils.header-layout;
  background-color: var(--str-chat__channel-header-background-color);
  flex: 1;
  min-width: 0;

  .str-chat__header-hamburger,
  .str-chat__header-sidebar-toggle {
    $icon-size: calc(var(--str-chat__spacing-px) * 24);
    @include utils.unset-button;
    flex-shrink: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    width: calc(var(--str-chat__spacing-px) * 40);
    height: calc(var(--str-chat__spacing-px) * 40);
    cursor: pointer;
    color: var(--str-chat__text-color);

    svg {
      width: $icon-size;
      height: $icon-size;
    }

    &:focus-visible {
      @include utils.focusable;
    }
  }

  .str-chat__channel-header-end {
    @include utils.header-text-layout;
    min-width: 0;
  }

  .str-chat__channel-header-title,
  .str-chat__channel-header-subtitle,
  .str-chat__channel-header-info {
    @include utils.ellipsis-text;
  }

  .str-chat__channel-header-title {
    font: var(--str-chat__headline-text);
    color: var(--str-chat__text-color);
  }

  .str-chat__channel-header-subtitle {
    font: var(--str-chat__body-text);
    color: var(--str-chat__text-low-emphasis-color);
  }

  .str-chat__channel-header-info {
    font: var(--str-chat__body-text);
    color: var(--str-chat__text-low-emphasis-color);
  }

  .str-chat__avatar--channel-header {
    flex-shrink: 0;
    margin-inline-start: auto;
  }

  &.str-chat__channel-header--sidebar-collapsed {
    .str-chat__header-sidebar-toggle {
      // Compact styling when sidebar collapsed
    }
  }
}
