@import '../../styles/_variables';

.input-ui {
  &-container {
    position: relative;
    display: flex;
    align-items: end;
    border-top: 1px solid $stroke;
    background: $app-canvas;
    transition: background 1s;
    box-shadow: 0px -1px 0px #dbdde1;
  }

  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding-bottom: 8px;

    &:hover {
      cursor: pointer;
    }

    svg:hover path {
      fill: $accent-primary;
    }

    &-attach {
      display: flex;
      padding: 0 13px;
    }

    &-bolt {
      display: flex;
      padding: 9px 6px;
    }

    &-emoji {
      display: flex;
      width: 100%;
      padding: 8px 0 10px;
    }
  }

  &-input {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    min-height: 40px;
    height: fit-content;
    padding: 0 8px 0 5px;
    margin: 8px;
    background: $app-bg;
    border: 1px solid $borders;
    border-radius: 20px;
    flex: none;
    flex-grow: 1;
    transition: background 1s, border-color 0.2s;

    &-emoji-picker {
      display: flex;

      &:hover {
        cursor: pointer;
      }

      svg:hover path {
        fill: $accent-primary;
      }
    }

    &.giphy {
      border: 2px solid $accent-primary;
      caret-color: $accent-primary;
    }

    &:focus-within {
      border: 2px solid $accent-primary;
      caret-color: $accent-primary;
    }
  }

  &-send {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    height: 40px;
    width: 40px;
    background: $app-canvas;
    transition: background 1s;
    margin: 8px 8px 8px 0;
    color: $text-low-emphasis;
    font-size: 17px;

    svg {
      fill: $text-low-emphasis;
    }

    &.text {
      &:hover {
        cursor: pointer;
      }

      svg path:first-child {
        fill: $accent-primary;
        transition: all 0.2s;
      }

      div {
        color: $accent-primary;
      }
    }

    &:active {
      background: $accent-primary;
      transition: background 1s;
      color: $white;

      svg {
        fill: $white;
      }
    }
  }
}

.str-chat__textarea {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.str-chat__textarea textarea {
  background: $app-bg !important;
  transition: background 1s;
  padding: 0 !important;
  padding-left: 11px !important;
  border: none !important;
  min-height: unset !important;
  font-size: 17px;
  border-radius: 0;
  color: $text-low-emphasis;
}

.str-chat__textarea textarea:focus {
  background: $app-bg;
  transition: background 1s;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.str-chat__input--emojipicker {
  z-index: 1;
}

.emoji-mart {
  width: 320px !important;
  background: $app-canvas;
  transition: background 1s;
  box-shadow: $shadow;
  border-color: $stroke;

  &-category-label {
    background: $app-canvas;
    transition: background 1s;
    color: $text-high-emphasis;

    span {
      background: $app-canvas;
      transition: background 1s;
    }
  }
  &-bar {
    display: none;
  }

  &-search {
    display: none;
  }
}

div.rta__autocomplete.str-chat__emojisearch {
  z-index: 999;
  background: $app-canvas;
  box-shadow: $shadow;
  border-radius: 8px;
}

.rta__list-header {
  padding: 0;
}

.rfu-dropzone {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.rfu-dropzone__notifier {
  height: 40px !important;
  border-radius: 40px !important;
  width: 97% !important;
}

.rfu-dropzone:focus {
  outline: none !important;
}

.rfu-image-previewer {
  flex: none !important;
  // border-bottom: 2px solid $disabled !important; // only if images and files
  width: 100%;
  // margin: 8px 0 8px 9px !important;
}

.rfu-image-previewer__image {
  margin-bottom: 0 !important;
}

.rfu-image-upload-button {
  display: none;
}

.emoji-mart {
  display: flex !important;
  flex-direction: column-reverse !important;
}

.emoji-mart-bar {
  border-top: 2px solid $borders !important;
  display: flex;
  flex-direction: column;
}
