@import '../../styles/_variables';

.chat-info {
    &-divider {
        background: $borders;
        height: 8px;
        width: 100%;
    }

    &-name {
        display: flex;
        background: $app-bg;
        height: 56px;
        align-items: center;
        padding: 8px 5px;

        &-contents {
            flex-grow: 3;

            &-label {
                color: $text-low-emphasis;
                font-weight: 400;
                font-size: 13px;
                margin: 0 15px;
            }
        }

        &-save {
            color: $accent-primary;
            font-weight: 400;
            font-size: 13px;
            margin-right: 15px;

            &:hover {
                cursor: pointer;
            }
        }

        &-edit {
            background: $app-bg;
            color: $text-high-emphasis;
            font-size: 17px;
            border: none;
            font-weight: 500;
            
            &:focus {
                border: none;
                outline: none;
                box-shadow: none;
                background: $app-bg;
            }
        }
    }

    &-option {
        display: flex;
        width: 100%;
        flex-direction: row;
        align-items: center;
        background-color: $app-bg;
        border-bottom: 1px solid $borders;
        padding: 8px 5px;
        height: 56px;
        font-size: 17px;
        font-weight: 500;

        &-start {
            flex-grow: 3;
        }

        &-end {
            margin-right: 15px;
        }

        svg {
            margin: 0 15px;
          }

        &-delete {
            display: flex;
            width: 100%;
            flex-direction: row;
            align-items: center;
            background-color: $app-bg;
            padding: 8px 5px;
            height: 56px;
            color: $accent-error;
            font-size: 17px;
            font-weight: 500;

            &:hover {
                background: $borders;
                cursor: pointer;
            }

            svg {
                path {
                  fill: $accent-error;
                }
      
                margin: 0 15px;
              }
        }
    }
}