#chat {
  position: fixed;
  top: 80px;
  left: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  height: calc(100% - 80px);
  border: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  z-index: 999999;
}
