body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body,
#root {
  margin: unset;
  padding: unset;
  height: 100%;
}

.str-chat__chat-view {
  .str-chat__chat-view__channels {
    .str-chat__channel {
      width: 100%;
    }
    .str-chat__channel-list {
      width: 350px;
      min-width: 350px;
    }
    .str-chat__thread {
      min-width: 350px;
      width: 30%;
    }
  }

  .str-chat__chat-view__threads {
    .str-chat__thread-list-container {
      width: 350px;
      min-width: 350px;
    }

    .str-chat__channel {
      width: 100%;
    }
  }
}

@media screen and (max-width: 1024px) {
  .str-chat__chat-view {
    display: flex;
    flex-direction: column-reverse;

    .str-chat__chat-view__selector {
      border-right: none;
      border-top: 1px solid var(--str-chat-selector-border-color);
      flex-direction: row;
      justify-content: center;
      padding-block: 8px;
    }

    .str-chat__chat-view__channels {
      position: relative;

      .str-chat__channel-header .str-chat__header-hamburger {
        background-color: unset;
        margin: unset;
        border: unset;
        padding-inline: 8px;
        display: flex;
        color: var(--str-chat__text-low-emphasis-color);
        & > svg {
          width: 25px;
        }
      }

      .str-chat__channel-list {
        display: none;
      }

      .str-chat__thread {
        position: absolute;
        width: 100%;
      }

      .str-chat__channel-list.str-chat__channel-list--open {
        position: absolute;
        width: 100%;
        display: block;
        z-index: 1;
      }
    }

    .str-chat__chat-view__threads {
      position: relative;

      .str-chat__thread-list-container:has(~ .str-chat__channel .str-chat__container:empty) {
        position: absolute;
        height: 100%;
        width: 100%;
        z-index: 1;
      }

      .str-chat__thread-list-container:has(~ .str-chat__channel .str-chat__container:not(:empty)) {
        display: none;
      }
    }
  }
}
