@layer stream, stream-overrides;

@import url('./stream-imports-theme.scss') layer(stream);
@import url('./stream-imports-layout.scss') layer(stream);

// v3 CSS import
@import url('stream-chat-react/dist/css/index.css');

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  display: flex;
  height: 100vh;
}

@layer stream-overrides {
  .str-chat {
    --max-content-width: 800px;
  }

  .str-chat__channel-list, .str-chat__thread-list-container {
    flex-basis: 350px;
    flex-shrink: 0;
  }

  .str-chat__channel {
    width: 100%;
  }

  .str-chat__main-panel, .str-chat__thread-container {
    align-items: center;
  }
  .str-chat__main-panel-inner {
    width: 100%;
  }

  .str-chat__message-list-scroll {
    max-width: var(--max-content-width);
    width: 100%;
  }
  
  .str-chat__channel-header, .str-chat__thread-header {
    max-width: var(--max-content-width);
    width: 100%;
  }

  .str-chat__message-input {
    max-width: var(--max-content-width);
    // scrollbar-gutter: stable;
    // scrollbar-width: thin;
    // overflow-y: hidden;
    // flex-shrink: 0;
  }

  .str-chat__list, .str-chat__virtual-list {
    display: flex;
    justify-content: center;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }
}
