@layer stream, stream-overrides;

@import url('stream-chat-react/dist/css/v2/index.css') layer(stream);

:root {
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  margin: 0;
}

#root {
  display: flex;
  height: 100vh;
}

@layer stream-overrides {
  .str-chat__channel-list {
    flex-basis: 350px;
    flex-shrink: 1;
  }

  .str-chat__channel {
    flex-grow: 1;
  }

  .str-chat__message-list-scroll {
    max-width: 800px;
    width: 100%;
  }

  .str-chat__list {
    display: flex;
    justify-content: center;
    scrollbar-gutter: stable;
    scrollbar-width: thin;
  }
}
