@use 'stream-chat-react/dist/scss/v2/base';
//@use 'stream-chat-react/dist/scss/v2/global-layout-variables';
@use 'stream-chat-react/dist/scss/v2/icons';

//@use 'stream-chat-react/dist/scss/v2/Avatar/Avatar-layout';
//@use 'stream-chat-react/dist/scss/v2/AttachmentList/AttachmentList-layout';
//@use 'stream-chat-react/dist/scss/v2/AttachmentPreviewList/AttachmentPreviewList-layout'; // X
//@use 'stream-chat-react/dist/scss/v2/Autocomplete/Autocomplete-layout';
//@use 'stream-chat-react/dist/scss/v2/AudioRecorder/AudioRecorder-layout';
@use 'stream-chat-react/dist/scss/v2/BaseImage/BaseImage-layout';
//@use 'stream-chat-react/dist/scss/v2/Channel/Channel-layout';
@use 'stream-chat-react/dist/scss/v2/ChannelHeader/ChannelHeader-layout';
@use 'stream-chat-react/dist/scss/v2/ChannelList/ChannelList-layout';
@use 'stream-chat-react/dist/scss/v2/ChannelPreview/ChannelPreview-layout';
@use 'stream-chat-react/dist/scss/v2/ChannelSearch/ChannelSearch-layout';
@use 'stream-chat-react/dist/scss/v2/common/CTAButton/CTAButton-layout';
@use 'stream-chat-react/dist/scss/v2/common/CircleFAButton/CircleFAButton-layout';
//@use 'stream-chat-react/dist/scss/v2/Dialog/Dialog-layout';
@use 'stream-chat-react/dist/scss/v2/DragAndDropContainer/DragAndDropContainer-layout';
@use 'stream-chat-react/dist/scss/v2/DropzoneContainer/DropzoneContainer-layout'; // X
//@use 'stream-chat-react/dist/scss/v2/EditMessageForm/EditMessageForm-layout';
//@use 'stream-chat-react/dist/scss/v2/Form/Form-layout';
@use 'stream-chat-react/dist/scss/v2/ImageCarousel/ImageCarousel-layout';
//@use 'stream-chat-react/dist/scss/v2/Icon/Icon-layout';
@use 'stream-chat-react/dist/scss/v2/InfiniteScrollPaginator/InfiniteScrollPaginator-layout';
//@use 'stream-chat-react/dist/scss/v2/LinkPreview/LinkPreview-layout'; // X
@use 'stream-chat-react/dist/scss/v2/LoadingIndicator/LoadingIndicator-layout';
@use 'stream-chat-react/dist/scss/v2/Location/Location-layout';
//@use 'stream-chat-react/dist/scss/v2/Message/Message-layout';
//@use 'stream-chat-react/dist/scss/v2/MessageActionsBox/MessageActionsBox-layout';
//@use 'stream-chat-react/dist/scss/v2/MessageBouncePrompt/MessageBouncePrompt-layout';
//@use 'stream-chat-react/dist/scss/v2/MessageInput/MessageInput-layout'; // X
//@use 'stream-chat-react/dist/scss/v2/MessageList/MessageList-layout';
//@use 'stream-chat-react/dist/scss/v2/MessageList/VirtualizedMessageList-layout';
// @use 'stream-chat-react/dist/scss/v2/MessageReactions/MessageReactions-layout';
@use 'stream-chat-react/dist/scss/v2/MessageReactions/MessageReactionsSelector-layout';
//@use 'stream-chat-react/dist/scss/v2/Modal/Modal-layout';
@use 'stream-chat-react/dist/scss/v2/Notification/MessageNotification-layout';
@use 'stream-chat-react/dist/scss/v2/Notification/NotificationList-layout';
@use 'stream-chat-react/dist/scss/v2/Notification/Notification-layout';
//@use 'stream-chat-react/dist/scss/v2/Poll/Poll-layout';
@use 'stream-chat-react/dist/scss/v2/Search/Search-layout';
@use 'stream-chat-react/dist/scss/v2/Thread/Thread-layout';
@use 'stream-chat-react/dist/scss/v2/Tooltip/Tooltip-layout';
@use 'stream-chat-react/dist/scss/v2/TypingIndicator/TypingIndicator-layout';
@use 'stream-chat-react/dist/scss/v2/ThreadList/ThreadList-layout';
//@use 'stream-chat-react/dist/scss/v2/ChatView/ChatView-layout';
@use 'stream-chat-react/dist/scss/v2/UnreadCountBadge/UnreadCountBadge-layout';
@use 'stream-chat-react/dist/scss/v2/AIStateIndicator/AIStateIndicator-layout';
