.str-chat__button.str-chat__attachment-preview__remove-button {
  position: absolute;
  z-index: 1;
  // todo: do we need semantic variable here?
  top: -6px;
  right: -6px;
  // todo: replace --base-black with semantic variable
  background-color: var(--base-black);
  border: 3px solid var(--control-remove-control-border);
  border-radius: var(--radius-max);
}