html,
body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
*,
*:after,
*:before {
  box-sizing: inherit;
}

#root {
  width: 100%;
  height: 100vh;
  background: url('https://images.pexels.com/photos/1421903/pexels-photo-1421903.jpeg')
    top left no-repeat;
  background-size: cover;
}

.str-chat {
  height: 100%;
  max-height: 100%;
  display: flex;
  align-items: flex-end;
}
.str-chat.commerce {
  background: none;
}

.str-chat-channel .str-chat__container {
  height: auto;
  max-height: 100%;
  border-radius: 10px;
  width: 415px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 20px;
  top: 60px;
  align-items: flex-end;
  justify-content: flex-end;
  height: 100%;
  height: calc(100% - 40px);
  padding: 30px 0;
  /* margin: 30px 0; */
}

.wrapper--open .str-chat__container {
  height: 100%;
}

.button {
  height: 60px;
  width: 60px;
  margin-top: 16px;
  border-radius: 60px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 0 0 60px;

  background: #ffffff;
  background-image: linear-gradient(
    -180deg,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(0, 0, 0, 0.1) 100%
  );
  border: 1px solid rgba(255, 255, 255, 0.18);
  box-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.5),
    inset 0 1px 0 0 rgba(255, 255, 255, 0.24);
  cursor: pointer;
}

.button svg {
  fill: #000;
  opacity: 0.8;
}

.button--closed svg {
  position: relative;
  left: 3px;
  fill: #0043f7;
}
.button:hover svg {
  opacity: 1;
}

@media screen and (max-width: 414px) {
  .str-chat-channel .str-chat__container {
    width: 360px;
  }
}
