.App {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: flex-end;
  background: url('../assets/bg.png') top left no-repeat;
  background-size: cover;
}

.str-chat__commerce {
  margin: 100px 120px 30px;
  width: 400px;
  border-radius: 10px;
  overflow: hidden;
}
