.str-chat__channel-list-item-container {
  // display: flex;
  padding: var(--str-chat__spacing-xxs);
  position: relative;

  &:has(.str-chat__channel-list-item__action-buttons--active),
  &:hover {
    .str-chat__channel-list-item__action-buttons {
      display: flex;
    }
  }

  .str-chat__channel-list-item__action-buttons {
    display: none;
    position: absolute;
    gap: var(--str-chat__spacing-xs);

    border-radius: var(--str-chat__radius-md, 8px);
    background: var(--str-chat__background-core-elevation-3, #fff);

    box-shadow:
      0 0 0 1px rgba(0, 0, 0, 0.05),
      0 2px 4px 0 rgba(0, 0, 0, 0.12),
      0 6px 16px 0 rgba(0, 0, 0, 0.06);

    inset-inline-end: 10px;
    top: 10px;
    padding: var(--str-chat__spacing-xxs);

    & > .str-chat__button.str-chat__button--size-sm.str-chat__button--circular {
      padding-inline: var(--str-chat__button-padding-x-icon-only-xs);
      padding-block: var(--str-chat__button-padding-x-icon-only-xs);
    }
  }

  border-bottom: 1px solid var(--str-chat__border-core-subtle);
}

.str-chat__channel-list-item__action-buttons-context-menu {
  min-width: 150px;
}

.str-chat__channel-list-item {
  display: flex;
  gap: var(--str-chat__spacing-md);
  align-items: center;
  padding: var(--str-chat__spacing-sm);
  border: none;
  background: none;
  cursor: pointer;
  text-align: start;
  font-family: var(--str-chat__typography-font-family-sans);
  border-radius: var(--str-chat__radius-lg);
  width: 100%;

  background: var(--str-chat__background-core-elevation-1);
  &:not(:disabled):hover {
    background: var(--str-chat__background-utility-hover);
  }
  &:not(:disabled):active {
    background: var(--str-chat__background-utility-pressed);
  }
  &:not(:disabled)[aria-pressed='true'] {
    background: var(--str-chat__background-utility-selected);
  }

  .str-chat__avatar {
    flex-shrink: 0;
  }

  .str-chat__channel-list-item-data {
    display: flex;
    flex-direction: column;
    gap: var(--str-chat__spacing-xxs);
    flex-shrink: 1;
    flex-grow: 1;
    min-width: 0;

    .str-chat__channel-list-item-data__first-row {
      display: flex;
      justify-content: space-between;
      align-items: center;
      gap: var(--str-chat__spacing-md);

      .str-chat__channel-list-item-data__title {
        flex-shrink: 1;
        flex-grow: 1;
        min-width: 0;

        display: flex;
        align-items: inherit;
        gap: var(--str-chat__spacing-xxs);
        font-size: var(--str-chat__typography-font-size-sm);
        font-weight: var(--str-chat__typography-font-weight-semi-bold);
        line-height: var(--str-chat__typography-line-height-normal);
        color: var(--str-chat__text-primary);

        & > span {
          overflow-x: hidden;
          text-overflow: ellipsis;
          white-space: nowrap;
        }

        & > .str-chat__icon--mute {
          color: var(--str-chat__text-tertiary);
          width: var(--str-chat__icon-size-sm);
          height: var(--str-chat__icon-size-sm);
        }
      }

      .str-chat__channel-list-item-data__timestamp-and-badge {
        flex-shrink: 0;
        display: flex;
        align-items: inherit;
        gap: var(--str-chat__spacing-xs);

        .str-chat__channel-list-item-timestamp {
          font-weight: var(--str-chat__typography-font-weight-regular);
          font-size: var(--str-chat__typography-font-size-sm);
          color: var(--str-chat__text-tertiary);
          line-height: var(--str-chat__typography-line-height-normal);
        }
      }
    }
  }
}
