@layer stream-app-overrides {
  .app__custom-delete-message-alert__options {
    display: flex;
    flex-direction: column;
    gap: 8px;
    margin-bottom: 12px;
    width: 100%;
  }

  .app__custom-delete-message-alert__options .str-chat__form__switch-field {
    display: flex;
    justify-content: space-between;
    border: 1px solid var(--str-chat__border-core-default);
    border-radius: 10px;
    padding: 6px 8px;
    font: var(--str-chat__metadata-emphasis-text);
  }
}
