.str-chat__new-message-notification {
  position: absolute;
  inset-block-end: 16px;
  inset-inline-start: 0;
  inset-inline-end: 0;
  z-index: 2;
  display: flex;
  justify-content: center;

  .str-chat__message-notification__label {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: var(--str-chat__spacing-xxs) var(--str-chat__spacing-sm);
    background-color: var(--str-chat__background-core-surface-subtle);
    border-radius: var(--str-chat__radius-max);
    font: var(--str-chat__font-metadata-emphasis);
    color: var(--str-chat__chat-text-system);
  }
}
