.str-chat__unread-messages-separator-wrapper {
  padding-block: var(--str-chat__spacing-xs);
  display: flex;
  justify-content: center;

  .str-chat__unread-messages-separator {
    display: flex;
    align-items: center;
    width: fit-content;
    padding: var(--str-chat__spacing-xxs) var(--str-chat__spacing-xs);
    background: var(--str-chat__background-core-elevation-1);
    border-radius: var(--str-chat__button-radius-lg);
    border: 1px solid var(--str-chat__button-secondary-border);
    overflow: clip;

    .str-chat__unread-messages-separator__text {
      padding-inline: var(--str-chat__spacing-xs) var(--str-chat__spacing-xxs);
      border-radius: var(--str-chat__button-radius-lg) 0 0
        var(--str-chat__button-radius-lg);
      font: var(--str-chat__font-caption-emphasis);
      text-transform: lowercase;
    }

    button.str-chat__button--secondary,
    button.button.str-chat__button--outline {
      border: none;
    }

    button {
      svg {
        height: 16px;
        width: 16px;
      }
    }
  }
}
