.str-chat {
  .str-chat__unread-messages-notification {
    display: flex;
    align-items: center;
    background: var(--str-chat__background-core-elevation-1);
    border-radius: var(--str-chat__button-radius-lg);
    border: 1px solid var(--str-chat__button-secondary-border);
    /* shadow/web/light/elevation-2 */
    box-shadow:
      0 0 0 1px rgba(0, 0, 0, 0.05),
      0 2px 4px 0 rgba(0, 0, 0, 0.12),
      0 6px 16px 0 rgba(0, 0, 0, 0.06);
    position: absolute;
    top: 40px;
    z-index: 2;
    overflow: clip;

    &.str-chat__unread-messages-notification--with-count button {
      text-transform: lowercase;
    }

    button.str-chat__button--secondary,
    button.button.str-chat__button--outline {
      border: none;
    }

    button:first-of-type {
      display: flex;
      align-items: center;
      gap: var(--str-chat__spacing-xs);
      border-radius: var(--str-chat__button-radius-lg) 0 0
        var(--str-chat__button-radius-lg);
      padding: var(--str-chat__button-padding-y-md) var(--str-chat__spacing-xxs)
        var(--str-chat__button-padding-y-md)
        var(--str-chat__button-padding-x-with-label-md);
      font: var(--str-chat__font-caption-emphasis);
    }

    button:last-of-type {
      border-radius: 0 var(--str-chat__button-radius-lg) var(--str-chat__button-radius-lg)
        0;
      padding: var(--str-chat__button-padding-y-md)
        var(--str-chat__button-padding-x-with-label-md)
        var(--str-chat__button-padding-y-md) var(--str-chat__spacing-xxs);

      svg {
        height: 16px;
        width: 16px;
      }
    }
  }
}
