@use '../../../styling/utils';

// todo: React SDK specific. Copied from V1. Deprecate after merging with MessageList

// Layout
.str-chat__virtual-list {
  @include utils.scrollable;
  position: relative;
  flex: 1;
  -webkit-overflow-scrolling: touch; /* enable smooth scrolling on ios */
  margin: 0;
  width: 100%;
  /* Max container = composer width + padding; matches message list */
  max-width: calc(var(--str-chat__message-composer-max-width) + var(--str-chat__message-composer-padding));
  height: 100%;

  .str-chat__message-list-scroll {
    overscroll-behavior: none;
  }

  .str-chat__message-list-scroll > div {
    @include utils.message-list-spacing;
  }

  .str-chat__parent-message-li {
    padding-block-end: var(--str-chat__spacing-4);

    .str-chat__thread-start {
      text-align: start;
      padding-top: var(--str-chat__spacing-3);
    }
  }

  // conditionally showing the header displaces items when prepending.
  // a simple workaround is to make the loading indicator an overlay.
  &__loading {
    display: flex;
    padding-top: var(--str-chat__spacing-2);
    justify-content: center;
    width: 100%;
    position: absolute;
  }

  p {
    margin: 0 !important; // always use padding, margin mess up the height calculations

    a {
      white-space: pre-line;
      overflow: hidden;
      word-wrap: break-word;
    }
  }

  .str-chat__message {
    margin-block-end: 0 !important;
  }
}

// Theme (only available in React SDK)
.str-chat {
  /* The border radius used for the borders of the component */
  --str-chat__virtual-list-border-radius: 0;

  /* The text/icon color of the component */
  --str-chat__virtual-list-color: var(--str-chat__text-color);

  /* The background color of the component */
  --str-chat__virtual-list-background-color: var(--str-chat__background-color);

  /* Box shadow applied to the component */
  --str-chat__virtual-list-box-shadow: none;

  /* Top border of the component */
  --str-chat__virtual-list-border-block-start: none;

  /* Bottom border of the component */
  --str-chat__virtual-list-border-block-end: none;

  /* Left (right in RTL layout) border of the component */
  --str-chat__virtual-list-border-inline-start: none;

  /* Right (left in RTL layout) border of the component */
  --str-chat__virtual-list-border-inline-end: none;
}

.str-chat__virtual-list {
  @include utils.component-layer-overrides('virtual-list');

  .str-chat__parent-message-li {
    border-block-end: 1px solid var(--str-chat__thread-head-start-border-block-end-color);

    .str-chat__thread-start {
      color: var(--str-chat__thread-head-start-color);
      font: var(--str-chat__subtitle-text);
    }
  }
}
