.str-chat__modal__poll-answer-list {
  .str-chat__poll-answer-list {
    height: 100%;

    .str-chat__infinite-scroll-paginator {
      scrollbar-width: none;
      height: 100%;

      .str-chat__infinite-scroll-paginator__content {
        display: flex;
        flex-direction: column;
        gap: var(--str-chat__spacing-md);
        padding-bottom: var(--str-chat__spacing-xl);
      }
    }

    .str-chat__loading-indicator-placeholder {
      width: 100%;
      height: calc(
        var(--str-chat__loading-indicator-size) + (2 * var(--str-chat__spacing-xxs))
      );
      display: flex;
      justify-content: center;
    }

    .str-chat__poll-answer {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: var(--str-chat__spacing-xxs);
      align-self: stretch;
      border-radius: var(--str-chat__radius-lg);
      background: var(--str-chat__background-core-surface-card);

      .str-chat__poll-answer__data {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: var(--str-chat__spacing-xs);
        align-self: stretch;
        padding: var(--str-chat__spacing-md);

        .str-chat__avatar {
          height: var(--str-chat__spacing-xl);
          width: var(--str-chat__spacing-xl);
        }

        p {
          margin: 0;
        }

        .str-chat__poll-answer__text {
          font: var(--str-chat__font-body-default);
        }

        .str-chat__poll-vote {
          padding-inline: var(--str-chat__spacing-none);
          padding-block: 0;
        }
      }

      .str-chat__poll-vote__update-vote-button-container {
        display: flex;
        justify-content: center;
        width: 100%;
        padding: var(--str-chat__spacing-xs) var(--str-chat__spacing-md);
        border-top: 1px solid var(--str-chat__border-core-default);
      }
    }
  }
}
