@use '../../../styling/utils';

.str-chat {
  .str-chat__poll {
    $checkmark_size: 24px;
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    padding: var(--spacing-xs);
    min-width: 260px;
    max-width: 400px;
    font-size: var(--typography-font-size-sm);
    font-weight: var(--typography-font-weight-regular);
    line-height: var(--typography-line-height-tight);

    button {
      @include utils.button-reset;
      cursor: pointer;
    }

    .str-chat__checkmark {
      grid-column: 1;
      grid-row: span 2;
      align-self: center;
      height: $checkmark_size;
      width: $checkmark_size;
      border-radius: var(--str-chat__border-radius-circle);
      border: 1px solid var(--str-chat__disabled-color);
    }

    .str-chat__checkmark--checked {
      height: calc($checkmark_size + 1px);
      width: calc($checkmark_size + 1px);
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Im00IDkuNC00LTRMMS40IDQgNCA2LjYgMTAuNiAwIDEyIDEuNGwtOCA4WiIvPjwvc3ZnPg==');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 11px 10px;
      background-color: var(--str-chat__primary-color);
      border: none;
    }

    .str-chat__poll-header {
      .str-chat__poll-title {
        font-size: var(--typography-font-size-md);
        font-weight: var(--typography-font-weight-semi-bold);
        line-height: var(--typography-line-height-normal);
      }
    }

    .str-chat__poll-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-xs);
    }

    .str-chat__poll-option-list {
      .str-chat__poll-option {
        &.str-chat__poll-option--votable:hover {
          cursor: pointer;
        }

        .str-chat__poll-option__votes-bar {
          background: linear-gradient(
            to right,
            var(--chat-poll-progress-fill-incoming)
              var(--str-chat__amount-bar-fulfillment),
            var(--chat-poll-progress-track-incoming)
              var(--str-chat__amount-bar-fulfillment)
          );
          border-radius: calc(var(--str-chat__spacing-px) * 4);
        }

        .str-chat__poll-option__votes-bar--winner {
          background: linear-gradient(
            to right,
            var(--chat-poll-progress-fill-incoming)
              var(--str-chat__amount-bar-fulfillment),
            var(--str-chat__surface-color) var(--str-chat__amount-bar-fulfillment)
          );
        }
      }
    }
  }

  .str-chat__button.str-chat__poll-action {
    width: 100%;
    color: var(--str-chat__primary-color);
    border: 1px solid var(--chat-border-on-chat-incoming);
    font-size: var(--typography-font-size-sm);
    padding: var(--button-padding-y-sm) var(--button-padding-x-with-label-sm);

    &.str-chat__poll-action--additional {
      border: none;
    }
  }

  .str-chat__poll-option-list--full {
    .str-chat__amount-bar {
      display: none;
    }
  }

  .str-chat__poll-option {
    cursor: pointer;

    &.str-chat__poll-option--full-vote-list {
      cursor: default;
      height: 100%;
      padding: 0;
    }

    .str-chat__poll-option-data {
      flex: 1;
      display: flex;
      align-items: center;
      gap: var(--spacing-sm);

      p {
        margin: 0;
        flex: 1;
      }

      .str-chat__poll-option-voters {
        --str-chat__avatar-size: 1.175rem;
        display: flex;
      }

      .str-chat__poll-option-vote-count {
        font-size: var(--typography-font-size-xs);
        line-height: var(--typography-line-height-tight);
      }
    }
  }

  .str-chat__poll-option-list:not(.str-chat__poll-option-list--full) {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-md);

    .str-chat__poll-option {
      display: grid;
      grid-template-columns: minmax(0, auto) 1fr;
      grid-template-rows: 1fr auto;
      row-gap: var(--spacing-xs);

      &.str-chat__poll-option--votable {
        column-gap: var(--spacing-sm);
      }

      .str-chat__poll-option-data {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
      }

      .str-chat__poll-option__votes-bar {
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        height: 8px;
        width: 100%;
      }
    }
  }

  .str-chat__message--me {
    .str-chat__poll {
      .str-chat__poll-option-list:not(.str-chat__poll-option-list--full) {
        .str-chat__poll-option__votes-bar {
          background: linear-gradient(
            to right,
            var(--chat-poll-progress-fill-outgoing)
              var(--str-chat__amount-bar-fulfillment),
            var(--chat-poll-progress-track-outgoing)
              var(--str-chat__amount-bar-fulfillment)
          );
        }

        .str-chat__poll-option__votes-bar--winner {
          background: linear-gradient(
            to right,
            var(--chat-poll-progress-fill-outgoing)
              var(--str-chat__amount-bar-fulfillment),
            var(--chat-poll-progress-track-outgoing)
              var(--str-chat__amount-bar-fulfillment)
          );
        }
      }

      .str-chat__poll-actions {
        .str-chat__poll-action {
          border: 1px solid var(--chat-border-on-chat-outgoing);

          &.str-chat__poll-action--additional {
            border: none;
          }
        }
      }
    }
  }

  .str-chat__poll-vote-listing {
    padding: 0 1rem 0.75rem;
  }

  .str-chat__poll-option-list--full {
    overflow: clip;

    .str-chat__poll-option {
      display: flex;
      flex-direction: row;
      padding: 1rem 0.75rem;

      &:nth-of-type(1) {
        padding-top: 1rem;
        border-top-left-radius: var(--str-chat__border-radius-sm);
        border-top-right-radius: var(--str-chat__border-radius-sm);
      }

      &:last-child {
        padding-bottom: 1rem;
        border-bottom-left-radius: var(--str-chat__border-radius-sm);
        border-bottom-right-radius: var(--str-chat__border-radius-sm);
      }
    }
  }

  .str-chat__poll--closed {
    .str-chat__poll-option {
      &:hover {
        cursor: unset;
      }
    }
  }

  .str-chat__modal,
  .str-chat__poll-actions .str-chat__modal {
    .str-chat__poll-answer__text,
    .str-chat__modal__poll-option-list__title,
    .str-chat__modal__poll-results__title {
      font: var(--str-chat__subtitle-medium-text);
    }

    .str-chat__poll-option-list--full,
    .str-chat__poll-answer,
    .str-chat__modal__poll-option-list__title,
    .str-chat__modal__poll-results__title,
    .str-chat__poll-option {
      background-color: var(--str-chat__tertiary-surface-color);
    }

    .str-chat__poll-option-list--full {
      .str-chat__poll-option-text {
        font-weight: 500;
      }

      .str-chat__poll-option--votable:hover {
        background-color: var(--str-chat__secondary-surface-color);
      }
    }

    .str-chat__poll-option {
      .str-chat__poll-option__header {
        font: var(--str-chat__subtitle-text);

        .str-chat__poll-option__option-text {
          font: var(--str-chat__subtitle-medium-text);
        }
      }

      .str-chat__poll-option__show-all-votes-button {
        font: var(--str-chat__subtitle-text);
        color: var(--str-chat__primary-color);
      }
    }
  }

  .str-chat__poll-vote {
    .str-chat__poll-vote__author__name {
      text-transform: capitalize;
    }

    .str-chat__poll-vote__timestamp {
      color: var(--str-chat__text-low-emphasis-color);
    }
  }
}
