$poll-checkmark-size: var(--str-chat__size-24);

.str-chat__poll-option-list {
  display: flex;
  flex-direction: column;
  gap: var(--str-chat__spacing-md);

  .str-chat__poll-option {
    display: grid;
    grid-template-columns: minmax(0, auto) 1fr;
    grid-template-rows: 1fr auto;
    row-gap: var(--str-chat__spacing-xs);
    align-items: start;

    &.str-chat__poll-option--votable {
      column-gap: var(--str-chat__spacing-sm);

      &:hover {
        cursor: pointer;
      }
    }

    .str-chat__checkmark {
      grid-column: 1;
      grid-row: span 2;
      height: $poll-checkmark-size;
      width: $poll-checkmark-size;
      border-radius: var(--str-chat__radius-max);
      border: 1px solid
        var(--chat-border-on-chat, var(--str-chat__chat-border-on-chat-incoming));
    }

    .str-chat__checkmark--checked {
      background-image: url('data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIGZpbGw9Im5vbmUiPjxwYXRoIGZpbGw9IiNmZmYiIGQ9Im00IDkuNC00LTRMMS40IDQgNCA2LjYgMTAuNiAwIDEyIDEuNGwtOCA4WiIvPjwvc3ZnPg==');
      background-repeat: no-repeat;
      background-position: center;
      background-size: 11px 10px;
      background-color: var(--str-chat__control-radio-check-bg-selected);
      border: none;
    }

    .str-chat__poll-option-data {
      flex: 1;
      display: flex;
      align-items: baseline;
      gap: var(--str-chat__spacing-xs);
      grid-column: 2 / 3;
      grid-row: 1 / 2;
      min-height: 24px;
      padding-block: var(--str-chat__spacing-xxxs);

      p {
        margin: 0;
        flex: 1;
        word-break: break-word;
        hyphens: auto;
      }

      .str-chat__poll-option-votes {
        display: flex;
        align-items: center;
        gap: var(--str-chat__spacing-xxs);

        .str-chat__poll-option-voters {
          --str-chat__avatar-size: 1.175rem;
          display: flex;
        }

        .str-chat__poll-option-vote-count {
          text-align: right;
          font: var(--str-chat__font-metadata-default);
        }
      }
    }

    .str-chat__poll-option__votes-bar {
      grid-column: 2 / 3;
      grid-row: 2 / 3;
      height: 8px;
      width: 100%;
      background: linear-gradient(
        to right,
        var(--chat-poll-progress-fill, var(--str-chat__chat-poll-progress-fill-incoming))
          var(--str-chat__amount-bar-fulfillment),
        var(
            --chat-poll-progress-track,
            var(--str-chat__chat-poll-progress-track-incoming)
          )
          var(--str-chat__amount-bar-fulfillment)
      );
      border-radius: var(--str-chat__size-4);
    }
  }
}
