@use '../../../styling/utils';

.str-chat {
  .str-chat__poll {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xl);
    padding: var(--spacing-xs);
    width: calc(
      var(--str-chat__message-with-attachment-max-width) - calc(2 * var(--spacing-xs))
    );
    max-width: 100%;
    min-width: 260px;
    font: var(--str-chat__font-caption-default);

    button {
      @include utils.button-reset;
      cursor: pointer;
    }

    .str-chat__poll-header {
      .str-chat__poll-title {
        font: var(--str-chat__font-body-emphasis);
      }
    }

    .str-chat__poll-actions {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: var(--spacing-xs);
    }

    .str-chat__button.str-chat__poll-action {
      width: 100%;
      border: 1px solid var(--chat-border-on-chat);
      padding: var(--button-padding-y-sm) var(--button-padding-x-with-label-sm);
      font: var(--str-chat__font-caption-emphasis);

      &.str-chat__poll-action--additional {
        border: none;
      }
    }
  }
}
