.str-chat__modal__poll-question {
  display: flex;
  padding: var(--str-chat__spacing-md);
  flex-direction: column;
  align-items: flex-start;
  gap: var(--str-chat__spacing-xxs);
  align-self: stretch;
  border-radius: var(--str-chat__radius-lg);
  background: var(--str-chat__background-core-surface-card);

  .str-chat__modal__poll-question__label {
    font: var(--str-chat__font-heading-xs);
    color: var(--str-chat__text-tertiary);
  }

  .str-chat__modal__poll-question__text {
    font: var(--str-chat__font-heading-sm);
    color: var(--str-chat__text-primary);
  }
}
