@use '../../../styling/utils';

.str-chat__modal__poll-option-list {
  .str-chat__modal__poll-option-list__body {
    @include utils.scrollable-y;
    scrollbar-width: none;
    display: flex;
    flex-direction: column;
    gap: var(--str-chat__spacing-2xl);
    padding-bottom: var(--str-chat__spacing-xl);

    .str-chat__poll-option-list--full {
      gap: var(--str-chat__spacing-xs);
      scrollbar-width: none;
      padding: var(--str-chat__spacing-xs);
      border-radius: var(--str-chat__radius-lg);
      background-color: var(--str-chat__background-core-surface-card);

      .str-chat__poll-option {
        padding: var(--str-chat__spacing-xs);
        border-radius: var(--str-chat__radius-md);
      }
      .str-chat__poll-option--votable {
        &:hover {
          background-color: var(--str-chat__background-utility-hover);
        }
      }
    }
  }
}
