.str-chat {
  .str-chat__icon--paperclip {
    fill: none;
    width: 16px;
    height: 16px;

    path {
      stroke: currentColor;
      stroke-linecap: round;
      stroke-width: 1.2;
    }
  }
}
