.str-chat {
  .str-chat__icon--arrow-rotate-clockwise {
    fill: none;
    width: 16px;
    height: 16px;

    path {
      stroke: white;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5;
    }
  }
}
