.str-chat__icon--chain-link {
  fill: none;
  height: 12px;
  width: 12px;

  path {
    stroke: currentColor;
    stroke-linecap: round;
    stroke-width: 1.2;
  }

  #clip-path rect {
    fill: var(--base-white);
    height: 12px;
    width: 12px;
  }
}