.str-chat {
  .str-chat__icon--paper-plane {
    height: 16px;
    width: 16px;
    fill: none;
    stroke-width: 1.5;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
  }
}
