.str-chat__icon--chevron-right {
  fill: none;
  height: 16px;
  width: 16px;

  path {
    fill: none;
    stroke: currentColor;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-width: 1.5;
  }
}
