.str-chat {
  .str-chat__icon--double-checkmark {
    fill: none;
    height: 16px;
    width: 16px;

    path {
      fill: currentColor;
      stroke-linecap: round;
      stroke-linejoin: round;
      stroke-width: 1.5;
    }
  }
}