.str-chat__icon--poll {
  fill: none;
  height: 10px;
  width: 10px;

  path {
    fill: none;
    stroke: currentColor;
    stroke-linecap: square;
    stroke-linejoin: round;
    stroke-width: 1.2;
  }
}
