@use 'IconArrowRotateClockwise';
@use 'IconClose';
@use 'IconExclamationCircle';
@use 'IconExclamationTriangle';
@use 'IconMicrophone';
@use 'IconPaperPlane';
@use 'IconPause';
@use 'IconPlaySolid';
@use 'IconPlus';