.str-chat__empty-channel {
  --str-chat-icon-color: var(--str-chat__text-tertiary);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: var(--str-chat__spacing-md);
  position: relative;
  gap: var(--str-chat__spacing-xs);
  text-align: center;
  background: var(--str-chat__background-core-app);
  color: var(--str-chat__text-secondary);
  font: var(--str-chat__font-caption-default);

  svg {
    width: 32px;
    height: 32px;
    color: var(--str-chat-icon-color);
  }

  .str-chat__empty-channel-text {
    margin: 0;
    max-width: 230px;
  }
}
