.color-slider__container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 80px;
}

.color-slider__top {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(0, 0, 0, 0.198071);
  border-radius: 15px;
  width: 100px;
  height: 30px;
  cursor: pointer;
}

.color-slider__top__text {
  font-family: Inter, serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 0.8px;
  color: #0a0a0a;
  margin: 0;
}

.color-slider__top__circle {
  width: 22px;
  height: 22px;
  border-radius: 11px;
  background: rgb(var(--primary-color));
  box-shadow: rgba(0, 0, 0, 0.33) 0px 1px 4px 0px;
}

.color-slider__picker-wrapper {
  position: absolute;
  top: 60px;
  cursor: pointer;
  height: 40px;
  width: 240px;
  background: #ffffff;
  box-shadow: 0px 2px 7px rgba(8, 30, 88, 0.1981);
  border-radius: 99px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.5s ease-in-out;
}

.color-slider__pointer {
  position: absolute;
  top: -6px;
  border-radius: 15px;
  background: rgb(var(--primary-color));
  height: 24px;
  width: 24px;
  transform: translate(-9px, -1px);
  box-shadow: rgba(0, 0, 0, 0.33) 0px 1px 4px 0px;
}

div.hue-horizontal {
  background: linear-gradient(
    to right,
    #cc0000 0%,
    #cccc00 17%,
    #00cc00 33%,
    #00cccc 50%,
    #0000cc 67%,
    #cc00cc 83%,
    #cc0000 100%
  );
}
