@import '../../styles/_variables';

.social-channelheader {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  min-height: 54px;
  width: 100%;
  background-color: $bars-bg;
  border-bottom: 1px solid $borders;
  padding-left: 8px;
}
