/* fonts */
$main-font: 'IBM Plex Sans', sans-serif;
$second-font: 'Helvetica Neue', Helvetica, Arial, sans-serif;
$mono-font: Consolas, 'Andale Mono WT', 'Andale Mono', 'Lucida Console', 'Lucida Sans Typewriter',
  'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Liberation Mono', 'Nimbus Mono L', Monaco,
  'Courier New', Courier, monospace;

$base-font-weight: 400;
$heavy-font-weight: 700;

/* colors */
$primary-color: magenta;
$secondary-color: #006cff;
$secondary-faded: #bcd8ff;

$dt-bg-team: #1d1f22;

$border-color: rgba(0, 0, 0, 0.08);

$black: #000000;
$white: #ffffff;
$grey: #f0f0f0;
$lighten-black: grey;
$darken-grey: #343434;
$lighten-grey: #858585;

/* miscellaneous */
$assetsPath: '../assets';
$border-radius: 16px;

:root {
  /* fonts */
  --main-font: #{$main-font};
  --second-font: #{$second-font};
  --mono-font: #{$mono-font};

  --base-font-weight: #{$base-font-weight};
  --heavy-font-weight: #{$heavy-font-weight};

  /* colors */
  --primary-color: #{$primary-color};
  --secondary-color: #{$secondary-color};
  --secondary-faded: #{$secondary-faded};

  --dt-bg-team: #{$dt-bg-team};

  --border-color: #{$border-color};

  --black: #{$black};
  --lighten-black: #{$lighten-black};
  --white: #{$white};
  --grey: #{$grey};
  --darken-grey: #{$darken-grey};
  --lighten-grey: #{$lighten-grey};

  /* miscellaneous */
  --assetsPath: '../assets';
  --border-radius: #{$border-radius};
}

// Shadow, Background, Color, Border, Fill, Font

//----------------------------------------------------------------_base
//Background
// background-color: #f1f1f3;
// background: rgba(255, 255, 255, 0.97);
//Font
// font-family: var(--second-font);
// font-family: var(--second-font);
// font-family: var(--second-font);

//---------------------------------------------------------------- ActionsBox
//BoxShadow
// box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
// box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.08);
//Background
// background: var(--white);
// background: none;
//Color
// color: var(--secondary-color);
//Border
// border: none;
//Font
// font-size: 12px;

//---------------------------------------------------------------- Attachment
//Background
// background: transparent;
// background: var(--white);
// background: transparent;
// background: transparent;
// background: rgba(255, 255, 255, 0.29);
//Color
// color: var(--black);
// color: var(--black);
//Border
// border-left: 1px solid rgba(0, 0, 0, 0.1);
// border-left: none;
//Font
// font-size: 14px;
// font-weight: var(--heavy-font-weight);
// font-size: 12px;
// font-weight: bold;

//---------------------------------------------------------------- AttachmentActions
//BoxShadow
// box-shadow: 0 0 0 2px rgba(0, 108, 255, 0.36);
//Background
// background: none;
// background-color: var(--secondary-color);
//Color
// color: var(--white);
//Border
// border: none;
// border: 1px solid var(--secondary-color);
// border: 2px solid var(--border-color);

//----------------------------------------------------------------Audio
//Background
// background: var(--white);
// background: rgba(var(--black), 0.4);
// background: rgba(var(--black), 0.1);
// background: var(--secondary-color);
//Color
// color: rgba(var(--white), 0.69);
//Fill
// fill: rgba(var(--white), 0.69);
//Font
// font-size: 3em;
// font-size: 12px;

//---------------------------------------------------------------- ChannelHeader
//BoxShadow
// box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07);
// box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
// box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.1);
// box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.03), 0 1px 0 0 rgba(0, 0, 0, 0.03);
//Background
// background: var(--white);
// background: none;
// background: var(--white);
// background-color: red;
// background-color: rgba(0, 0, 0, 0.1);
// background: rgba(255, 255, 255, 0.9);
// background: rgba(255, 255, 255, 0.29);
// background: rgba(255, 255, 255, 0.81);
// background: var(--secondary-color);
// background: var(--secondary-faded);
//Color
// color: red;
// color: rgba(0, 0, 0, 0.4);
//Border
// border-bottom: 1px solid rgba(0, 0, 0, 0.08);
// border: 0;
// border: 1px solid rgba(0, 0, 0, 0.1);
//Fill
// fill: rgba(0, 0, 0, 0.8);
//Font
// font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// font-size: 14px;
// font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// font-size: 14px;
// font-weight: 700;
// font-weight: 400;
// font-size: 13px;
// font-weight: 600;
// font-size: 14px;
// font-size: 25px;
// font-weight: 400;
// font-size: 15px;

//---------------------------------------------------------------- ChannelList
//BoxShadow
// box-shadow: 1px 0 0 0 rgba(0, 0, 0, 0.07);
// box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.09);
// box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.12), 0 1px 4px 0 rgba(0, 0, 0, 0.09),
// box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.09);
// box-shadow: 7px 0 9px 0 rgba(0, 0, 0, 0.03), 1px 0 0 0 rgba(0, 0, 0, 0.03);
//Background
// background: #f2f3f5;
// background: var(--white);
// background: var(--white);
// background: rgba(0, 0, 0, 0.08);
//Color
// color: var(--secondary-color);
//Border
// border-bottom: 1px solid rgba(0, 0, 0, 0.08);
// border: 1px solid transparent;
// border: 1px solid var(--secondary-color);
//Font
// font-size: 14px;

//---------------------------------------------------------------- ChannelPreview
//BoxShadow
// box-shadow: inset 0 0 0 1px var(--secondary-color), inset 0 0 0 2px rgba(0, 108, 255, 0.36);
// box-shadow: inset 0 0 0 1px var(--secondary-color), inset 0 0 0 2px rgba(0, 108, 255, 0.36);
// box-shadow: 0 1px 0 0 rgba(0, 0, 0, 0.07);
// box-shadow: none;
// box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07);
//Background
// background: none;
// background: var(--white);
// background: lightgray;
// background: var(--secondary-color);
// background-color: var(--primary-color);
// background: none;
// background: var(--white);
// background: #004ab3;
// background: rgba(255, 255, 255, 0);
// background: rgba(255, 255, 255, 0.9);
//Color
// color: black;
// color: var(--black);
// color: var(--lighten-black);
// color: white;
// color: var(--white);
// color: var(--white);
// color: rgba(255, 255, 255, 0.69);
// color: var(--black);
// color: var(--black);
// color: var(--white);
//Border
// border: none;
// border-bottom: 1px solid rgba(0, 0, 0, 0.08);
// border: none;
// border-bottom: 1px solid rgba(0, 0, 0, 0.08);
// border: none;
// border: none;
//Font
// font-size: 13px;
// font-size: 12px;
// font-weight: var(--heavy-font-weight);
// font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// font-size: 14px;
// font-weight: 700;
// font-size: 13px;
// font-size: 14px;
// font-weight: 600;
// font-weight: 600;

//---------------------------------------------------------------- ChannelSearch
//BoxShadow
// box-shadow: 0 0 0 2px rgba(0, 108, 255, 0.36);
// box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.03), 0 1px 0 0 rgba(0, 0, 0, 0.03);
//Background
// background: rgba(0, 0, 0, 0.05);
// background: var(--white);
// background: var(--white);
// background: #f1f1f3;
// background: #f1f1f3;
// background: #f1f1f3;
// background: var(--white);
// background: var(--white);
//Color
// color: var(--black);
// color: var(--lighten-black);
//Border
// border: 1px solid transparent;
// border: 1px solid var(--secondary-color);
// border: 1px solid rgba(0, 0, 0, 0.1);
//Font
// font-size: 14px;
// font-weight: bold;
// font-weight: bold;

//---------------------------------------------------------------- DateSeparator
//Background
// background-color: rgba(0, 0, 0, 0.1);
//Color
// color: rgba(0, 0, 0, 0.7);
//Border
// border: none;
//Font
// font-size: 14px;
// font-weight: var(--heavy-font-weight);
// font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;

//---------------------------------------------------------------- EditMessageForm
//BoxShadow
// box-shadow: inset 0 0 0 1px var(--secondary-color);
// box-shadow: inset 0 0 0 1px var(--secondary-color), 0 0 0 2px rgba(0, 108, 255, 0.36);
//Background
// background: var(--white);
// background: none;
//Color
// color: rgba(0, 0, 0, 0.4);
// color: var(--secondary-color);
//Border
// border: 1px solid transparent;
// border: none;
//Fill
// fill: var(--black);
//Font
// font-size: 15px;
// font-weight: var(--heavy-font-weight);

//----------------------------------------------------------------EventComponent

//Color
// color: rgba(0, 0, 0, 0.5);
// color: rgba(0, 0, 0, 0.5);
//Font
// font-size: 15px;
// font-size: 11px;
// font-size: 15px;
// font-size: 11px;

//----------------------------------------------------------------Gallery
//Background
// background: var(--white);
// background-color: rgba(0, 0, 0, 0.69);
//Color
// color: var(--white);

//---------------------------------------------------------------- LoadingChannels
//Background
// background: #f2f3f5;

//---------------------------------------------------------------- LoadMoreButton
//BoxShadow
// box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.07);
// box-shadow: none;
//Background
// background: rgba(255, 255, 255, 0.9);
// background: transparent;
//Border
// border: 0;
// border: 0;
//Font
// font-size: 14px;
// font-size: 14px;

//---------------------------------------------------------------- Message
//Background
// background: #ebebeb;
// background: var(--white);
// background: var(--white);
// background-color: rgba(0, 0, 0, 0.1);
// background: var(--white);
// background: var(--secondary-faded);
// background: transparent;
// background: #ebebeb;
// background: var(--secondary-faded);
// background: transparent;
// background: rgba(var(--white), 0.1);
// background: rgba(var(--white), 0.1);
// background: rgba(208, 2, 27, 0.1);
// background: transparent;
// background: transparent;
// background: transparent;
// background: transparent;
// background: var(--white);
// background: #ebebeb;
// background: var(--white);
// background: #ebebeb;
//Color
// color: rgba(0, 0, 0, 0.5);
// color: rgba(0, 0, 0, 0.5);
// color: var(--black); /* variables */
// color: rgba(0, 0, 0, 0.5);
// color: var(--primary-color);
// color: var(--darken-grey);
// color: var(--darken-grey);
// color: var(--secondary-color);
// color: var(--secondary-color);
// color: rgba(0, 0, 0, 0.6);
//Border
// border: none;
// border-bottom: 1px solid #ebebeb;
// border: 1px solid var(--border-color);
// border: 1px solid var(--secondary-color);
// border-color: transparent;
// border: 1px solid var(--secondary-color);
// border: 1px solid transparent;
// border: none;
// border: 1px solid rgba(208, 2, 27, 0.1);
// border-left: initial;
// border: 1px solid rgba(0, 0, 0, 0.08);
// border-color: transparent;
// border: 1px solid #ebebeb;
// border-color: transparent;
// border-bottom: transparent;
// border-top-color: transparent;
// border-bottom: 1px solid #ebebeb;
// border-top: 1px solid #ebebeb;
//Font
// font-size: 10px;
// font-weight: bold;
// font-size: 15px; /* variables */
// font-size: 32px;
// font-size: 11px;
// font-weight: var(--heavy-font-weight);
// font-size: 32px;
// font-weight: var(--heavy-font-weight);
// font-weight: var(--heavy-font-weight);
// font-size: 12px;
// font-size: 12px;
// font-size: 12px;
// font-family: var(--second-font);
// font-weight: var(--heavy-font-weight);
// font-style: italic;
// font-size: 25px;
// font-style: italic;
// font-size: 11px;
// font-size: 10px;
// font-family: 'Material Icons', sans-serif;

//---------------------------------------------------------------- MessageActions
//BoxShadow
// box-shadow: 0 0 2px 0 rgba(0, 0, 0, 0.22), 0 1px 0 0 rgba(0, 0, 0, 0.08),
//Background
// background: var(--white);
// background: none;
//Color
// color: var(--black);
// color: var(--secondary-color);
//Border
// border: none;
// border-bottom: 1px solid rgba(0, 0, 0, 0.07);
//Fill
// fill: grey;
// fill: var(--primary-color);
//Font
// font-size: 12px;

//---------------------------------------------------------------- MessageInput
//BoxShadow
// box-shadow: 0 -1px 3px 0 rgba(0, 0, 0, 0.05), 0 -1px 0 0 rgba(0, 0, 0, 0.07);
// box-shadow: 0 0 0 2px rgba(0, 108, 255, 0.36);
// box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.31), 0 0 6px 0 rgba(0, 0, 0, 0.12);
// box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.31), 0 0 6px 0 rgba(0, 0, 0, 0.12);
// box-shadow: 0 -1px 1px 0 rgba(0, 0, 0, 0.1);
//Background
// background: var(--white);
// background: var(--white);
// background: var(--white);
// background: var(--white);
// background: rgba(240, 240, 240, 0.95);
// background-color: var(--secondary-color);
// background: rgba(var(--secondary-color), 0.7);
// background: rgba(red, 0.7);
// background: rgba(255, 255, 255, 0.29);
// background: rgba(255, 255, 255, 0.26);
// background: rgba(255, 255, 255, 0.29);
//Color
// color: var(--lighten-black);
// color: rgba(0, 0, 0, 0.5);
// color: var(--white);
// color: var(--white);
//Border
// border: 1px solid rgba(0, 0, 0, 0.1);
// border: 1px solid var(--secondary-color);
// border: 1px dashed transparent;
// border: 1px solid rgba(0, 0, 0, 0.2);
//Fill
// fill: rgba(0, 0, 0, 0.6);
// fill: rgba(0, 0, 0, 1);
// fill: rgba(0, 0, 0, 0.6);
//Font
// font-family: var(--second-font);
// font-size: 20px;
// font-weight: bold;
// font-size: 12px;
// font-style: italic;
// font-size: 15px;
// font-size: 14px;
// font-size: 14px;
// font-weight: bold;
// font-size: 12px;
// font-size: 12px;
// font-size: 14px;
// font-size: 12px;
// font-size: 12px;
// font-weight: 800;
// font-size: 12px;
// font-size: 13px;
// font-size: 18px;
// font-weight: bold;

//----------------------------------------------------------------MessageInputFlat
//BoxShadow
// box-shadow: 0 0 0 3px rgba(0, 108, 255, 1);
//Background
// background: var(--white);
// background: #ebebeb;
// background: var(--white);
// background: rgba(0, 0, 0, 0.05);
// background: var(--white);
// background: transparent;
//Border
// border-top: 1px solid rgba(0, 0, 0, 0.1);
// border-left: none;
// border: none;
// border: none;
// border: none;
//Fill
// fill: var(--black);
// fill: var(--black);
//Font
// font-size: 14px;
// font-size: 15px;
// font-size: 24px;
// font-weight: bold;

//----------------------------------------------------------------MessageList
//Background
// background: rgba(2, 208, 2, 0.1);
// background: rgba(208, 2, 27, 0.1);
// background: rgba(208, 2, 27, 0.1);
// background: var(--white);
// background: var(--white);
// background: rgba(var(--white), 0.04);
// background: rgba(var(--white), 0.04);
// background: var(--white);
//Color
// color: green;
// color: #f00;
// color: #f00;
//Border
// border: 1px solid rgba(2, 208, 2, 0.1);
// border: 1px solid rgba(208, 2, 27, 0.1);
// border: 1px solid rgba(208, 2, 27, 0.1);
//Font
// font-size: 12px;
// font-family: var(--second-font);
// font-size: 12px;
// font-family: var(--second-font);

//----------------------------------------------------------------MessageRepliesCountButton
//Background
// background: none;
//Color
// color: var(--secondary-color);
//Border
// border: none;
//Fill
// fill: rgba(0, 0, 0, 0.1);
//Font
// font-size: 12px;
// font-weight: 700;

//----------------------------------------------------------------Modal
//Background
// background: var(--black);
// background: var(--white);
//Color
// color: var(--white);
//Fill
// fill: var(--white);
//Font
// font-size: 14px;

//----------------------------------------------------------------Panel
//BoxShadow
// box-shadow: 0 0 1px 0 rgba(0, 0, 0, 0.31), 0 0 6px 0 rgba(0, 0, 0, 0.12);
// box-shadow: inset 0 0 0 2px rgba(0, 108, 255, 0.36);
//Background
// background: var(--grey);
// background: transparent;
// background-color: var(--lighten-grey);
//Border
// border-color: var(--secondary-color);
// background-color: var(--lighten-grey);
// border-color: transparent;
//Font
// font-size: 14px;

//----------------------------------------------------------------ReactionSelector
//BoxShadow
// box-shadow: 0 3px 1px 0 rgba(0, 0, 0, 0.07), 0 11px 8px 0 rgba(0, 0, 0, 0.15);
//Background
// background: rgba(0, 0, 0, 0.81);
// background-color: #1a1a1a;
// background-color: var(--primary-color);
// background: rgba(24, 25, 28, 0.98);
// background: rgba(0, 0, 0, 0.81);
// background-color: #1a1a1a;
//Color
// color: var(--white);
// color: var(--white);
// color: var(--white);
//Border
// border: 1.5px solid var(--white);
// border: 1.5px solid var(--white);
// border: 1px solid rgba(224, 224, 224, 0.03);
//Font
// font-size: 20px;
// font-size: 10px;
// font-weight: 700;
// font-size: 13px;
// font-size: 13px;

//----------------------------------------------------------------SimpleReactionsList
//Background
// background: rgba(0, 0, 0, 0.81);
//Color
// color: var(--white);
// color: black;
//Border
// border: 1px solid rgba(0, 0, 0, 0.1);
// border-left: 4px solid transparent;
// border-right: 4px solid transparent;
// border-top: 4px solid rgba(0, 0, 0, 0.81);
//Font
// font-size: 13px;
// font-size: 11px;

//----------------------------------------------------------------Thread
//BoxShadow
// box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14);
// box-shadow: none;
// box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.03), 0 1px 0 0 rgba(0, 0, 0, 0.03);
//Background
// background: #f1f1f3;
// background: #f1f1f3;
// background: rgba(153, 196, 255, 0.1);
// background: #ebebeb;
// background: var(--white);
// background: var(--white);
// background: transparent;
// background: var(--white);
// background: var(--white);
// background: var(--white);
// background: var(--white);
// background: transparent;
// background: rgba(255, 255, 255, 0.29);
//Color
// color: var(--white);
// color: var(--white);
// color: var(--white);
// color: var(--white);
//Border
// border-bottom: 1px solid #ebebeb;
// border: none;
// border: none;
//Font
// font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
// font-size: 14px;
// font-size: 12px;
// font-size: 12px;

//---------------------------------------------------------------- Tooltip
//Background
// background: var(--black);
// background: none;
// background: var(--black);
//Color
// color: var(--white);
// color: var(--secondary-color);
// color: var(--secondary-color);
//Border
// border: none;
//Font
// font-size: 11px;
// font-size: 11px;
// font-family: var(--second-font);

// ----------------------------------------------------------------TypingIndicator
//Background
// background: var(--white);
// background: var(--secondary-color);
//Border
// border: 1px solid rgba(0, 0, 0, 0.08);

//----------------------------------------------------------------VirtualMessage
//Background
// background: ghostwhite;
// background-color: lightslategray;
//Color
// color: var(--secondary-color);
// color: var(--secondary-color);
//Fill
// fill: var(--black);
//Font
// font-size: 0;
// font-size: 1rem;
// font-size: 0.7rem;
// font-size: 0.9rem;
// font-weight: var(--heavy-font-weight);

//BoxShadow
//Background
//Color
//Border
//Fill

//Font
//Weight
//Regular 400
//semi bold 600
//bold 700
