.str-chat__channel-search {
  padding: 20px 10px 0;
  display: flex;
  align-items: center;
  position: relative;

  input {
    flex: 1;
    background: rgba(0, 0, 0, 0.05);
    border: 1px solid transparent;
    outline: none;
    $height: 30;

    height: $height + px;
    border-radius: $height/2 + px;
    color: $black;
    font-size: 14px;
    padding: 0 10px;

    &::placeholder {
      color: lighten($black, 50%);
    }

    &:focus {
      background: white;
      border: 1px solid $secondary-color;
      box-shadow: 0 0 0 2px rgba(0, 108, 255, 0.36);
      transition: all 0.2s ease-in-out;
    }
  }

  &-container.popup {
    position: absolute;
    border-radius: 10px;
    background: white;
    width: 300px;
    left: 300px;
    top: 20px;
    z-index: 2;
    padding: 10px;
    box-shadow: 0 7px 9px 0 rgba(0, 0, 0, 0.03), 0 1px 0 0 rgba(0, 0, 0, 0.03);
    border: 1px solid rgba(0, 0, 0, 0.1);
  }

  &-result {
    display: flex;
    align-items: center;
    border-radius: 10px;
    height: 40px;
    padding: 10px;
    cursor: pointer;

    &:hover {
      background: #f1f1f3;
      font-weight: bold;
      transition: all 0.2s ease-in-out;
    }
  }

  &-result.focused {
    background: #f1f1f3;
    font-weight: bold;
  }
}

.dark.str-chat {
  .str-chat__channel-search {
    input {
      background: rgba(255, 255, 255, 0.04);
      color: white;
    }
  }
}
