.str-chat__channel-preview {
  button {
    position: relative;
    border: none;
    background: none;
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    padding: 10px 40px 10px 10px;
    font-size: 13px;
    //TODO CSS
    border-bottom: 1px solid var(--black10);
    outline: 0;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;

    &:focus {
      background: var(--white);
      //TODO CSS
      box-shadow: inset 0 0 0 1px var(--primary-color), inset 0 0 0 2px var(--primary-color-faded);
    }
  }

  &-info {
    display: flex;
    flex-direction: column;
    text-align: left;
    padding: 0 10px;
    max-width: 250px;
  }

  &-avatar {
    width: 32px;
    height: 32px;
    flex: 0 0 32px;
    border-radius: var(--border-radius);
  }

  &-title {
    color: var(--black);
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
  }

  &-unread-count {
    position: absolute;
    right: 10px;
    width: 22px;
    height: 22px;
    color: var(--black);
    font-size: 12px;
    //TODO CSS
    background: lightgray;
    border-radius: var(--border-radius);
    display: flex;
    align-items: center;
    justify-content: center;
    align-self: center;
  }

  &-last-message {
    color: var(--lighten-black);
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 120px;
  }

  &--active {
    background: var(--primary-color);
    color: white;

    .str-chat__channel-preview-title {
      color: var(--white);
    }

    .str-chat__channel-preview-last-message {
      //TODO CSS
      color: var(--white70);
    }
  }

  &--unread {
    position: relative;

    .str-chat__channel-preview-last-message {
      font-weight: var(--heavy-font-weight);
      color: var(--black);
    }
  }

  &--dot {
    width: 5px;
    height: 5px;
    position: absolute;
    border-radius: var(--border-radius-round);
    left: 2px;
    background-color: var(--primary-color);
  }
}

.str-chat__channel-preview-compact {
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  display: flex;
  font-size: 14px;
  letter-spacing: 0;
  line-height: 40px;
  color: var(--black);
  position: relative;
  border: none;
  background: none;
  flex-direction: row;
  align-items: center;
  width: 100%;
  padding: 0 40px 0 10px;
  //TODO CSS
  border-bottom: 1px solid var(--black10);
  text-align: left;
  outline: 0;

  &:focus {
    background: var(--white);
    //TODO CSS
    box-shadow: inset 0 0 0 1px var(--primary-color), inset 0 0 0 2px var(--primary-color-faded);
  }

  &--left {
    width: 22px;
    height: 22px;
  }

  &--right {
    flex: 1;
    margin-left: 11px;
  }

  &--unread {
    font-weight: 700;
  }
}

.str-chat__channel-preview-compact--active {
  color: var(--white);
  //TODO CSS
  background: var(--primary-color);
}

.str-chat__channel-preview-messenger {
  display: flex;
  width: 100%;
  border: none;
  padding: 10px;
  align-items: center;
  //TODO CSS
  background: transparent;
  //TODO CSS
  box-shadow: 0 1px 0 0 var(--black10);
  text-align: left;
  margin: 5px 0;

  &--active {
    border: none;
    border-radius: var(--border-radius-md);
    //TODO CSS
    background: var(--white10);
    box-shadow: none;
    //TODO CSS
    box-shadow: 0 1px 5px 0 var(--black10);
  }

  &--last-message {
    font-size: 13px;
    line-height: 14px;
    opacity: 0.5;
  }

  &--name {
    font-size: 14px;
    line-height: 17px;
    font-weight: 600;
    margin-bottom: 2px;
    max-width: 250px;
    span {
      display: block;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }

  &--unread {
    .str-chat__channel-preview-messenger--last-message {
      opacity: 1;
      //TODO CSS
      font-weight: 600;
    }
  }
}

.dark.str-chat {
  .str-chat__channel-preview {
    &--active {
      //TODO CSS
      background: var(--black80);
    }
    &-title {
      color: var(--white);
    }
    button {
      &:focus {
        //TODO CSS
        background: var(--black80);
        //TODO CSS
        box-shadow: inset 0 0 0 1px var(--primary-color), inset 0 0 0 2px var(--primary-color-faded);
      }
    }
  }
  .str-chat__channel-preview-messenger {
    &--active {
      //TODO CSS
      background: var(--white5);
      //TODO CSS
      box-shadow: 0 1px 5px 0 var(--black10);
    }
    &--last-message {
      color: var(--white);
    }
    &--name {
      color: var(--white);
    }
  }
}
