.str-chat__channel-list-team {
  font-family: var(--second-font);
  display: flex;
  height: 100%;
  overflow-y: auto;
  &__sidebar {
    display: flex;
    flex-direction: column;
    width: 70px;
    padding: 45px 10px 10px;
    background: var(--light-grey);

    &--top {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: -10px 0;

      > * {
        margin: 10px 0;
      }
    }

    &--bottom {
      flex: 1;
      display: flex;
      align-items: center;
      justify-content: center;
    }
  }

  &__send-button,
  &__search-button {
    background: none;
    margin: none;
    border: none;
  }

  &__main {
    min-width: 230px;
    background: var(--white);
  }

  &__header {
    padding: 15px 15px 15px 20px;
    max-height: 70px;
    display: flex;
    align-items: center;
    //TODO CSS
    background: var(--white5);
    //TODO CSS
    box-shadow: 0 1px 1px 0 var(--black20);
    font-size: var(--md-font);
    color: var(--black);
    letter-spacing: 0;
    position: relative;

    &--title {
      font-weight: var(--font-weight-bold);
      text-transform: capitalize;
    }

    &--status {
      position: relative;
      padding: 0 0 0 10px;

      &::before {
        position: absolute;
        top: 5px;
        left: 0;
        content: ' ';
        width: 6px;
        height: 6px;
        border-radius: var(--border-radius-md);
      }

      &.watcher_count::before {
        //TODO CSS
        background: var(--green);
      }

      &.busy::before {
        //TODO CSS
        background: var(--green);
      }

      &.away::before {
        //TODO CSS
        background: var(--green);
      }
    }

    &--left {
      width: 40px;
    }

    &--middle {
      flex: 1;
      margin-left: 15px;
    }

    &--button {
      margin: 0;
      padding: 15px 5px;
      border: 0;
      background: none;
    }
  }
}

.messenger-chat {
  &.str-chat {
    .str-chat {
      &__channel-list-team {
        padding: 0 0 0 10px;

        &__header {
          background: none;
          box-shadow: none;
        }

        &__main {
          background: none;
        }
      }
    }
  }
}

.dark.str-chat {
  .str-chat__channel-list-team {
    background: var(--dt-bg-team);

    &__header {
      &--title {
        color: var(--white);
      }
    }
    &__sidebar {
      background: var(--black20);
    }
    &__main {
      background: none;
    }
  }
}
