.str-chat__channel-search {
  padding: 20px 10px 0;
  display: flex;
  align-items: center;
  position: relative;

  input {
    flex: 1;
    //TODO CSS
    background: var(--black5);
    border: 1px solid transparent;
    outline: none;
    $height: 30;

    height: $height + px;
    border-radius: $height/2 + px;
    color: var(--black);
    font-size: 14px;
    padding: 0 10px;

    &::placeholder {
      color: var(--lighten-black);
    }

    &:focus {
      background: var(--white);
      border: 1px solid var(--primary-color);
      //TODO CSS
      box-shadow: 0 0 0 2px var(--primary-color-faded);
      transition: all 0.2s ease-in-out;
    }
  }

  &-container {
    position: absolute;
    width: 300px;
    z-index: 2;
    padding: 10px;

    &-searching {
      padding-left: 10px;
    }

    &-empty {
      padding-left: 10px;
    }

    .str-chat__channel-search-result {
      display: flex;
      align-items: center;
      border-radius: var(--border-radius-md);
      height: 40px;
      cursor: pointer;
      padding-left: 10px;

      &:hover {
        font-weight: bold;
        transition: all 0.2s ease-in-out;
      }
    }
  }

  &-result.focused {
    font-weight: bold;
  }

  &-container.popup {
    border-radius: var(--border-radius-md);
    background: var(--white);
    left: 300px;
    top: 20px;
    //TODO CSS
    box-shadow: 0 7px 9px 0 var(--black5), 0 1px 0 0 var(--black5);
    //TODO CSS
    border: 1px solid var(--black10);

    .str-chat__channel-search-result {
      &:hover {
        //TODO CSS
        background: var(--light-grey);
      }
    }

    .str-chat__channel-search-result.focused {
      //TODO CSS
      background: var(--light-grey);
    }
  }

  &-container.inline {
    top: 60px;
    right: 0px;
    //TODO CSS
    background: var(--light-grey);
    height: calc(100vh - 60px);

    .str-chat__channel-search-result {
      &:hover {
        background: var(--white);
      }
    }

    .str-chat__channel-search-result.focused {
      background: var(--white);
    }
  }
}

.dark.str-chat {
  .str-chat__channel-search {
    input {
      //TODO CSS
      background: var(--white5);
      color: var(--white);
    }
  }
}
