.str-chat__date-separator {
  display: flex;
  padding: 40px;
  align-items: center;

  &-date {
    font-size: var(--md-font);
    font-weight: var(--font-weight-bold);
    //TODO CSS
    color: var(--black70);
    font-family: var(--second-font);
  }

  &-line {
    flex: 1;
    //TODO CSS
    background-color: var(--black10);
    height: 1px;
    border: none;
  }
  > * {
    &:not(:last-child) {
      margin-right: 20px;
    }
  }
}

.commerce.str-chat {
  .str-chat__date-separator {
    padding: 40px 0;
  }
}

.dark.str-chat {
  .str-chat__date-separator {
    &-line {
      //TODO CSS
      background-color: var(--white10);
    }
    &-date {
      //TODO CSS
      color: var(--white70);
    }
  }
  &.team {
    .str-chat__date-separator {
      &-line {
        //TODO CSS
        background-color: var(--black40);
      }
    }
  }
}
