.str-chat__edit-message-form {
  width: 100%;

  form {
    position: relative;
    width: 100%;
  }

  textarea {
    padding: 7px;
    background: var(--white);
    //TODO CSS
    box-shadow: inset 0 0 0 1px var(--primary-color);
    border: 1px solid transparent;
    resize: none;
    border-radius: var(--border-radius-sm);
    width: 100%;
    font-size: 15px;
    line-height: 22px;

    /* color: $fontColor; */
    &:focus {
      //TODO CSS
      box-shadow: inset 0 0 0 1px var(--primary-color), 0 0 0 2px var(--primary-color-faded);
      outline: 0;
    }
  }

  .str-chat__message-team-form-footer {
    button {
      background: none;
      border: none;

      /* font-size: $fontSize; */
      font-weight: var(--heavy-font-weight);
      //TODO CSS
      color: var(--black40);

      &[type='submit'] {
        color: var(--primary-color);
      }
    }
  }

  .rfu-dropzone {
    width: 100%;
  }

  .rfu-file-upload-button,
  .str-chat__input-emojiselect,
  .str-chat__input-fileupload {
    position: unset;
    top: unset;
    right: unset;
    left: unset;
    svg {
      fill: var(--black);
      opacity: 0.5;
    }
    &:hover {
      svg {
        opacity: 1;
      }
    }
  }
}

.str-chat__edit-message-form-options {
  display: flex;
}

.str-chat.dark {
  .str-chat__edit-message-form {
    .rfu-file-upload-button,
    .str-chat__input-emojiselect {
      svg {
        fill: var(--white);
      }
    }

    .str-chat__message-team-form-footer {
      button {
        //TODO CSS
        color: var(--white40);
        &[type='submit'] {
          color: var(--primary-color);
        }
      }
    }

    textarea {
      //TODO CSS
      background: var(--white5);
      //TODO CSS
      box-shadow: 0 0 0 1px var(--black20);
      border: 2px solid transparent;
      border-radius: var(--border-radius-sm);
      color: var(--white);
      &:focus {
        //TODO CSS
        box-shadow: inset 0 0 0 1px var(--primary-color);
        //TODO CSS
        border: 2px solid var(--primary-color-faded);
        border-radius: var(--border-radius-sm);
      }
    }
  }
}
