.str-chat.messaging {
  .str-chat__event-component__channel-event {
    display: flex;
    margin-top: 20px;

    &__content {
      margin-right: 10px;
      //TODO CSS
      color: var(--black50);
      font-size: var(--lg-font);
    }
    &__date {
      font-size: var(--xs-font);
      margin-top: 4px;
    }
  }
}

.str-chat.team {
  .str-chat__event-component__channel-event {
    display: flex;
    margin: 20px 40px;

    &__content {
      margin-right: 10px;
      //TODO CSS
      color: var(--black50);
      font-size: var(--lg-font);
    }
    &__date {
      font-size: var(--xs-font);
      margin-top: 4px;
    }
  }
}

.str-chat.commerce,
.str-chat.livestream {
  .str-chat__event-component__channel-event {
    display: none;
  }
}
