// Setup
@import './_variables.scss';
@import './base.scss';

// External dependencies (copied from libraries to rectify built file path discrepancies)
@import './vendor/emoji-mart.scss'; // copy from '../../node_modules/emoji-mart/css/emoji-mart.css'
@import './vendor/mml-react.scss'; // copy from '../../node_modules/mml-react/dist/styles/index.css'
@import './vendor/react-file-utils.scss'; // copy from '../../node_modules/react-file-utils/dist/index.css'

// Components
@import './ActionsBox.scss';
@import './AttachmentActions.scss';
@import './Attachment.scss';
@import './Avatar.scss';
@import './Audio.scss';
@import './Card.scss';
@import './ChannelHeader.scss';
@import './ChannelList.scss';
@import './ChannelListMessenger.scss';
@import './ChannelPreview.scss';
@import './ChannelSearch.scss';
@import './ChatDown.scss';
@import './EventComponent.scss';
@import './DateSeparator.scss';
@import './EditMessageForm.scss';
@import './Gallery.scss';
@import './LoadingChannels.scss';
@import './LoadingIndicator.scss';
@import './LoadMoreButton.scss';
@import './Message.scss';
@import './MessageActions.scss';
@import './MessageCommerce.scss';
@import './MessageInput.scss';
@import './MessageInputFlat.scss';
@import './MessageNotification.scss';
@import './MessageList.scss';
@import './MessageTeam.scss';
@import './MessageLivestream.scss';
@import './MessageRepliesCountButton.scss';
@import './Modal.scss';
@import './ModalImage.scss';
@import './ReactionList.scss';
@import './ReactionSelector.scss';
@import './SendButton.scss';
@import './SimpleReactionsList.scss';
@import './SmallMessageInput.scss';
@import './Thread.scss';
@import './TypingIndicator.scss';
@import './Tooltip.scss';
@import './VirtualMessage.scss';
