.str-chat {
  &.messaging {
    .str-chat__load-more-button {
      &__button {
        border: 0;
        width: 100%;
        height: 40px;
        border-radius: var(--border-radius-md);
        //TODO CSS
        background: var(--white90);
        box-shadow: none;
        //TODO CSS
        box-shadow: 0 1px 5px 0 var(--black5);
        padding: 10px;
        font-size: var(--md-font);
      }
    }
  }
  &.team {
    .str-chat__load-more-button {
      &__button {
        border: 0;
        background: transparent;
        width: 100%;
        height: 40px;
        padding: 10px;
        font-size: var(--md-font);
      }
    }
  }
}
