.str-chat__message-notification {
  display: block;
  position: absolute;
  align-self: center;
  background: $secondary-color;
  border: none;
  color: $white;
  border-radius: 50px;
  padding: 4px 10px;
  font-size: 12px;
  bottom: 10px;
  z-index: 101;
}
