.str-chat__input {
  background: var(--white);
  //TODO CSS
  box-shadow: 0 -1px 3px 0 var(--black5), 0 -1px 0 0 var(--black5);
  display: flex;
  flex-wrap: wrap;
  padding: 10px;
  position: relative;
  font-family: var(--second-font);
  padding-bottom: 0;
  // display: flex;

  &-large {
    position: relative;
    z-index: 1;
    width: 100%;

    &-cooldown {
      position: absolute;
      right: 20px;
      font-size: 20px;
      font-weight: bold;
      top: 8px;
    }
  }

  &--emojipicker {
    position: absolute;
    bottom: 100%;
    right: 0;
  }
  .rfu-file-previewer {
    flex: 1 1 100%;
  }
  &--textarea-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex: 1 0;
    position: relative;
    .str-chat__textarea {
      textarea {
        padding-right: 70px;
      }
    }
  }

  &-emojiselect,
  .rfu-file-upload-button {
    position: absolute;
    cursor: pointer;
    width: 22px;
    height: 22px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-size: 44px 44px;
    //TODO CSS
    fill: var(--black60);

    &:hover {
      //TODO CSS
      fill: var(--black);
    }
  }

  &-emojiselect {
    right: 20px;
    top: calc(100% - 35px);
  }

  .rfu-file-upload-button {
    right: 46px;
    top: calc(100% - 34px);
  }

  &-footer {
    display: flex;
    justify-content: space-between;
    font-size: 12px;
    background: var(--white);
    padding: 0 10px 10px 10px;
    color: var(--lighten-black);

    &--typing {
      font-style: italic;
    }

    &--count {
      &--hidden {
        visibility: hidden;
      }
    }
  }
}

.str-chat__textarea {
  height: auto;
  flex: 1;
  textarea {
    width: 100%;
    outline: none;
    padding: 11px;
    background: var(--white);
    //TODO CSS
    border: 1px solid var(--black10);
    border-radius: var(--border-radius-md);
    font-size: 15px;
    min-height: 42px;
    transition: height 100ms ease-in;
    resize: none;

    &:focus {
      background: var(--white);
      border: 1px solid var(--primary-color);
      //TODO CSS
      box-shadow: 0 0 0 2px var(--primary-color-faded);
    }

    &:placeholder {
      //TODO CSS
      color: var(--black50);
    }
  }
}

.str-chat__emojisearch {
  bottom: calc(100%);
  left: 0;
  width: calc(100% - 20px);
  position: absolute;
  //TODO CSS
  background: var(--white95);
  //TODO CSS
  box-shadow: 0 0 1px 0 var(--black30), 0 0 6px 0 var(--black10);
  z-index: -1;
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
  margin: 0 10px;
  max-height: 360px;
  overflow-y: auto;

  &__list {
    margin: 0;
    padding: 0;
    list-style-type: none;
    border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
  }
}

.dark.str-chat {
  .str-chat__emojisearch {
    //TODO CSS
    background: var(--dark-grey);
    //TODO CSS
    box-shadow: 0 0 1px 0 var(--black30), 0 0 6px 0 var(--black10);
    //TODO CSS
    border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
    .rta__list-header {
      //TODO CSS
      background: var(--dark-grey);
      //TODO CSS
      border: 1px solid var(--white5);
      //TODO CSS
      box-shadow: 0 2px 1px 0 var(--black5);
      color: var(--white);
    }
    .rta__entity {
      color: var(--white);
    }
  }
  .rfu-file-previewer__file {
    a {
      color: var(--white);
    }
    &:hover {
      background: transparent;
    }
  }
  .rfu-file-previewer__close-button {
    color: var(--white);
  }
}

.rta {
  font-size: 14px;
}

.rta__entity--selected {
  background-color: var(--primary-color);
  color: var(--white);
}

.rta__list {
  border-radius: var(--border-radius-sm) var(--border-radius-sm) 0 0;
}

.rta__list-header {
  padding: 15px;
  font-size: 14px;
}

.str-chat__emoji-item {
  padding: 0 20px;
  display: flex;
  align-items: center;
  margin: 0 -8px;

  &--entity {
    min-width: 24px;
  }

  &--highlight {
    font-weight: bold;
    font-size: 12px;
  }

  &--part {
    font-size: 12px;
  }
}

.str-chat__slash-command {
  padding: 10px 15px;
  font-size: 14px;

  &-description {
    font-size: 12px;
  }
}

.str-chat__user-item {
  padding: 10px 15px;
  display: flex;

  &--highlight {
    font-weight: bold;
    font-size: 12px;
  }

  &--part {
    font-size: 12px;
  }
}

.str-chat {
  .rfu-dropzone .rfu-dropzone__notifier {
    position: absolute;
    height: 100%;
    width: 100%;
    padding: 5px;
    z-index: 1001;
    display: none;
  }

  .rfu-dropzone--accept .rfu-dropzone__notifier {
    background: var(--primary-color-faded);
    display: block;
  }

  .rfu-dropzone--reject .rfu-dropzone__notifier {
    //TODO CSS
    background: var(--red);
    display: block;
  }
}

.rfu-dropzone__inner {
  width: 100%;
  height: 100%;
  padding: 0 30px;
  border: 1px dashed transparent;
  box-sizing: border-box;
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  color: var(--white);
  //TODO CSS
  font-weight: 800;
  font-size: 12px;
  svg {
    display: none;
  }
}

.rfu-dropzone--reject .rfu-dropzone__inner {
  display: none;
}

.team.str-chat,
.livestream.str-chat {
  .str-chat {
    &__input {
      padding: 10px 40px;

      &-footer {
        padding: 0 40px 10px;
      }
    }
  }
}

.livestream {
  &.str-chat {
    .str-chat {
      &__input {
        position: relative;
        z-index: 1;
        //TODO CSS
        background: var(--white30);
        //TODO CSS
        box-shadow: 0 -1px 1px 0 var(--black10);
        padding: 10px 20px 5px;

        textarea {
          border-radius: var(--border-radius-sm);
          //TODO CSS
          background: var(--white30);
          //TODO CSS
          border: 1px solid var(--black20);
          font-size: 13px;
          padding: 12px;
        }
        &-footer {
          padding: 0 20px 10px;
          //TODO CSS
          background: var(--white30);
        }
      }
    }
  }
}

.str-chat__file-uploads {
  max-height: 300px;
  flex: 1 1 100%;
  overflow-y: auto;
}

.rfu-file-upload-button svg {
  //TODO CSS
  fill: var(--black60);
}

.dark.str-chat {
  .str-chat__input {
    //TODO CSS
    background: var(--white5);
    //TODO CSS
    box-shadow: 0 -1px 1px 0 var(--black30);
    &-footer {
      //TODO CSS
      background: var(--white5);
    }
    textarea {
      //TODO CSS
      background: var(--black10);
      //TODO CSS
      border: 1px solid var(--black40);
      border-radius: var(--border-radius-sm);
      color: var(--white);
    }
    .str-chat__input-emojiselect {
      svg {
        fill: var(--white);
      }
    }
    .rfu-file-upload-button {
      svg {
        fill: var(--white);
      }
    }
  }
}

.str-chat__fileupload-wrapper {
  .str-chat__tooltip {
    display: none;
    bottom: 35px;
    right: 50px;
  }

  &:hover {
    .str-chat__tooltip {
      display: block;
    }
  }
}

.str-chat__emojiselect-wrapper {
  .str-chat__tooltip {
    display: none;
    bottom: 35px;
    right: 24px;
  }
  &:hover {
    .str-chat__tooltip {
      display: block;
    }
  }
}
.str-chat__small-message-input--textarea-wrapper {
  .str-chat__fileupload-wrapper {
    .str-chat__tooltip {
      bottom: 32px;
      right: 32px;
    }
  }

  .str-chat__emojiselect-wrapper {
    .str-chat__tooltip {
      bottom: 32px;
      right: 10px;
    }
  }

  .str-chat__input-small-cooldown {
    position: absolute;
    right: 20px;
    font-size: 18px;
    font-weight: bold;
    top: 6px;
  }
}
