.str-chat__message-replies-count-button {
  display: block;
  border: none;
  background: none;
  padding: 0;
  margin-top: 8px;
  font-size: 12px;
  line-height: 15px;
  font-weight: 700;
  color: var(--primary-color);
  cursor: pointer;

  svg {
    //TODO CSS
    fill: var(--black10);
    margin-right: 5px;
  }
}

.dark.str-chat {
  .str-chat__message-replies-count-button {
    svg {
      //TODO CSS
      fill: var(--white10);
    }
  }
  &.team {
    .str-chat__message-replies-count-button {
      svg {
        //TODO CSS
        fill: var(--black40);
      }
    }
  }
}
