.str-chat__new-channel {
  &--header {
    padding: var(--xs-p);
    display: flex;
    align-items: center;
    font-family: var(--second-font);
    font-size: var(--lg-font);
    border-bottom: 1px solid var(--border);

    &__title {
      flex: 1;
      text-align: center;
      color: var(--primary-color);
      font-weight: var(--font-weight-bold);
      margin-right: 48px;
    }
  }

  &--name {
    padding: 0 0 0 var(--sm-p);
    border-bottom: 1px solid var(--border);
    display: flex;
    align-items: center;

    label {
      font-size: var(--md-font);
      margin-right: var(--xxs-m);
    }

    input {
      font-size: var(--md-font);
      font-family: var(--second-font);
      flex: 1;
      width: 100%;
      padding: var(--sm-p) 0 var(--sm-p) var(--xxs-p);
      background: var(--white);
      border: none;
      outline: none;

      &:focus {
        background: var(--white);
        box-shadow: inset 0 0 0 1px var(--primary-color), inset 0 0 0 2px var(--primary-color-faded);
      }
    }
  }
}
