.str-chat__simple-reactions-list {
  list-style-type: none;
  padding: var(--xxs-p) var(--xxs-p) calc(var(--xxs-p) / 2) var(--xxs-p);
  display: inline-flex;
  margin: var(--xs-m) 0 0 0;
  border: 1px solid var(--border);
  border-radius: var(--border-radius-sm);
  line-height: 1;
  position: relative;

  &-tooltip {
    position: absolute;
    bottom: calc(100% + 10px);
    left: 50%;
    transform: translate(-50%, 0);
    background: var(--overlay-dark);
    border-radius: var(--border-radius-sm);
    background-image: linear-gradient(-180deg, transparent, var(--black50));
    min-height: 24px;
    width: auto;
    max-width: 275px;
    padding: var(--xxs-p) var(--xs-p);
    font-size: var(--sm-font);
    color: var(--white);
    text-align: center;

    > .arrow {
      position: absolute;
      top: calc(100%);
      left: 50%;
      transform: translate(-50%, 0);
      width: 0;
      height: 0;
      border-left: 4px solid transparent;
      border-right: 4px solid transparent;
      border-top: 4px solid var(--overlay-dark);
    }
  }

  &-item {
    margin: 0 0;
    cursor: pointer;

    > span {
      line-height: 1;
    }

    .emoji-mart-emoji {
      &:hover {
        transition: transform 0.2s ease-in-out;
        transform: scale(1.2);
      }
    }

    &--last-number {
      font-size: var(--xs-font);
      display: flex;
      align-items: center;
      color: black;
    }
  }
}

.dark.str-chat {
  .str-chat__simple-reactions-list {
    border: 1px solid var(--white10);
    border-radius: var(--border-radius-sm);
    &-item {
      &--last-number {
        color: var(--white);
      }
    }
  }
}
