.str-chat__thread {
  //TODO CSS
  background: var(--light-grey);
  flex: 1 0 300px;
  min-width: 300px;
  max-width: 300px;
  overflow-y: hidden;
  //TODO CSS
  font-family: 'Helvetica Neue', Helvetica, Arial, sans-serif;
  overflow: hidden;
  max-height: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 0px;

  &--full {
    max-width: 100%;
  }

  &-header {
    position: relative;
    width: 100%;
    //TODO CSS
    background: var(--light-grey);
    //TODO CSS
    box-shadow: 0 1px 1px 0 var(--black20);
    height: 70px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;

    &-details {
      font-size: 14px;

      small {
        display: block;
        font-size: 12px;
      }
    }
  }

  &-start {
    border-radius: var(--border-radius-sm);
    margin: 10px 10px 0 10px;
    padding: 8px;
    //TODO CSS
    background: var(--black5);
    text-align: center;
    font-size: 12px;
  }

  &-list {
    height: 100%;
    overflow-y: auto;
    overflow-x: hidden;
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    .str-chat__list {
      padding: 0;
    }

    .str-chat__message:first-of-type .str-chat__message-inner {
      margin-left: unset;
      margin-right: unset;
    }

    .str-chat__message-attachment.str-chat__message-attachment--file {
      border-radius: var(--border-radius-md);
      //TODO CSS
      border-bottom: 1px solid var(--light-grey);
    }

    .quoted-message {
      display: flex;
      align-items: flex-end;
      margin-bottom: 5px;

      &-inner {
        display: flex;
        text-align: start;
        align-items: flex-end;
        //TODO CSS
        background: var(--light-grey);
        border-radius: var(--border-radius-md) var(--border-radius-md) var(--border-radius-md) 0;
        max-width: 408px;
        padding: 5px 10px;

        .str-chat__message-attachment.str-chat__message-attachment--file {
          display: none;
        }

        .str-chat__message-attachment-card.str-chat__message-attachment-card--image {
          border-radius: unset;
        }

        .str-chat__message-attachment.str-chat__message-attachment--card {
          border: none;
          border-radius: var(--border-radius-md);
        }

        .str-chat__message-attachment {
          &--image:first-of-type {
            max-height: 48px;
            max-width: 48px;
          }

          img {
            border-radius: var(--border-radius-md);
          }
        }

        :nth-child(2) {
          margin-left: 10px;
        }
      }
    }

    .quoted-message.mine {
      .quoted-message-inner {
        background: var(--white);
      }
    }
  }
}

.messaging {
  &.str-chat {
    .str-chat {
      &__thread {
        margin-right: 10px;
        margin-top: 20px;
        border-radius: var(--border-radius-md) var(--border-radius-md) 0 0;

        overflow: hidden;
        //TODO CSS
        background: var(--white);
        max-height: 100%;
        display: flex;
        flex-direction: column;
        padding-top: 0px;

        &.str-chat__thread--full {
          margin: 0;
        }
        .str-chat__gallery {
          justify-content: flex-end;
          border-radius: 0;
          &-image,
          &-placeholder {
            width: 100px;
            height: 100px;
          }
        }
      }
      &__thread-list {
        padding: 20px 10px 0 10px;

        > .str-chat__list {
          background: transparent;
          padding: 0;
          .str-chat__list--thread {
            padding: 0;
          }
        }
      }
      &__thread-header {
        border: none;
        box-shadow: none;
        background: var(--white);
      }
      &__thread-start {
        margin-top: 20px;
      }
      @media screen and (max-width: 960px) {
        &__thread {
          position: fixed;
          top: 0;
          right: 0;
          height: 100vh;
          background: var(--white);
          z-index: 1000;
          margin: 0;
          width: 100vw;
          max-width: 100%;
        }
      }
    }
    &.dark {
      .str-chat__thread {
        background: var(--white5);
        &-header {
          //TODO CSS
          background: var(--black80);
          //TODO CSS
          box-shadow: 0 7px 9px 0 var(--black5), 0 1px 0 0 var(--black5);
          color: var(--white);
        }
        &-start {
          color: var(--white);
        }
      }
      @media screen and (max-width: 960px) {
        .str-chat__thread {
          //TODO CSS
          background: var(--dark-grey);
        }
      }
    }
  }
}

.team {
  &.str-chat {
    .str-chat {
      &__thread {
        background: var(--white);
      }
      @media screen and (max-width: 960px) {
        &__thread {
          position: fixed;
          top: 0;
          right: 0;
          height: 100vh;
          background: var(--white);
          z-index: 1000;
          margin: 0;
          width: 100vw;
          max-width: 100%;
        }
      }
      &__thread-header {
        height: 80px;
      }
    }
    &.dark {
      .str-chat__thread {
        background: var(--dt-bg-team);
      }
    }
  }
}

.livestream.str-chat,
.str-chat {
  .str-chat__thread {
    background: transparent;
    &-header {
      //TODO CSS
      background: ver(--white30);
    }
  }
  .str-chat__list--thread {
    padding: 0 10px;
  }
  &.dark {
    .str-chat__thread {
      //TODO CSS
      background: var(--dark-grey);
      &-header {
        //TODO CSS
        background: var(--white5);
        //TODO CSS
        box-shadow: 0 1px 1px 0 var(--black30);
        color: var(--white);
      }
      &-start {
        //TODO CSS
        background: var(--black5);
        border-radius: var(--border-radius-sm);
        color: var(--white);
      }
    }
  }
}
