@use '../../../styling/variables/fonts' as fonts;

.str-chat__label {
  @include fonts.text-metadata-emphasis;

  display: flex;
  padding: var(--spacing-none) var(--spacing-xs);
  align-items: center;
  gap: var(--spacing-xxs);
  border-radius: 14px;
  background: var(--str-chat__label-bg-neutral, #d5dbe1);
}
