.agent-header__container {
  height: 60px;
  width: 800px;
  background: #0040a8;
  box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.05);
  border-top-right-radius: 16px;
  border-top-left-radius: 16px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.agent-header__left {
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.agent-header__left__text {
  font-family: Helvetica Neue, sans-serif;
  font-weight: 500;
  font-size: 13px;
  line-height: 120%;
  color: #ffffff;
  margin-left: 8px;
  margin-right: 16px;
}

.agent-header__right {
  display: flex;
  align-items: center;
  margin-right: 20px;
}

.active-slider__background {
  height: 14px;
  width: 24px;
  background: #20e070;
  border-radius: 12px;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.active-slider__ball {
  height: 10px;
  width: 10px;
  background: #ffffff;
  border-radius: 5px;
  margin-right: 2px;
}
