.str-chat {
  .str-chat__duration-display {
    letter-spacing: 0;
    min-width: 35px;
    width: 35px;
    color: var(--str-chat__text-primary);
    white-space: nowrap;
    text-align: center;
  }
}
