@use '../../../styling/utils';

.str-chat .str-chat__button.str-chat__playback-rate-button {
  text-transform: none;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--str-chat__spacing-xs);
  min-width: 48px;
  min-height: 24px;
  max-height: 24px;
  padding: var(--str-chat__button-padding-y-sm) var(--str-chat__spacing-xs);
  background-color: inherit;
  border-radius: var(--str-chat__button-radius-lg);
  border: 1px solid var(--chat-border-on-chat);
  color: var(--str-chat__control-playback-toggle-text, var(--str-chat__text-primary));
  font: var(--str-chat__font-metadata-emphasis);

  &:not(:disabled):hover {
    @include utils.overlay-after(var(--str-chat__background-utility-hover));
  }

  &:not(:disabled):focus-visible {
    // focused
    @include utils.focusable;
    outline-offset: 0;
  }

  &:not(:disabled):active {
    // pressed
    @include utils.overlay-after(var(--str-chat__background-utility-pressed));
  }

  &:disabled {
    border-color: var(--str-chat__border-utility-disabled);
    color: var(--str-chat__text-disabled);
    cursor: default;
  }
}
