@use '../../../styling/utils';

.str-chat__modal-header {
  display: flex;
  align-items: center;
  gap: var(--spacing-md);
  width: 100%;
  padding: var(--spacing-xl);

  .str-chat__modal-header__title-group {
    display: flex;
    flex-direction: column;
    gap: var(--spacing-xxs);
    flex: 1;
    min-width: 0;
  }

  .str-chat__modal-header__title {
    font: var(--str-chat__heading-sm-text);
    color: var(--text-primary);
  }

  .str-chat__modal-header__description {
    font: var(--str-chat__body-text);
    color: var(--text-secondary);
  }

  button.str-chat__modal-header__go-back-button {
    @include utils.button-reset;
    flex-shrink: 0;
    padding: var(--spacing-sm);
    background-image: var(--str-chat__arrow-left-icon);
    background-size: var(--icon-size-md);
    background-repeat: no-repeat;
    background-position: center;
    color: var(--text-primary);

    &:focus-visible {
      @include utils.focusable;
    }
  }

  .str-chat__modal-header__close-button {
    flex-shrink: 0;
    color: var(--text-primary);
  }
}
