@use '../../../styling/utils';

.str-chat__modal--open {
  @include utils.flex-col-center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  .str-chat__modal-header {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 1.25rem 1rem;

    button.str-chat__modal-header__go-back-button,
    .str-chat__modal__close-button {
      padding: 1rem;
      background-size: 0.875rem;
      background-repeat: no-repeat;
      background-position: center;
    }

    button.str-chat__modal-header__go-back-button {
      background-image: var(--str-chat__arrow-left-icon);
    }

    .str-chat__modal-header__close-button {
      @include utils.button-reset;
      cursor: pointer;
      background-image: var(--str-chat__close-icon);
      background-repeat: no-repeat;
      height: 0.875rem;
      width: 0.875rem;
    }

    .str-chat__modal-header__title {
      flex: 1;
    }
  }

  button.str-chat__modal__close-button {
    @include utils.unset-button;
    margin: var(--str-chat__spacing-2);
    cursor: pointer;
  }

  .str-chat__modal__close-button {
    --str-chat-icon-height: calc(var(--str-chat__spacing-px) * 28);
    @include utils.flex-row-center;
    padding: var(--str-chat__spacing-2);
    position: absolute;
    inset-block-start: 0;
    inset-inline-end: 0;
    cursor: pointer;
  }

  .str-chat__modal__inner {
    @include utils.flex-col-center;
    padding: var(--str-chat__spacing-8) var(--str-chat__spacing-4);
    max-height: 80%;
    min-width: 0;
    min-height: 0;
  }
}

.str-chat__modal--close {
  display: none;
}

.str-chat {
  /* The border radius used for the borders of the content area of the component of the content area of the component */
  --str-chat__modal-border-radius: var(--str-chat__border-radius-sm);

  /* The text/icon color of the content area of the component */
  --str-chat__modal-color: var(--str-chat__text-color);

  /* The background color of the content area of the component */
  --str-chat__modal-background-color: var(--str-chat__secondary-background-color);

  /* The overlay color of the component */
  --str-chat__modal-overlay-color: var(--str-chat__secondary-overlay-color);

  /* The backdrop filter applied to the component */
  --str-chat__modal-overlay-backdrop-filter: blur(3px);

  /* Top border of the content area of the component */
  --str-chat__modal-border-block-start: none;

  /* Bottom border of the content area of the component */
  --str-chat__modal-border-block-end: none;

  /* Left (right in RTL layout) border of the content area of the component */
  --str-chat__modal-border-inline-start: none;

  /* Right (left in RTL layout) border of the content area of the component */
  --str-chat__modal-border-inline-end: none;

  /* Box shadow applied to the content area of the component */
  --str-chat__modal-box-shadow: none;

  /* The background color of the close button */
  --str-chat__modal-close-icon-background: var(--str-chat__text-low-emphasis-color);

  /* The icon color of the close button */
  --str-chat__modal-close-icon-color: var(--str-chat__on-disabled-color);
}

.str-chat__modal {
  background-color: var(--str-chat__modal-overlay-color);
  backdrop-filter: var(--str-chat__modal-overlay-backdrop-filter);

  .str-chat__modal__inner {
    @include utils.component-layer-overrides('modal');
  }

  .str-chat__modal-header {
    .str-chat__modal-header__title {
      font: var(--str-chat__subtitle2-medium-text);
    }
  }

  .str-chat__modal__close-button {
    --str-chat-icon-color: var(--str-chat__modal-close-icon-color);
    @include utils.button-reset;

    .str-chat__icon {
      background-color: var(--str-chat__modal-close-icon-background);
      border-radius: 999px;
    }

    svg {
      path {
        fill: var(--str-chat__modal-close-icon-color);
      }

      rect,
      circle {
        fill: var(--str-chat__modal-close-icon-background);
      }
    }
  }
}