@use '../../../styling/utils';

.str-chat__modal--open {
  @include utils.flex-col-center;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 100%;
  z-index: 100;

  .str-chat__modal__inner {
    @include utils.flex-col-center;
    position: relative;
    padding: var(--str-chat__spacing-8) var(--str-chat__spacing-4);
    max-height: 80%;
    min-width: 0;
    min-height: 0;
  }

  .str-chat__modal-header {
    display: flex;
    align-items: center;
    gap: var(--spacing-md);
    width: 100%;
    padding: var(--spacing-xl);

    .str-chat__modal-header__title {
      flex: 1;
      font: var(--str-chat__heading-sm-text);
      color: var(--text-primary);
    }

    button.str-chat__modal-header__go-back-button {
      padding: 1rem;
      background-size: 0.875rem;
      background-repeat: no-repeat;
      background-position: center;
    }

    button.str-chat__modal-header__go-back-button {
      background-image: var(--str-chat__arrow-left-icon);
    }
  }
}

.str-chat {
  /* The border radius used for the borders of the content area of the component of the content area of the component */
  --str-chat__modal-border-radius: var(--radius-xl);

  /* The text/icon color of the content area of the component */
  --str-chat__modal-color: var(--str-chat__text-color);

  /* The background color of the content area of the component */
  --str-chat__modal-background-color: var(--background-elevation-elevation-1);

  /* The overlay color of the component */
  --str-chat__modal-overlay-color: var(--background-core-scrim);

  /* The backdrop filter applied to the component */
  --str-chat__modal-overlay-backdrop-filter: blur(3px);

  /* Top border of the content area of the component */
  --str-chat__modal-border-block-start: none;

  /* Bottom border of the content area of the component */
  --str-chat__modal-border-block-end: none;

  /* Left (right in RTL layout) border of the content area of the component */
  --str-chat__modal-border-inline-start: none;

  /* Right (left in RTL layout) border of the content area of the component */
  --str-chat__modal-border-inline-end: none;

  /* Box shadow applied to the content area of the component */
  --str-chat__modal-box-shadow: var(--str-chat__box-shadow-elevation-1);

  // todo: remove these two variables?
  /* The background color of the close button */
  --str-chat__modal-close-icon-background: var(--str-chat__text-low-emphasis-color);

  /* The icon color of the close button */
  --str-chat__modal-close-icon-color: var(--str-chat__on-disabled-color);
}

.str-chat__modal {
  background-color: var(--str-chat__modal-overlay-color);
  backdrop-filter: var(--str-chat__modal-overlay-backdrop-filter);

  .str-chat__modal__inner {
    @include utils.component-layer-overrides('modal');
  }
}
