@import '../../styles/_variables';

.input-ui {
  &-container {
    position: relative;
    display: flex;
    border-top: 1px solid $stroke;
    background: $app-canvas;
    transition: background 1s;
    box-shadow: 0px -1px 0px #dbdde1;
  }

  &-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

    &:hover {
      cursor: pointer;
    }

    svg:hover path {
      fill: $accent-primary;
    }

    &-attach {
      display: flex;
      padding: 8px 13px;
    }

    &-bolt {
      display: flex;
      padding: 6px;
    }
  }

  &-input {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 8px 8px 8px 16px;
    height: 40px;
    margin: 8px;
    background: $app-bg;
    border: 1px solid $borders;
    border-radius: 20px;
    flex: none;
    align-self: stretch;
    flex-grow: 1;
    transition: background 1s, border-color 0.2s;

    &-emoji-picker {
      &:hover {
        cursor: pointer;
      }

      svg:hover path {
        fill: $accent-primary;
      }
    }

    &.giphy {
      border: 2px solid $accent-primary;
      caret-color: $accent-primary;
    }

    &:focus-within {
      border: 2px solid $accent-primary;
      caret-color: $accent-primary;
    }
  }

  &-send {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-radius: 999px;
    height: 40px;
    width: 40px;
    background: $app-canvas;
    transition: background 1s;
    margin: 8px 8px 8px 0;
    color: $text-low-emphasis;
    font-size: 17px;

    svg {
      fill: $text-low-emphasis;
    }

    &.text {
      &:hover {
        cursor: pointer;
      }

      svg path:first-child {
        fill: $accent-primary;
        transition: all 0.2s;
      }

      div {
        color: $accent-primary;
      }
    }

    &:active {
      background: $accent-primary;
      transition: background 1s;
      color: $white;

      svg {
        fill: $white;
      }
    }
  }
}

.str-chat__textarea {
  width: 100%;
  display: flex;
  align-items: center;
  height: 100%;
}

.str-chat__textarea textarea {
  background: $app-bg;
  transition: background 1s;
  padding: 0;
  padding-left: 4px;
  border: none;
  min-height: unset;
  font-size: 17px;
  line-height: 20px;
  border-radius: 0;
  color: $text-low-emphasis;
}

.str-chat__textarea textarea:focus {
  background: $app-bg;
  transition: background 1s;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.str-chat__input--emojipicker {
  z-index: 1;
}

.emoji-mart {
  width: 320px !important;
  background: $app-canvas;
  transition: background 1s;
  box-shadow: $shadow;
  border-color: $stroke;

  &-category-label {
    background: $app-canvas;
    transition: background 1s;
    color: $text-high-emphasis;

    span {
      background: $app-canvas;
      transition: background 1s;
    }
  }
  &-bar {
    display: none;
  }

  &-search {
    display: none;
  }
}

.str-chat__emojisearch {
  z-index: 999;
  background: $app-canvas;
  box-shadow: $shadow;
  border-radius: 8px;
}

.rta__list-header {
  padding: 0;
}

.suggestion-header {
  color: $text-mid-emphasis;
  font-size: 18px;
  display: flex;
  align-items: center;
  height: 40px;
  padding-left: 8px;
  padding-top: 8px;

  span {
    color: $accent-primary;
    font-size: 22px;
    font-weight: 600;
    margin-right: 4px;
  }

  :last-child {
    margin-left: 8px;
  }

  svg path {
    fill: $accent-primary;
  }
}

.suggestion-item {
  display: flex;
  align-items: center;
  height: 40px;
  font-size: 18px;
  font-weight: 600;
  padding: 0 8px;
  color: $text-high-emphasis;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  &-icon {
    height: 24px;
    width: 24px;
    margin-right: 8px;
  }

  &-description {
    margin-left: 8px;
    color: $text-mid-emphasis;
    font-weight: normal;
    font-size: 14px;
  }
}

.suggestion-item.selected {
  background: $stroke-low-emphasis;
  cursor: pointer;
}
