@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
}

@mixin overlay-after($color: black) {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: $color;
    pointer-events: none;
  }
}

@mixin flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin ellipsis-text-parent {
  overflow-y: visible;
  // Not every browser supports clip, so hidden is defined as a fallback
  overflow-x: hidden;
  overflow-x: clip;
  min-width: 0;
}

@mixin ellipsis-text {
  white-space: nowrap;
  overflow-y: visible;
  // Not every browser supports clip, so hidden is defined as a fallback
  overflow-x: hidden;
  overflow-x: clip;
  text-overflow: ellipsis;
}

@mixin ellipsis-text-clamp-lines($clampLinesCount: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $clampLinesCount;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin unset-button($outline-radius: var(--radius-max)) {
  padding: unset;
  background: unset;
  border: unset;
  border-radius: $outline-radius;
}

@mixin loading-item-background($color) {
  background-image: linear-gradient(-90deg, #{$color} 0%, #{$color} 100%);
}

@mixin focusable {
  outline: 2px solid var(--border-utility-focused);
  outline-offset: 2px;
}

@mixin prevent-glitch-text-overflow {
  // Prevent glitch text from overflowing. See the generator: https://lingojam.com/GlitchTextGenerator
  overflow-y: hidden;
}

@mixin scrollable-y {
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-gutter: stable;
}

@mixin modal {
  border-radius: var(--radius-xl);
  background: var(--background-core-elevation-1);

  /* shadow/web/light/elevation-4 */
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.05),
    0 6px 12px 0 rgba(0, 0, 0, 0.16),
    0 20px 32px 0 rgba(0, 0, 0, 0.12);
}

@mixin clamped-height-from-original-image-dimensions(
  $max-height-css-var,
  $max-width-css-var
) {
  height: min(
    var(#{$max-height-css-var}),
    min(var(#{$max-width-css-var}, 1000000) / var(--original-width, 1000000), 1px) *
      var(--original-height, 1000000)
  );
}

@mixin header-layout {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--spacing-md);
  gap: var(--spacing-sm);
  height: var(--str-chat__channel-header-height);
  min-width: 0;
}

@mixin header-text-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden; // for Edge
  overflow-x: hidden; // for ellipsis text
  max-width: 100%;
  row-gap: var(--spacing-xxs);
}

@mixin empty-theme($component-name) {
  text-align: center;

  svg {
    width: 32px;
    height: 32px;
  }
}

@mixin message-list-spacing {
  padding: 0;

  // Need this trick to be able to apply full-width background color on hover to messages / full-width separator to thread header
  .str-chat__li {
    max-width: 100%;
  }
}

@mixin loading-item-background($component-name) {
  background-image: linear-gradient(
    -90deg,
    var(--str-chat__#{$component-name}-loading-state-color) 0%,
    var(--str-chat__#{$component-name}-loading-state-color) 100%
  );
}

@mixin loading-animation {
  animation: pulsate 1s linear 0s infinite alternate;

  &:nth-of-type(2) {
    animation: pulsate 1s linear 0.3334s infinite alternate;
  }

  &:last-of-type {
    animation: pulsate 1s linear 0.6667s infinite alternate;
  }

  @keyframes pulsate {
    from {
      opacity: 0.5;
    }

    to {
      opacity: 1;
    }
  }
}

@mixin component-layer-overrides($component-name, $important: '') {
  background: var(--str-chat__#{$component-name}-background-color) #{$important};
  color: var(--str-chat__#{$component-name}-color) #{$important};
  box-shadow: var(--str-chat__#{$component-name}-box-shadow) #{$important};
  border-radius: var(--str-chat__#{$component-name}-border-radius) #{$important};
  border-block-start: var(--str-chat__#{$component-name}-border-block-start) #{$important};
  border-block-end: var(--str-chat__#{$component-name}-border-block-end) #{$important};
  border-inline-start: var(--str-chat__#{$component-name}-border-inline-start)
    #{$important};
  border-inline-end: var(--str-chat__#{$component-name}-border-inline-end) #{$important};
}

// todo: remove?
@mixin circle-fab-overrides($component-name) {
  svg path {
    fill: var(--str-chat__#{$component-name}-color);
  }

  &:active {
    background-color: var(--str-chat__#{$component-name}-pressed-background-color);
  }
}
