@mixin button-reset {
  background: none;
  border: none;
  padding: 0;
}

@mixin overlay-after($color: black) {
  &::after {
    content: '';
    position: absolute;
    inset: 0;
    background: $color;
    pointer-events: none;
  }
}

@mixin flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin ellipsis-text-parent {
  overflow-y: visible;
  // Not every browser supports clip, so hidden is defined as a fallback
  overflow-x: hidden;
  overflow-x: clip;
  min-width: 0;
}

@mixin ellipsis-text {
  white-space: nowrap;
  overflow-y: visible;
  // Not every browser supports clip, so hidden is defined as a fallback
  overflow-x: hidden;
  overflow-x: clip;
  text-overflow: ellipsis;
}

@mixin ellipsis-text-clamp-lines($clampLinesCount: 1) {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: $clampLinesCount;
  overflow: hidden;
  text-overflow: ellipsis;
}

@mixin unset-button($outline-radius: var(--radius-max)) {
  padding: unset;
  background: unset;
  border: unset;
  border-radius: $outline-radius;
}

@mixin focusable {
  outline: 2px solid var(--border-utility-focused);
  outline-offset: 2px;
}

@mixin prevent-glitch-text-overflow {
  // Prevent glitch text from overflowing. See the generator: https://lingojam.com/GlitchTextGenerator
  overflow-y: hidden;
}

@mixin scrollable-y {
  overflow-x: hidden;
  overflow-y: auto;
  overscroll-behavior: contain;
  scrollbar-gutter: stable;
}

@mixin modal {
  border-radius: var(--radius-xl);
  background: var(--background-core-elevation-1);

  /* shadow/web/light/elevation-4 */
  box-shadow:
    0 0 0 1px rgba(0, 0, 0, 0.05),
    0 6px 12px 0 rgba(0, 0, 0, 0.16),
    0 20px 32px 0 rgba(0, 0, 0, 0.12);
}

@mixin clamped-height-from-original-image-dimensions(
  $max-height-css-var,
  $max-width-css-var
) {
  height: min(
    var(#{$max-height-css-var}),
    min(var(#{$max-width-css-var}, 1000000) / var(--original-width, 1000000), 1px) *
      var(--original-height, 1000000)
  );
}

@mixin header-layout {
  display: flex;
  align-items: center;
  width: 100%;
  padding: var(--spacing-md);
  gap: var(--spacing-sm);
  height: var(--str-chat__channel-header-height);
  min-width: 0;
}

@mixin header-text-layout {
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow-y: hidden; // for Edge
  overflow-x: hidden; // for ellipsis text
  max-width: 100%;
  row-gap: var(--spacing-xxs);
  width: 100%;
}

@mixin empty-theme($component-name) {
  text-align: center;

  svg {
    width: 32px;
    height: 32px;
  }
}

@mixin message-list-spacing {
  padding: 0;

  // Need this trick to be able to apply full-width background color on hover to messages / full-width separator to thread header
  .str-chat__li {
    max-width: 100%;
  }
}
