.str-chat {
  box-sizing: border-box;
  font-family: var(--typography-font-family-sans), system-ui, -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, sans-serif;
  font-size: var(--typography-font-size-md);

  * {
    box-sizing: border-box;
  }
}