.str-chat {
  font-family: var(--typography-font-family-sans), system-ui, -apple-system, BlinkMacSystemFont, “Segoe UI”, Roboto, sans-serif;
  font-size: var(--typography-font-size-md);
  font-weight: var(--typography-font-weight-regular);
}