.str-chat {
  font-family: var(--str-chat__font-family);
  font-size: var(--typography-font-size-md);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-normal);
  letter-spacing: var(--typography-letter-spacing-default);

  *:not(:disabled):focus-visible {
    outline: 2px solid  var(--border-utility-focus);
    outline-offset: 2px;
  }
}