@mixin button-reset {
  background: none;
  border: none;
  padding-inline: 0;
}

@mixin overlay-after($color: black) {
  &::after {
    content: "";
    position: absolute;
    inset: 0;
    background: $color;
    pointer-events: none;
  }
}

@mixin flex-row-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin flex-col-center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

@mixin ellipsis-text-parent {
  overflow-y: visible;
  // Not every browser supports clip, so hidden is defined as a fallback
  overflow-x: hidden;
  overflow-x: clip;
  min-width: 0;
}

@mixin ellipsis-text {
  white-space: nowrap;
  overflow-y: visible;
  // Not every browser supports clip, so hidden is defined as a fallback
  overflow-x: hidden;
  overflow-x: clip;
  text-overflow: ellipsis;
}

@mixin unset-button($outline-radius: var(--radius-max)) {
  padding: unset;
  background: unset;
  border: unset;
  border-radius: $outline-radius;
}

@mixin loading-item-background($color) {
  background-image: linear-gradient(-90deg, #{$color} 0%, #{$color} 100%);
}

@mixin focusable {
  outline: 2px solid  var(--border-utility-focus);
}

@mixin loading-animation {
  animation: pulsate 1s linear 0s infinite alternate;

  &:nth-of-type(2) {
    animation: pulsate 1s linear 0.3334s infinite alternate;
  }

  &:last-of-type {
    animation: pulsate 1s linear 0.6667s infinite alternate;
  }

  @keyframes pulsate {
    from {
      opacity: 0.5;
    }

    to {
      opacity: 1;
    }
  }
}

// todo: remove
@mixin component-layer-overrides($component-name, $important: '') {
  background: var(--str-chat__#{$component-name}-background-color) #{$important};
  color: var(--str-chat__#{$component-name}-color) #{$important};
  box-shadow: var(--str-chat__#{$component-name}-box-shadow) #{$important};
  border-radius: var(--str-chat__#{$component-name}-border-radius) #{$important};
  border-block-start: var(--str-chat__#{$component-name}-border-block-start) #{$important};
  border-block-end: var(--str-chat__#{$component-name}-border-block-end) #{$important};
  border-inline-start: var(--str-chat__#{$component-name}-border-inline-start) #{$important};
  border-inline-end: var(--str-chat__#{$component-name}-border-inline-end) #{$important};
}