// colors
$background: #000615;
$component-background: #010c29;
$button-background: #062471;
$button-background-hover: #0d47d9;
$button-background-active: #062471;
$button-background-disabled: #081e58;

$foreground: #fff;
$disabled: rgba(255, 255, 255, 0.5);

$follow: #e70053;
$subscribe: #ffe500;
$attendees: #00fc92;

$border-color: #062471;
$border-color-secondary: #081e58;
