@import url('https://fonts.googleapis.com/css?family=Inter');

body {
  margin: 0;
  font-family: 'Inter', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
