@import './_variables';

.str-chat__virtual-list .str-chat__virtual-list-message-wrapper {
  background: $app-canvas;
  transition: background 1s;
  padding: 0px;

  &:hover {
    background: $card-background;
    transition: background 0s;
  }

  &:not(:hover) {
    transition: background 0s;
  }
}

.message-ui {
  position: relative;
  display: flex;
  font-size: 14px;
  color: $text-high-emphasis;
  padding: 8px;

  &-options {
    position: absolute;
    top: 5px;
    right: 8px;

    span:first-child {
      margin-right: 8px;
    }

    svg {
      &:hover {
        cursor: pointer;

        path {
          transition: fill 0.2s;
          fill: $primary-accent;
        }
      }
    }

    &-dropdown {
      position: absolute;
      margin-top: 4px;
      right: -8px;

      &.recent {
        margin-top: 0;
        bottom: 145px;
      }
    }
  }

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin-left: 4px;

    &-top {
      display: flex;
      align-items: center;

      &-name {
        font-weight: 600;
        margin-right: 4px;
      }

      &-title {
        color: $primary-accent;
        font-size: 12px;
        margin-right: 4px;
      }

      &-time {
        color: $text-mid-emphasis;
        font-size: 12px;
      }
    }
  }

  .str-chat__avatar {
    margin-right: 0;
    margin-top: 4px;
  }

  .str-chat__message-attachment-card {
    border-width: 1px;
    border-radius: 16px;
    margin-top: 4px;
    max-width: 250px;
    border-color: $stroke;
  }

  .str-chat__message-attachment--giphy {
    max-width: 175px;

    .str-chat__message-attachment-card--content {
      padding: 0;
      margin-left: 8px;
      margin-right: 8px;
    }

    .str-chat__message-attachment-card--url {
      font-size: 8px;
    }
  }
}
