@import './_variables';

.message-input {
  &-container {
    position: relative;
    display: flex;
    width: 320px;
    border-top: 1px solid $stroke;
  }

  &-input {
    display: flex;
    align-items: center;
    border-radius: 8px;
    border: 1px solid $stroke;
    margin: 8px;
    padding: 8px;
    height: 40px;
    flex: 1;
    background: $card-alt-background;
    transition: background 1s;

    &-emoji-picker {
      &:hover {
        cursor: pointer;
      }

      svg:hover path {
        fill: $primary-accent;
      }
    }

    &.giphy {
      border: 2px solid $primary-accent;
      caret-color: $primary-accent;
    }

    &:focus-within {
      border: 2px solid $primary-accent;
      caret-color: $primary-accent;
    }
  }

  &-send {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 8px;
    height: 40px;
    width: 40px;
    background: $card-background;
    transition: background 1s;
    margin: 8px 8px 8px 0;
    color: $text-low-emphasis;
    font-size: 11px;

    svg {
      fill: $text-low-emphasis;
    }

    &.text {
      svg path {
        fill: $primary-accent;
      }

      div {
        color: $primary-accent;
      }
    }
  }

  &-send:hover {
    cursor: pointer;
    color: $primary-accent;

    svg {
      fill: $primary-accent;
    }
  }

  &-send:active {
    background: $primary-accent;
    transition: background 1s;
    color: $white;

    svg {
      fill: $white;
    }
  }
}

.str-chat__textarea {
  width: 100%;
  padding-right: 16px;
  display: flex;
  align-items: center;
  height: 100%;
}

.str-chat__textarea textarea {
  background: $card-alt-background;
  transition: background 1s;
  padding: 0;
  padding-left: 4px;
  border: none;
  min-height: unset;
  font-size: 14px;
  border-radius: 0;
  color: $text-high-emphasis;
}

.str-chat__textarea textarea:focus {
  background: $card-alt-background;
  transition: background 1s;
  border: none !important;
  outline: none !important;
  box-shadow: none !important;
}

.str-chat__input--emojipicker {
  z-index: 1;
}

.emoji-mart {
  width: 320px !important;
  background: $app-canvas;
  transition: background 1s;
  box-shadow: $shadow;
  border-color: $stroke;

  &-category-label {
    background: $app-canvas;
    transition: background 1s;
    color: $text-high-emphasis;

    span {
      background: $app-canvas;
      transition: background 1s;
    }
  }
  &-bar {
    display: none;
  }

  &-search {
    display: none;
  }
}

.str-chat__emojisearch {
  z-index: 999;
}
