@import './_variables';

.profile {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background: $app-canvas;
  transition: background 1s;
  z-index: 2;

  &-header {
    display: flex;
    background: $app-canvas;
    transition: background 1s;
    align-items: center;
    justify-content: space-between;
    padding: 8px;
    max-height: 56px;
    box-sizing: border-box;

    &-close {
      display: flex;
      justify-content: center;
      align-items: center;
      height: 40px;
      width: 40px;
      border-radius: 8px;
      background: $card-background;
      transition: background 1s;
      cursor: pointer;

      svg {
        fill: $primary-accent;
      }
    }

    &-actions {
      display: flex;
      align-items: center;
      justify-content: center;
      position: relative;
      height: 40px;
      width: 40px;
      border-radius: 8px;
      background: $card-background;
      transition: background 1s;
      cursor: pointer;

      svg {
        fill: $primary-accent;
      }

      &.open {
        background: $primary-accent;

        svg {
          fill: $white;
        }
      }
    }
  }

  &-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8px;

    img {
      height: 200px;
      width: 200px;
      border-radius: 16px;
    }

    .str-chat__avatar-fallback {
      border-radius: 16px;
    }

    &-top {
      display: flex;
      align-items: center;
      margin-top: 8px;

      &-online {
        height: 8px;
        width: 8px;
        border-radius: 4px;
        background: $accent-green;
        margin-right: 8px;
      }

      &-name {
        font-size: 18px;
        font-weight: 600;
        color: $text-high-emphasis;
      }
    }

    &-title {
      font-size: 14px;
      color: $text-mid-emphasis;
      margin-top: 4px;
    }

    &-logos {
      margin-top: 12px;

      :first-child {
        margin-right: 16px;
      }
    }
  }

  .start-chat {
    position: absolute;
    bottom: 0;
    max-height: 56px;
    padding: 8px;
    box-sizing: border-box;
    width: 320px;
    border-top: 1px solid $stroke;

    &-button {
      display: flex;
      align-items: center;
      justify-content: center;
      background: $primary-accent;
      color: $white;
      border-radius: 8px;
      height: 40px;
      font-size: 14px;
      line-height: 18px;
      font-weight: 600;
      cursor: pointer;
      transition: background 1s;
    }
  }
}
