@import './_variables';
// @import '../assets/participant01.jpg';
// @import '../assets/participant02.jpg';
// @import '../assets/participant04.jpg';
// @import '../assets/participant05.jpg';
// @import '../assets/participant06.jpg';
// @import '../assets/participant07.jpg';

.room-video {
  &-container {
    display: flex;
    flex-direction: column;
    background: $dark-grey;
    height: 100%;
    width: 100%;
  }

  &-header {
    width: 100%;
    height: 46px;
    color: $white;
  }

  &-grid {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
    width: 100%;
    align-content: center;
    justify-content: center;

    > div:first-child {
      border: none;
      box-shadow: 0 0 0 4px $accent-green;
    }

    &-participant {
      //   background-image: url('../assets/participant01.jpg');
      display: flex;
      justify-content: space-between;
      width: 340px;
      height: 204px;
      border-radius: 8px;
      border: 1px solid white;
      margin: 4px;
      //   background: cornsilk;

      &-info {
        display: flex;
        align-items: center;
        background: $overlay;
        align-self: flex-end;
        padding: 6px;
        border-radius: 6px;
        margin: 2px;

        &-name {
          color: $white;
          margin-right: 12px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
        }
      }

      &-connection {
        display: flex;
        align-items: center;
        align-self: flex-end;
        background: $overlay;
        padding: 6px;
        border-radius: 6px;
        margin: 2px;
      }
    }
  }
}

.pinned {
  background: blue;
  order: -1;
  width: 100% !important;
  height: 400px !important;

  .room-video-grid-participant {
    &-connection {
      display: flex !important;
    }

    &-info {
      width: unset !important;
    }
  }
}

.isPinned {
  > div {
    width: 140px;
    height: 100px;
  }

  .room-video-grid-participant {
    &-connection {
      display: none;
    }

    &-info {
      width: 80%;
    }
  }
}
