.team-message-input__wrapper {
  display: flex;
  flex-direction: column;
  background: #f7f6f8;
  padding: 15px 20px 28px;
  width: 100%;
}

.team-message-input__input {
  border: 1px solid #4e1d9d;
  border-radius: 8px;
}

.team-message-input__top {
  min-height: 43px;
  display: flex;
  align-items: center;
  width: 100%;
  background: #fff;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.team-message-input__wrapper .giphy-icon__wrapper {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 24px;
  width: 63px;
  border-top-left-radius: 8px;
  background: #4e1d9d;
  border-radius: 12px;
  margin-left: 8px;
}

.team-message-input__wrapper .giphy-icon__text {
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: bold;
  font-size: 11px;
  line-height: 8px;
  color: #ffffff;
}

.team-message-input__bottom {
  display: flex;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 40px;
  background: rgba(0, 0, 0, 0.05);
}

.team-message-input__button {
  position: relative;
  width: 0;
  right: 32px;
  cursor: pointer;
}

.team-message-input__wrapper .str-chat__textarea textarea {
  display: flex;
  background: #fff;
  border: none;
  outline: none;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 15px;
  border-bottom-left-radius: 0px;
  border-bottom-right-radius: 0px;
}

.team-message-input__wrapper .str-chat__textarea textarea:focus {
  border: none;
  outline: none;
  box-shadow: none;
  background: #fff;
}

.team-message-input__wrapper .str-chat__textarea textarea::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.team-message-input__icons {
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 250px;
}

.team-message-input__icons svg:hover path {
  fill-opacity: 60%;
}

.team-message-input__icons svg:hover {
  cursor: pointer;
}

.icon-divider {
  width: 1px;
  height: 40px;
  background: rgba(204, 204, 204, 0.5);
}

.team-message-input__wrapper .str-chat__input--emojipicker {
  z-index: 3;
  bottom: calc(100% - 800px + 113px);
  left: 332px;
  width: 338px;
}

.emoji-mart .emoji-mart-emoji:focus {
  outline: none;
}

div.rfu-dropzone:focus {
  outline: none;
}

.rfu-image-previewer {
  flex: none;
  margin-left: 12px;
}

.rfu-image-previewer__image {
  margin-bottom: 0;
}
