// todo: should we have img dimensions determined by semantic variables?
.str-chat__location-preview-image,
.str-chat__link-preview-card .str-chat__image-placeholder,
.str-chat__attachment-preview__thumbnail {
  border-radius: var(--str-chat__radius-md);
  overflow: hidden;
  width: 40px;
  height: 40px;
  object-fit: cover;
}
