@use '../../../styling/utils';

.str-chat__command-chip {
  display: flex;
  padding: var(--str-chat__spacing-xxs) var(--str-chat__spacing-xs);
  justify-content: center;
  align-items: center;
  gap: var(--str-chat__spacing-xxs);
  border-radius: var(--str-chat__radius-max);

  color: var(--str-chat__text-on-inverse);
  background-color: var(--str-chat__background-core-inverse);
  text-transform: uppercase;
  font: var(--str-chat__font-metadata-emphasis);

  .str-chat__command-chip__close-button {
    @include utils.button-reset;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    color: inherit;
  }
}
