.str-chat__button.str-chat__attachment-preview__remove-button {
  position: absolute;
  z-index: 1;
  top: -6px;
  inset-inline-end: -6px;
  background-color: var(--str-chat__attachment-preview-close-icon-background);
  border: 3px solid var(--str-chat__attachment-preview-close-icon-border-color);
  color: var(--str-chat__attachment-preview-close-icon-color);
  border-radius: var(--radius-max);
}
