@use '../../../styling/utils';
@use '../../../styling/variables/font' as font;

.str-chat__attachment-preview-unsupported {
  background: transparent;
  color: var(--text-primary);
  border-radius: calc(var(--message-bubble-radius-group-bottom) - var(--str-chat__attachment-margin));
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--spacing-md);
  column-gap: var(--spacing-xs);

  .str-chat__icon {
    height: var(--size-20);
    width: var(--size-20);
  }

  .str-chat__attachment-preview-unsupported__metadata {
    min-width: 0;
    flex: 1;
    height: stretch;
    display: flex;
    align-items: center;
  }

  .str-chat__attachment-preview-unsupported__title {
    @include utils.ellipsis-text;
    @include font.text-caption-emphasis;
    max-width: 100%;
    height: fit-content;
  }
}
