.ladle-main {
  padding: 0 1rem 3rem;
}
.str-chat {
  height: 700px !important;
}

.str-chat-channel-list {
  overflow: auto;
}

.chat-root {
  display: flex;
}

.chat-root .str-chat__channel {
  flex-grow: 1;
}
