.str-chat {
  .str-chat__suggestion-list {
    max-height: 320px;
    min-width: 200px;
    overflow-y: auto;

    .str-chat__suggestion-list-item--selected {
      background-color: var(--str-chat__dialog-menu-button-hover-background-color);
    }
  }
}