.support-message-input__wrapper {
  width: 340px;
  height: 70px;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  margin-top: 20px;
}

.support-message-input__input {
  width: 300px;
  height: 50px;
  display: flex;
  align-items: center;
  border: 1px solid #005fff;
  border-radius: 12px;
  padding-right: 20px;
}

.support-message-input__wrapper .str-chat__textarea {
  height: 100%;
  display: flex;
  align-items: center;
}

.support-message-input__wrapper .str-chat__textarea textarea {
  border: none;
  font-family: Helvetica Neue, sans-serif;
  font-size: 17px;
  max-height: 48px !important;
  border-radius: 12px;
  line-height: 160%;
}

.support-message-input__wrapper .str-chat__textarea textarea:focus {
  border: none;
  box-shadow: none;
}

.support-message-input__wrapper .str-chat__textarea textarea::placeholder {
  color: rgba(0, 0, 0, 0.2);
}

.str-chat__input--emojipicker {
  position: absolute;
  bottom: 146px;
  right: 1px;
  z-index: 10;
}

.emoji-mart .emoji-mart-emoji:focus {
  outline: none;
}
