.side-drawer {
    min-width: 418px;
    max-width: 418px;
    height: 100%;
    visibility: hidden;
    display: flex;
    flex-direction: column;
    left: 0px;

    &.isSideDrawerOpen {
        visibility: unset;
    }
}