.str-chat__channel-detail {
  display: flex;
  flex-direction: column;
  width: min(800px, calc(100vw - (2 * var(--str-chat__spacing-lg, 24px))));
  max-width: 100%;
  height: 100%;
  min-height: 0;

  .str-chat__section-navigator {
    min-height: 0;
  }

  .str-chat__section-navigator__content {
    display: flex;
    flex-direction: column;
    min-height: 0;
  }

  .str-chat__prompt__header__description {
    display: none;
  }
}

.str-chat__channel-detail__nav-button {
  width: 100%;
  text-transform: capitalize;
}

.str-chat__channel-detail__header {
  display: flex;
  gap: var(--str-chat__spacing-md);
  padding: var(--str-chat__spacing-xl);
}

.str-chat__channel-detail__search-input {
  flex-shrink: 0;
  width: 100%;
  margin-bottom: var(--str-chat__spacing-md);

  .str-chat__form-text-input__wrapper--outline {
    border-radius: var(--str-chat__radius-max);
  }
}
