@import '../../styles/_variables';

.cooldown-timer {
    background-color: $disabled;
    height: 40px;
    width: 48px;
    border-radius: 9999px;
    position: relative;

    &-text {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        background: $disabled;
       color: $white;
    }
}