@import './_variables';

.new-chat {
  height: 100%;
  width: 100vw;
  background: $app-bg;
}

.new-chat-preview {
  display: flex;
  align-items: center;
  padding: 8px 5px;
  background-color: $borders;

  max-height: 72px;
  border-bottom: 1px solid $app-bg;

    &-avatar {
        padding-left: 5px;
    }

    span {
        color: $text-high-emphasis;
        margin-left: 20px;
        font-weight: 500;
        line-height: 9.92px;
        font-size: 17px;
    }
}
