@import '../../styles/_variables';

.message-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 8px;

  .my-message {
    .str-chat__message-text-inner {
      background: $borders;
      color: $text-high-emphasis;
      font-size: 17px;
      font-weight: 400;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      padding: 0px 16px;
      border: 1px solid $borders;
    }
  }

  .str-chat__message-text-inner {
    background: $bars-bg;
    color: $text-high-emphasis;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    border: 1px solid $borders;
  }

  &-inner {
    align-items: flex-end;
    position: relative;

    .str-chat__message-text {
      align-self: flex-start;
    }

    &.my-message {
      align-items: flex-start;

      .message-wrapper-inner-reply {
        align-self: flex-end;
      }

      div.my-message {
        align-self: flex-end;
        // background: red;
      }

      .message-wrapper-inner-options {
        flex-direction: initial;
      }
    }

    display: flex;
    flex-direction: column;
    padding-left: 5px;

    &-options {
      width: 100%;
      display: flex;
      justify-content: space-between;
    }

    &-data {
      display: flex;
      margin-top: 3px;
      height: 15px;
      justify-content: space-between;

      &-info {
        color: $text-low-emphasis;
        font-size: 13px;
        font-weight: 500;
        margin-right: 8px;
      }

      &-time {
        color: $text-low-emphasis;
        font-size: 13px;
        font-weight: 400;
      }

      &-readby {
        color: $accent-primary;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 3px;
      }
    }

    &-reply {
      display: flex;
      align-items: flex-end;
      height: 22px;
      position: relative;
      align-self: flex-start;
    }
  }
}

div.message-wrapper-inner .str-chat__message-attachment {
  margin: 4px 0 0;
}

.right {
  justify-content: flex-end;
}

.str-chat__li--top .my-message .str-chat__message-text-inner,
.str-chat__message-text-inner {
  border-radius: 18px 18px 4px 18px;
}

.str-chat__li--bottom .my-message .str-chat__message-text-inner,
.str-chat__message-text-inner {
  border-radius: 18px 18px 4px 18px;
}

.str-chat__li--middle .my-message .str-chat__message-text-inner,
.str-chat__message-text-inner {
  border-radius: 18px 18px 4px 18px;
}

.str-chat__li--single .my-message .str-chat__message-text-inner,
.str-chat__message-text-inner {
  border-radius: 18px 18px 0px 18px;
  height: 36px;
  justify-content: center;
}

// reactions
.message-wrapper-inner-options {
  flex-direction: row-reverse;
}

.message-wrapper-inner:hover .str-chat__message-simple__actions {
  svg:hover {
    fill: var(--accent-primary);
  }

  &__action--reactions {
    display: flex;
    position: relative;
  }

  &__action--options {
    display: flex;
  }
}

div.str-chat__reaction-selector {
  background: var(--white);
  height: 40px;
  bottom: -45px;
  left: 60px;

  .emoji-mart-emoji:hover {
    transform: none;
  }

  ul {
    margin: 0 8px;
  }
}

.message-wrapper-inner.my-message.my-message > div.str-chat__reaction-selector {
  right: 40px;
  left: auto;
}

li.str-chat__message-reactions-list-item {
  padding: 8px;
  margin: 0;

  &:hover {
    background: var(--input-bg);
    border-radius: 20px;
  }
}

span.str-chat__message-reactions-list-item__count {
  color: var(--black);
}

.message-wrapper-inner-text {
  position: relative;
}

ul.str-chat__simple-reactions-list {
  position: absolute;
  top: -32px;
  left: -15px;
  // left: -55px;
  z-index: 2;
  border: 1px solid var(--borders);
  height: 32px;
  min-width: 32px;
  border-radius: 32px;
  align-items: center;
  justify-content: center;
  background: var(--app-bg);
  box-shadow: 2px 2px var(--app-bg);
}

li.str-chat__simple-reactions-list-item {
  padding-left: 4px;
}

.bubble-1 {
  position: absolute;
  height: 8px;
  width: 8px;
  background: var(--app-bg);
  top: 2px;
  left: 0;
  z-index: 1;
  border: 1px solid var(--borders);
  border-radius: 8px;
  box-shadow: 1px 1px var(--app-bg);
}

.bubble-2 {
  position: absolute;
  height: 4px;
  width: 4px;
  background: var(--app-bg);
  top: 5px;
  left: 5px;
  z-index: 2;
  border: 1px solid var(--borders);
  border-radius: 4px;
  box-shadow: 1px 1px var(--app-bg);
}

li.str-chat__simple-reactions-list-item--last-number {
  display: none;
}
