@import '../../styles/_variables';

.message-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 8px;

  .my-message {
    .str-chat__message-text-inner {
      background: $borders;
      color: $text-high-emphasis;
      font-size: 17px;
      font-weight: 400;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      padding: 0px 16px;
      border: 1px solid $borders;
    }
  }

  .str-chat__message-text-inner {
    background: $bars-bg;
    color: $text-high-emphasis;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    border: 1px solid $borders;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    padding-left: 5px;

    &-data {
      display: flex;
      margin-top: 3px;

      &-info {
        color: $text-low-emphasis;
        font-size: 13px;
        font-weight: 500;
        margin-right: 5px;
      }

      &-time {
        color: $text-low-emphasis;
        font-size: 13px;
        font-weight: 400;
      }

      &.my-message {
        justify-content: flex-end;
      }

      &-readby {
        color: $accent-primary;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 3px;
      }
    }

    &-reply {
      display: flex;
      align-items: flex-end;
      border-right: 1px solid #dbdde1;
      border-bottom-right-radius: 16px;
      bottom: 5px;
    //   transform: matrix(-1, 0, 0, 1, 0, 0);
    }
  }
}

ul.str-chat__simple-reactions-list {
  border: none;
  position: absolute;
  top: 10px;
  bottom: 10px;
}

li.str-chat__simple-reactions-list-item--last-number {
  display: none;
}

.right {
  justify-content: flex-end;
}

.str-chat__li--top .my-message .str-chat__message-text-inner,
.str-chat__message-text-inner {
  border-radius: 18px 18px 4px 18px;
}

.str-chat__li--bottom .my-message .str-chat__message-text-inner,
.str-chat__message-text-inner {
  border-radius: 18px 18px 4px 18px;
}

.str-chat__li--middle .my-message .str-chat__message-text-inner,
.str-chat__message-text-inner {
  border-radius: 18px 18px 4px 18px;
}

.str-chat__li--single .my-message .str-chat__message-text-inner,
.str-chat__message-text-inner {
  border-radius: 18px 18px 0px 18px;
}

.str-chat__message-replies-count-button svg {
  display: none;
}

button.str-chat__message-replies-count-button {
  padding: 0 8px;
}

.str-chat__li:hover .str-chat__message-simple__actions {
  //   position: absolute;
  //   bottom: 0;
  //   display: flex;

  &__action--reactions {
    display: flex;
  }

  &__action--options {
    display: flex;
  }

  &__action--thread {
    display: flex;
  }
}
