@import '../../styles/_variables';

.message-wrapper {
  display: flex;
  flex-direction: row;
  align-items: flex-end;
  margin-top: 8px;

  .my-message {
    .str-chat__message-text-inner {
      background: $borders;
      color: $text-high-emphasis;
      font-size: 17px;
      font-weight: 400;
      line-height: 20px;
      display: flex;
      flex-direction: column;
      padding: 0px 16px;
      border: 1px solid $borders;
    }
  }

  .str-chat__message-text-inner {
    background: $bars-bg;
    color: $text-high-emphasis;
    font-size: 17px;
    font-weight: 400;
    line-height: 20px;
    display: flex;
    flex-direction: column;
    padding: 0px 16px;
    border: 1px solid $borders;
  }

  &-inner {
    display: flex;
    flex-direction: column;
    padding-left: 5px;

    &-data {
      display: flex;
      margin-top: 3px;

      &-info {
        color: $text-low-emphasis;
        font-size: 13px;
        font-weight: 500;
        margin-right: 5px;
      }

      &-time {
        color: $text-low-emphasis;
        font-size: 13px;
        font-weight: 400;
      }

      &.my-message {
        justify-content: flex-end;
      }

      &-readby {
        color: $accent-primary;
        font-size: 13px;
        font-weight: 600;
        margin-bottom: 3px;
      }
    }
  }
}

.right {
  justify-content: flex-end;
}

.str-chat__li--top .my-message .str-chat__message-text-inner,
.str-chat__message-text-inner {
  border-radius: 18px 18px 4px 18px;
}

.str-chat__li--bottom .my-message .str-chat__message-text-inner,
.str-chat__message-text-inner {
  border-radius: 18px 18px 4px 18px;
}

.str-chat__li--middle .my-message .str-chat__message-text-inner,
.str-chat__message-text-inner {
  border-radius: 18px 18px 4px 18px;
}

.str-chat__li--single .my-message .str-chat__message-text-inner,
.str-chat__message-text-inner {
  border-radius: 18px 18px 0px 18px;
}

// // hacky way to add message options

.message-ui {
  position: relative;
  display: flex;
  font-size: 14px;
  color: $text-high-emphasis;
  padding: 8px;
  background: $app-canvas;
  transition: background 0s;

  &:hover {
    background: $card-background;
  }

  &.theme-open {
    transition: background 1s;
  }

  &-options {
    position: absolute;
    top: 5px;
    right: 64px;
    // right: 8px;
    background: yellowgreen;

    span:first-child {
      margin-right: 8px;
    }

    svg {
      &:hover {
        cursor: pointer;

        path {
          transition: fill 0.2s;
          fill: $accent-primary;
        }
      }
    }

    &-dropdown {
      position: absolute;
      margin-top: 4px;
      right: -8px;

      &.recent {
        margin-top: 0;
        bottom: 145px;
      }

      &.recent.mine {
        bottom: 64px;
      }
    }
  }
}
