.str-chat__message-attachment-actions {
  background: transparent;
  color: var(--str-chat__button-secondary-text);

  .str-chat__message-attachment-actions-form {
    display: flex;
    justify-content: stretch;
    height: 48px;

    .str-chat__message-attachment-actions-button {
      background: transparent;
      color: var(--str-chat__button-secondary-text);
      width: 100%;
      padding: var(--str-chat__button-padding-y-sm)
        var(--str-chat__button-padding-x-with-label-sm);
      white-space: nowrap;
      border-collapse: collapse;

      font: var(--str-chat__font-body-emphasis);

      &.str-chat__button {
        &:active {
          color: var(--str-chat__accent-primary);
        }

        &:focus-visible {
          color: var(--str-chat__accent-primary);
          outline: none;
        }
      }
    }
  }
}
