@use '../../../styling/utils';
@use '../../../styling/variables/font' as font;

.str-chat__message-attachment-unsupported {
  background: transparent;
  color: var(--str-chat__text-primary);
  border-radius: calc(
    var(--str-chat__message-bubble-radius-group-bottom) - var(
        --str-chat__attachment-margin
      )
  );
  display: flex;
  align-items: center;
  justify-content: center;
  padding: var(--str-chat__spacing-md);
  column-gap: var(--str-chat__spacing-xs);

  .str-chat__icon {
    height: var(--str-chat__size-20);
    width: var(--str-chat__size-20);
  }

  .str-chat__message-attachment-unsupported__metadata {
    min-width: 0;
    flex: 1;
    height: stretch;
    display: flex;
    align-items: center;
  }

  .str-chat__message-attachment-unsupported__title {
    @include utils.ellipsis-text;
    @include font.text-caption-emphasis;
    max-width: 100%;
  }
}
