.str-chat__message-attachment__voice-recording-widget {
  background: transparent;
  color: var(--text-primary);
  border-radius: calc(
    var(--message-bubble-radius-group-bottom) - var(--str-chat__attachment-margin)
  );
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-width: 0;
  min-height: 60px;
  padding: var(--spacing-xs);

  .str-chat__message-attachment__voice-recording-widget__play-button-container {
    padding: var(--spacing-xxs);
  }

  .str-chat__message-attachment__voice-recording-widget__metadata {
    flex: 1;
    min-width: 0;

    a {
      cursor: pointer;
      text-decoration: none;
      color: var(--text-primary);
    }

    .str-chat__message-attachment-download-icon {
      svg {
        width: var(--size-24);
        height: var(--size-16);
      }
    }
  }

  .str-chat__message-attachment__voice-recording-widget__timer {
    min-width: var(--size-40);
    width: var(--size-40);
    font: var(--str-chat__font-metadata-emphasis);
  }
}
