html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.str-chat-channel-list {
  height: 100%;
}

.str-chat-channel {
  height: 100%;
}

.str-chat__channel-search-result {
  width: 100%;
}

.str-chat__message-actions-list button:focus {
  outline: 5px auto -webkit-focus-ring-color;
}

.rfu-file-upload-button:focus-within {
  outline: 5px auto -webkit-focus-ring-color;
  height: 25%;
}
