html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
}

#root {
  height: 100%;
}

.str-chat-channel-list {
  height: 100%;
}

.str-chat-channel {
  height: 100%;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  width: 100%;
}

.str-chat__message-simple:focus-within .str-chat__message-simple__actions__action--thread {
  display: flex;
}

.str-chat__message-simple:focus-within .str-chat__message-simple__actions__action--reactions {
  display: flex;
}

.str-chat__message-simple:focus-within .str-chat__message-simple__actions__action--options {
  display: flex;
}

button {
  cursor: pointer;
  background-color: transparent;
  border: none;
  padding: 0;
  display: flex;
  align-items: center;
  outline: none;
}

/* .rfu-file-upload-button:focus-within {
  outline: 5px auto -webkit-focus-ring-color;
} */

.str-chat__exit {
  display: flex;
  width: 86px;
  justify-content: space-between;
}

.str-chat__load-more-button__button {
  display: flex;
  justify-content: center;
}

.str-chat__edit-message-form {
  position: relative;
}

.str-chat-channel-list .str-chat__channel-list-messenger__main {
  padding-bottom: 4px;
}
