body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#root {
  display: flex;
  height: 100%;
  width: 100vw;
}
.str-chat__channel-list {
  flex: 1 0 300px;
  min-width: 0;
}

.str-chat__channel {
  flex: 4 1 auto;
  min-width:0;
}

.str-chat__main-panel {
  min-width: 0;
  flex:1;
}
.str-chat__thread, .str-chat__thread-container {
  flex:1;
}
