@use '../../../../styling/utils';

.str-chat__thread-list-item-container {
  border-bottom: 1px solid var(--border-core-subtle);
  padding: var(--spacing-xxs);
  max-width: 100%;
}

.str-chat__thread-list-item {
  display: flex;
  gap: var(--spacing-sm);
  align-items: flex-start;
  padding-inline: var(--spacing-sm);
  padding-block: var(--spacing-sm);
  padding-block-start: calc(var(--spacing-sm) - 1px);
  border: none;
  cursor: pointer;
  text-align: start;
  background: var(--background-elevation-elevation-1);
  border-radius: var(--radius-lg);
  width: 100%;
  max-width: 100%;

  background: var(--background-elevation-elevation-1);
  &:not(:disabled):hover {
    background: var(--background-core-hover);
  }
  &:not(:disabled):active {
    background: var(--background-core-pressed);
  }
  &:not(:disabled)[aria-pressed='true'] {
    background: var(--background-core-selected);
  }

  .str-chat__avatar {
    flex-shrink: 0;
  }
}

.str-chat__thread-list-item__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  flex: 1 0 0;
  min-width: 0;
}

.str-chat__thread-list-item__content-leading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
  padding-block: var(--spacing-xxxs);
}

.str-chat__thread-list-item__title {
  font-size: var(--typography-font-size-sm);
  font-weight: var(--typography-font-weight-semi-bold);
  line-height: var(--typography-line-height-normal);
  color: var(--text-tertiary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.str-chat__thread-list-item__message-preview {
  font-size: var(--typography-font-size-md);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-normal);
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.str-chat__thread-list-item__content-trailing {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.str-chat__thread-list-item__reply-information {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.str-chat__thread-list-item__reply-count {
  font-size: var(--typography-font-size-sm);
  font-weight: var(--typography-font-weight-semi-bold);
  line-height: var(--typography-line-height-normal);
  color: var(--text-link);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.str-chat__thread-list-item__timestamp {
  font-size: var(--typography-font-size-sm);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-normal);
  color: var(--text-tertiary);
  white-space: nowrap;
  min-width: 0;
  @include utils.ellipsis-text;
}

.str-chat__thread-list-item__message-preview {
  display: flex;
  align-items: center;
  gap: var(--spacing-xxs);

  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;

  color: var(--text-secondary);
  font-size: var(--typography-font-size-sm);
  font-style: normal;
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-normal);

  .str-chat__icon {
    flex-shrink: 0;
    width: var(--icon-size-sm);
    height: var(--icon-size-sm);
  }

  &--error {
    color: var(--text-error);
  }

  &--deleted {
    color: var(--text-tertiary);
  }

  .str-chat__thread-list-item__message-preview-text {
    flex: 1;
    min-width: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .str-chat__thread-list-item__message-preview-sender {
    color: var(--text-tertiary);
    font-weight: var(--typography-font-weight-semi-bold);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
