.str-chat__thread-list-item-container {
  border-bottom: 1px solid var(--border-core-subtle);
  padding: var(--spacing-xxs);
}

.str-chat__thread-list-item {
  display: flex;
  gap: var(--spacing-sm);
  align-items: flex-start;
  padding-inline: var(--spacing-sm);
  padding-block: var(--spacing-sm);
  padding-block-start: calc(var(--spacing-sm) - 1px);
  border: none;
  background: none;
  cursor: pointer;
  text-align: start;
  font-family: var(--typography-font-family-sans);
  background: var(--background-elevation-elevation-1);
  border-radius: var(--radius-lg);
  width: 100%;

  &:not(:disabled):hover {
    background: var(--background-core-hover);
  }

  &:not(:disabled):active {
    background: var(--background-core-pressed);
  }

  &[aria-selected='true'] {
    background: var(--background-core-selected);
  }

  .str-chat__avatar {
    flex-shrink: 0;
  }
}

.str-chat__thread-list-item__content {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xs);
  flex: 1 0 0;
  min-width: 0;
}

.str-chat__thread-list-item__content-leading {
  display: flex;
  flex-direction: column;
  gap: var(--spacing-xxs);
  padding-block: var(--spacing-xxxs);
}

.str-chat__thread-list-item__title {
  font-size: var(--typography-font-size-sm);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-normal);
  color: var(--text-tertiary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.str-chat__thread-list-item__message-preview {
  font-size: var(--typography-font-size-md);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-normal);
  color: var(--text-primary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.str-chat__thread-list-item__content-trailing {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.str-chat__thread-list-item__reply-information {
  display: flex;
  gap: var(--spacing-xs);
  align-items: center;
}

.str-chat__thread-list-item__reply-count {
  font-size: var(--typography-font-size-sm);
  font-weight: var(--typography-font-weight-semi-bold);
  line-height: var(--typography-line-height-normal);
  color: var(--text-link);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.str-chat__thread-list-item__timestamp {
  font-size: var(--typography-font-size-sm);
  font-weight: var(--typography-font-weight-regular);
  line-height: var(--typography-line-height-normal);
  color: var(--text-tertiary);
  white-space: nowrap;
}
