.str-chat__thread-list__header {
  display: flex;
  align-items: center;
  padding: var(--spacing-md);
  height: var(--str-chat__channel-header-height);
  width: 100%;

  .str-chat__thread-list__header__title {
    flex: 1;
    font: var(--str-chat__heading-lg-text);
    color: var(--text-primary);
  }
}
