@use '../../../../styling/utils';

.str-chat__thread-list-item-container {
  border-bottom: 1px solid var(--str-chat__border-core-subtle);
  padding: var(--str-chat__spacing-xxs);
  max-width: 100%;

  &:has(.str-chat__thread-list-item--highlighted) {
    background: var(--str-chat__background-core-highlight);
  }
}

.str-chat__thread-list-item {
  display: flex;
  gap: var(--str-chat__spacing-sm);
  align-items: flex-start;
  padding-inline: var(--str-chat__spacing-sm);
  padding-block: var(--str-chat__spacing-sm);
  padding-block-start: calc(var(--str-chat__spacing-sm) - 1px);
  border: none;
  cursor: pointer;
  text-align: start;
  background: var(--str-chat__background-core-elevation-1);
  border-radius: var(--str-chat__radius-lg);
  width: 100%;
  max-width: 100%;

  &:not(:disabled):hover {
    background: var(--str-chat__background-utility-hover);
  }
  &:not(:disabled):active {
    background: var(--str-chat__background-utility-pressed);
  }
  &:not(:disabled)[aria-pressed='true'] {
    background: var(--str-chat__background-utility-selected);
  }

  .str-chat__avatar {
    flex-shrink: 0;
  }

  .str-chat__summarized-message-preview {
    .str-chat__summarized-message-preview__sender {
      color: var(--str-chat__text-secondary);
    }
    .str-chat__summarized-message-preview__text {
      color: var(--str-chat__text-primary);
    }
  }
}

.str-chat__thread-list-item__content {
  display: flex;
  flex-direction: column;
  gap: var(--str-chat__spacing-xs);
  flex: 1 0 0;
  min-width: 0;
}

.str-chat__thread-list-item__content-leading {
  display: flex;
  flex-direction: column;
  gap: var(--str-chat__spacing-xxs);
  padding-block: var(--str-chat__spacing-xxxs);

  .str-chat__summarized-message-preview {
    font: var(--str-chat__font-body-default);
    .str-chat__summarized-message-preview__sender {
      font: var(--str-chat__font-body-emphasis);
    }
  }
}

.str-chat__thread-list-item__title {
  font: var(--str-chat__font-caption-emphasis);
  color: var(--str-chat__text-tertiary);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.str-chat__thread-list-item__content-trailing {
  display: flex;
  gap: var(--str-chat__spacing-xs);
  align-items: center;
}

.str-chat__thread-list-item__reply-information {
  display: flex;
  gap: var(--str-chat__spacing-xs);
  align-items: center;
}

.str-chat__thread-list-item__reply-count {
  font: var(--str-chat__font-caption-emphasis);
  color: var(--str-chat__text-link);
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.str-chat__thread-list-item__timestamp {
  font: var(--str-chat__font-caption-default);
  color: var(--str-chat__text-tertiary);
  white-space: nowrap;
  min-width: 0;
  @include utils.ellipsis-text;
}
