.team__channel-list__container {
  display: flex;
  border: 1px solid red;
  height: 800px;
}

.team__channel-list__sidebar {
  /* display: flex;
  flex-direction: column; */
  position: absolute;
  width: 72px;
  left: 0px;
  top: 0%;
  bottom: 0%;

  background: linear-gradient(0deg, rgba(0, 0, 0, 0.2), rgba(0, 0, 0, 0.2)),
    #4e1d9d;
  box-shadow: 1px 0px 0px rgba(0, 0, 0, 0.25);
}

.team__channel-list__sidebar__icon1 {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 14px;
  top: 14px;

  background: linear-gradient(
      150.64deg,
      rgba(0, 0, 0, 0.1) 12.73%,
      rgba(0, 0, 0, 0) 89.32%
    ),
    #ffffff;
  border: 1px solid #ffffff;
  box-sizing: border-box;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.33);
  border-radius: 9999px;
}

.team__channel-list__sidebar__icon2 {
  position: absolute;
  width: 44px;
  height: 44px;
  left: 14px;
  top: 72px;

  background: linear-gradient(0deg, #000000, #000000);
  /* url(shrekdonkey_wide-89db9721fc009fe615cf25133a6a3a5d3988444a.jpg), #000000; */
  border-radius: 9999px;
}
