.channel-preview__wrapper {
  height: 37px;
  display: flex;
  align-items: center;
  padding-right: 16px;
}

.channel-preview__wrapper:hover {
  background: rgba(0, 0, 0, 0.2);
  border-top-right-radius: 8px;
  border-bottom-right-radius: 8px;
  font-weight: bold;
  margin-right: 16px;
  cursor: pointer;
}

.channel-preview__item {
  display: flex;
  align-items: center;
  font-family: Helvetica Neue;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #ffffff;
  padding-left: 26px;
  height: 100%;
  width: 100%;
}
