@import '../../styles/variables';

.str-chat-channel.messaging .str-chat__main-panel {
  padding: 0;
}

.chat {
  height: 100%;
  width: 320px;
  min-width: 320px;
  background: $app-canvas;
  transition: all 1s;

  &-close:hover {
    cursor: pointer;
  }

  &.full-screen {
    width: 56px;
    min-width: 56px;
  }

  &-components {
    &.full-screen {
      visibility: hidden;
    }

    &-header {
      background: $app-canvas;
      transition: background 1s;

      &-top {
        padding: 8px;
      }

      &-tabs {
        display: flex;
        align-items: center;
        justify-content: space-around;
        height: 56px;
        font-weight: 600;
        font-size: 14px;
        line-height: 18px;
        color: $text-high-emphasis;
        border: 1px solid $stroke;

        div {
          display: flex;
          justify-content: center;
          width: 50px;

          &:hover {
            cursor: pointer;
          }
        }
      }
    }
  }
}
