.str-chat__thread-header--main {
  display: flex;
  align-items: center;
  gap: var(--spacing-xs);
  padding: var(--spacing-md);
  border-bottom: 1px solid var(--border-core-default, #d5dbe1);
  background: var(--background-elevation-elevation-1, #fff);

  .str-chat__thread-header--main__details {
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;

    .str-chat__thread-header--main__title {
      font: var(--str-chat__heading-sm-text);
      color: var(--text-primary);
    }

    .str-chat__thread-header--main__subtitle {
      font: var(--str-chat__caption-default-text);
      color: var(--text-secondary);
    }
  }
}
