@use '../../../styling/utils';

.str-chat__thread-header {
  @include utils.header-layout;
  background: var(--background-core-elevation-1);
  color: var(--text-primary);
  border-block-end: 1px solid var(--border-core-default);

  .str-chat__thread-header-title {
    font: var(--str-chat__font-heading-sm);
  }

  .str-chat__thread-header-subtitle {
    font: var(--str-chat__font-caption-default);
    color: var(--text-secondary);
  }

  .str-chat__thread-header-details {
    @include utils.header-text-layout;
    min-width: 0;
    justify-self: center;

    .str-chat__thread-header-subtitle,
    .str-chat__thread-header-title {
      @include utils.ellipsis-text;
    }

    .str-chat__thread-header-subtitle {
      @include utils.prevent-glitch-text-overflow;
    }
  }

  .str-chat__thread-header__start {
    min-width: 0;
    justify-self: start;
  }

  .str-chat__thread-header__end {
    min-width: 0;
    justify-self: end;
  }

  .str-chat__close-thread-button {
    display: flex;
    align-items: flex-start;
    justify-content: flex-end;
    width: var(--size-40);
    height: var(--size-40);
    cursor: pointer;
    background-color: transparent;
    border: none;

    .str-chat__icon {
      fill: var(--text-primary);
    }
  }
}

.str-chat__chat-view__threads {
  .str-chat__thread-header {
    .str-chat__thread-header-details {
      align-items: center;
    }
  }

  .str-chat__thread {
    border: none;
  }
}
