@use '../../../styling/utils';

.str-chat__thread-header--main {
  @include utils.header-layout;
  border-bottom: 1px solid var(--border-core-default);
  background: var(--background-core-elevation-1);

  .str-chat__thread-header--main__details {
    @include utils.header-text-layout;

    .str-chat__thread-header--main__title {
      font: var(--str-chat__heading-sm-text);
      color: var(--text-primary);
    }

    .str-chat__thread-header--main__subtitle {
      font: var(--str-chat__caption-default-text);
      color: var(--text-secondary);
    }
  }
}
