@use '../../../styling/utils';

.str-chat {
  /* The border radius used for the borders of the component */
  --str-chat__thread-border-radius: 0;

  /* The text/icon color of the component */
  --str-chat__thread-color: var(--str-chat__text-color);

  /* The background color of the component */
  --str-chat__thread-background-color: var(--str-chat__secondary-background-color);

  /* Top border of the component */
  --str-chat__thread-border-block-start: none;

  /* Bottom border of the component */
  --str-chat__thread-border-block-end: none;

  /* Left (right in RTL layout) border of the component */
  --str-chat__thread-border-inline-start: 1px solid var(--str-chat__surface-color);

  /* Right (left in RTL layout) border of the component */
  --str-chat__thread-border-inline-end: none;

  /* Box shadow applied to the component */
  --str-chat__thread-box-shadow: none;

  /* The text/icon color used to display less emphasized text in the channel header */
  --str-chat__thread-header-info-color: var(--str-chat__text-low-emphasis-color);
}

// FIXME: figure out why does this "container" exist when __thread is completely valid
.str-chat__thread-container {
  @include utils.component-layer-overrides('thread');
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  width: 100%;
}
