.str-chat__parent-message-li {
  padding-block-start: var(--str-chat__spacing-sm);

  .str-chat__message {
    max-width: calc(
      var(--str-chat__message-composer-max-width) +
        var(--str-chat__message-composer-padding)
    );
    padding-block: var(--str-chat__spacing-xs);
    margin-inline: auto;
  }

  .str-chat__thread-start {
    display: flex;
    padding: var(--str-chat__spacing-xs) var(--str-chat__spacing-none);
    margin-block: var(--str-chat__spacing-xs);
    justify-content: center;
    align-items: center;
    gap: var(--str-chat__spacing-none);
    width: 100%;

    border-top: 1px solid var(--str-chat__border-core-subtle);
    border-bottom: 1px solid var(--str-chat__border-core-subtle);
    background: var(--str-chat__background-core-surface-subtle);
    color: var(--str-chat__chat-text-system);
    font: var(--str-chat__font-metadata-emphasis);
  }
}
