@use '../../../styling/utils';

// todo: once we have designs for dialogs + context menus create base class instead of a mixin
@mixin dialog-base {
  background-color: var(--background-elevation-elevation-4);
  box-shadow: var(--light-elevation-3);
  border-radius: var(--radius-lg);
}

.str-chat__dialog-overlay {
  inset: 0;
  position: absolute;
  height: var(--str-chat__dialog-overlay-height);
  width: 100%;
  z-index: 2;
}

.str-chat__dialog {
  width: 100%;

  .str-chat__dialog__body {
    padding: 0 var(--spacing-xl);
    overflow-y: auto;

    .str-chat__dialog__title {
      margin-bottom: 1rem;
    }
  }

  .str-chat__dialog__controls {
    display: flex;
    justify-content: flex-end;
    gap: var(--spacing-xs);
    padding: var(--spacing-xl);

    .str-chat__dialog__controls-button {
      font: var(--str-chat__caption-emphasis-text);
    }
  }
}

.str-chat__prompt-dialog {
  input[type='text'] {
    width: 100%;
    padding: 0.625rem 1rem;
  }
}
