@use '../../../styling/utils';

.str-chat__viewer {
  @include utils.modal;
  width: 100%;
  max-width: 520px;
  height: 100%;
  max-height: 640px;
  display: flex;
  flex-direction: column;

  .str-chat__viewer__header {
    display: flex;
    align-items: center;
    gap: var(--spacing-xs) var(--spacing-md);
    width: 100%;
    padding: var(--spacing-xl);

    .str-chat__viewer__header__title-group {
      display: flex;
      flex-direction: column;
      gap: var(--spacing-xxs);
      flex: 1;
      min-width: 0;
    }

    .str-chat__viewer__header__title {
      font: var(--str-chat__font-heading-sm);
      color: var(--text-primary);
    }

    .str-chat__viewer__header__description {
      font: var(--str-chat__font-caption-default);
      color: var(--text-secondary);
    }

    .str-chat__viewer__header__go-back-button {
      path {
        fill: none;
        stroke: currentColor;
        stroke-width: 1.5px;
      }
    }

    .str-chat__viewer__header__close-button {
      flex-shrink: 0;
      color: var(--text-primary);
    }
  }

  .str-chat__viewer__body {
    padding: 0 var(--spacing-xl);
    flex: 1;
    min-height: 0;
  }

  .str-chat__viewer__footer {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    width: 100%;
    padding: var(--spacing-xl);

    .str-chat__viewer__footer__controls {
      display: flex;
      align-items: center;
      gap: var(--spacing-xs);
    }
  }
}
