.str-chat__channel-list__header {
  display: flex;
  align-items: center;
  padding: var(--spacing-md);
  width: 100%;

  .str-chat__channel-list__header__title {
    flex: 1;
    font: var(--str-chat__heading-lg-text);
    color: var(--text-primary);
  }
}
