name: test

on: [push]

jobs:
  test:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        node: [10, 12, 14]
        typescript: ['no']
        include:
          - typescript: 'yes'
    steps:
      - uses: actions/checkout@v2
      - uses: actions/setup-node@v2-beta
        with:
          node-version: ${{ matrix.node }}

      - name: Cache Dependencies
        uses: actions/cache@v2
        with:
          path: ./node_modules
          key: ${{ runner.os }}-${{ matrix.node }}-modules-${{ hashFiles('**/yarn.lock') }}

      - name: Install Dependencies & Build
        run: yarn install --frozen-lockfile

      - name: Lint and Test with ${{ matrix.node }}
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
          TYPESCRIPT: ${{ matrix.typescript }}
        run: |
          if [ "$TYPESCRIPT" == "no" ]; then yarn lint; fi
          if [ "$TYPESCRIPT" == "no" ]; then yarn coverage; fi
          if [ "$TYPESCRIPT" == "no" ]; then yarn docs; fi
          if [ "$TYPESCRIPT" == "no" ]; then yarn validate-translations; fi
          if [ "$TYPESCRIPT" == "yes" ]; then yarn types; fi
