name: Compressed Size

on:
  pull_request:
    branches:
      - master
    paths-ignore:
      - '**.test.js'
      - '**.md'
env:
  NODE_OPTIONS: --max_old_space_size=4096

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: preactjs/compressed-size-action@v2
        with:
          repo-token: '${{ secrets.GITHUB_TOKEN }}'
          pattern: './dist/**/*.{js,cjs,css,json}'
