.str-chat__summarized-message-preview {
  display: flex;
  align-items: center;
  gap: var(--str-chat__spacing-xxs);

  flex-grow: 1;
  flex-shrink: 1;
  min-width: 0;

  color: var(--str-chat__text-secondary);
  font-size: var(--str-chat__typography-font-size-sm);
  font-style: normal;
  font-weight: var(--str-chat__typography-font-weight-regular);
  line-height: var(--str-chat__typography-line-height-normal);

  .str-chat__icon {
    flex-shrink: 0;
    width: var(--str-chat__icon-size-sm);
    height: var(--str-chat__icon-size-sm);
  }

  &--error {
    color: var(--text-error);
  }

  &--deleted {
    color: var(--str-chat__text-tertiary);
  }

  .str-chat__summarized-message-preview__text {
    flex: 1;
    min-width: 0;

    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }

  .str-chat__summarized-message-preview__delivery-status {
    display: flex;
    flex-shrink: 0;
    color: var(--str-chat__text-tertiary);

    &--read {
      color: var(--str-chat__accent-primary);
    }
  }

  .str-chat__summarized-message-preview__sender {
    color: var(--str-chat__text-tertiary);
    font-weight: var(--str-chat__typography-font-weight-semi-bold);

    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }
}
