// hide spin buttons form input of type number
/* Chrome, Safari, Edge, Opera */

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type='number'] {
  -moz-appearance: textfield;
}

// Legacy: dialog field layout (if still used elsewhere)
.str-chat__dialog__field {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;

  .str-chat__form-field-error {
    margin-left: 0.5rem;
  }
}