.custom-message-wrapper {
  display: flex;
  padding: 12px;
  width: fit-content;
  border-radius: 16px;
}

.custom-message-wrapper-content {
  display: flex;
  flex-direction: column;
  width: 100%;
}

.right-wrapper {
  margin-left: 80px;
  margin-right: 16px;
  width: 48px;
}

.custom-message-header {
}

.custom-message-header-name {
  color: black;
  font-weight: bold;
  font-size: 14;
}

.str-chat__message-text-inner {
  color: grey;
  background: white;
  border: none;
  padding: 0;
}
.str-chat__message-text-inner p {
  margin: 8px 0;
}

.str-chat__message-simple__actions {
  position: relative;
  display: flex;
  /* margin-left: 80px; */
}
.custom-message-wrapper:hover {
  background: turquoise;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.07);
}

.custom-message-wrapper:hover .str-chat__message-text-inner {
  background: turquoise;
}

.str-chat__li:hover .str-chat__message-simple__actions__action--reactions {
  display: flex;
}

.str-chat__li:hover .str-chat__message-simple__actions__action--options {
  display: flex;
}

.str-chat__li:hover .str-chat__message-simple__actions__action--thread {
  display: flex;
}

.str-chat__message-replies-count-button {
  align-self: flex-start;
}

.str-chat__message-actions-box {
  top: initial;
  right: -8px;
  left: unset;
  bottom: 24px;
  border-radius: 16px;
}

.str-chat__reaction-selector {
  max-height: 40px;
  top: -46px;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid #bed5e4;
}

/** Pinned Message */

.pinned-custom-message-wrapper {
  display: flex;
  padding: 12px;
  width: fit-content;
  border-radius: 16px;
}

.pinned-custom-message-wrapper {
  background: papayawhip;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.07);
}

.pinned-custom-message-wrapper:hover .str-chat__message-text-inner {
  background: papayawhip;
}

.pinned-custom-message-wrapper .str-chat__message-text-inner {
  background: papayawhip;
}
.str-chat__li:hover
  .pinned-custom-message-wrapper
  .str-chat__message-simple__actions__action--reactions {
  display: flex;
}

.str-chat__li:hover
  .pinned-custom-message-wrapper
  .str-chat__message-simple__actions__action--options {
  display: flex;
}

.str-chat__li:hover
  .pinned-custom-message-wrapper
  .str-chat__message-simple__actions__action--thread {
  display: flex;
}
