.wrapper {
  background-color: white;
  color: black;
  font-weight: 800;
  display: flex;
  flex-direction: column;
  border-radius: 8px;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.07);
  border: 1px solid #e0e0e0;
  align-items: center;
  padding: 8px;
}

.str-chat__emojiselect-wrapper:hover .str-chat__tooltip {
  display: none;
}
