/* ------------------------ Message List Item ------------------------  */

.str-chat__li {
  margin: 0px;
  padding: 15px;
  position: relative;

  &:hover {
    background: rgba(0, 0, 0, 0.03);
    .str-chat__message-text-inner {
      background: rgba(0, 0, 0, 0);
    }
  }
}

/* ------------------------ Wrapper and Content Container ------------------------  */

.message-wrapper {
  display: flex;

  &-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    width: 100%;
  }
}

/* ------------------------ Name and Timestamp ------------------------  */

.message-header {
  display: flex;

  &-name {
    font-family: Helvetica Neue, sans-serif;
    font-weight: 500;
    font-size: 11px;
    line-height: 120%;
    color: #858688;
  }

  &-timestamp {
    font-family: Helvetica Neue, sans-serif;
    font-size: 11px;
    line-height: 120%;
    color: #858688;
    margin-left: 6px;
  }
}

/* ------------------------ Message Actions ------------------------  */

.str-chat__li:hover .str-chat__message-simple__actions {
  position: absolute;
  top: -14px;
  right: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 24px;
  border-radius: 100px;
  background: white;
  border: 1px solid #e0e0e0;
  box-shadow: 0 2px 1px 0 rgba(0, 0, 0, 0.07);
  z-index: 1;
  padding: 0 4px 0;

  &__action--reactions {
    display: flex;
  }

  &__action--options {
    display: flex;
  }

  &__action--thread {
    display: flex;
  }
}

.str-chat__message-simple__actions {
  margin-top: 0;
}

/* ------------------------ Message Actions Box ------------------------  */

.str-chat__message-actions-box {
  top: initial;
  left: -100px;
  border-radius: 16px 16px 0 16px;
}

/* ------------------------ Message Text ------------------------  */

.str-chat__message-text {
  display: flex;
  width: 100%;
}

.str-chat__message-text-inner {
  position: relative;
  flex: 1;
  display: block;
  min-height: 32px;
  font-size: 15px;
  color: black;
  border-radius: 0;
  border: 0px;
  margin-left: 0;

  p {
    font-family: Helvetica Neue, sans-serif;
    font-size: 15px;
    line-height: 18px;
    color: #000000;
    margin-bottom: 0;
  }
}

/* ------------------------ Replies Count Button ------------------------  */

.str-chat__message-replies-count-button {
  font-family: Helvetica Neue, sans-serif;
  font-weight: bold;
  font-size: 13px;
  text-align: right;
  color: #4e1d9d;
}

/* ------------------------ Reactions List ------------------------  */

.str-chat__simple-reactions-list {
  border-radius: 10px;
}

/* ------------------------ Reactions Selector ------------------------  */

.str-chat__reaction-selector {
  max-height: 40px;
  top: -58px;
  right: 20px;
  border-radius: 20px;
  background: white;
  box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.15);
  border: 1px solid #bed5e4;
}

/* ------------------------ Message Status ------------------------  */

.str-chat__message-simple-status {
  right: 22px;
}

/* ------------------------ Quoted Message ------------------------  */

.quoted-message-inner {
  margin-top: 10px;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.15);
}

.str-chat__li .quoted-message.mine .quoted-message-inner {
  background: #ebebeb;
}

.channel-preview__container {
  height: 56px;
  margin-bottom: 8px;
  margin-left: 20px;
  margin-right: 20px;
  border-radius: 8px;
  cursor: pointer;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 8px;
}

.channel-preview__container:hover {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.07);
  transition: background 0.1s ease-in-out;
}

.str-chat.dark .channel-preview__container:hover {
  background: #2c2c30;
}

.channel-preview__container.selected {
  background: #ffffff;
  box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.07);
  transition: background 0.1s ease-in-out;
}

.str-chat.dark .channel-preview__container.selected {
  background: #2c2c30;
}

.channel-preview__content-wrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 8px;
  margin-right: 8px;
  width: 100%;
}

.channel-preview__content-top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
  height: 18px;
  margin-bottom: 4px;
}

.channel-preview__content-name {
  font-family: Helvetica Neue, sans-serif;
  font-weight: 500;
  font-size: 15px;
  color: #000000;
  margin: 0;
  max-width: 158px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.str-chat.dark .channel-preview__content-name {
  color: #ffffff;
}

.channel-preview__content-time {
  font-family: Helvetica Neue, sans-serif;
  font-size: 11px;
  color: #858688;
  margin: 0;
}

.channel-preview__content-message {
  font-family: Helvetica Neue, sans-serif;
  font-size: 13px;
  line-height: 16px;
  margin: 0;
  color: #858688;
  height: 16px;
  max-width: 200px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.channel-preview__container .str-chat__avatar {
  margin-right: 0;
}

.channel-preview__avatars {
  display: flex;
  align-items: center;
  height: 40px;
  min-width: 40px;
  max-width: 40px;
  border-radius: 20px;
  overflow: hidden;
}

.channel-preview__avatars.two div:first-child {
  position: relative;
  right: 10px;
}

.channel-preview__avatars.two div:nth-child(2) {
  position: relative;
  right: 30px;
}

.channel-preview__avatars.two span {
  width: 20px;
  overflow: hidden;
}

.channel-preview__avatars.three span {
  width: 20px;
  overflow: hidden;
}


